<div class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"

                    appBootstrapCollapse="#header-navbar"

                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">

                <img src="/assets/logo.png">

            </a>
        </div>


        <div class="collapse navbar-collapse" id="header-navbar">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" appTrackClick [routerLinkActiveOptions]="{exact: true}">
                    <a routerLink="/u">Dashboard</a>
                </li>

                <li class="dropdown" routerLinkActive="active">
                    <a href="#" appDropdownToggler appTrackClick>Groups</a>

                    <ul class="dropdown-menu">
                        <li>
                            <a routerLink="/u/subscribers"
                               appTrackClick
                               [appAllowDisable]="[UserRole.SUPER_ADMIN]">
                                Account Management
                            </a>
                        </li>
                        <li><a routerLink="/u/users" appTrackClick>Users</a></li>
                    </ul>

                </li>

                <li><a href="#">Equipment & Services</a></li>
                <li><a href="#">Inventory</a></li>
                <li><a href="#">Expenses</a></li>
                <li><a href="#">Reports</a></li>
                <li class="dropdown" routerLinkActive="active">
                    <a href="#" appDropdownToggler appTrackClick>Administration</a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/u/venues" appTrackClick>Properties</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" appDropdownToggler appTrackClick>
                        <span appCurrentUser="username"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a appLogoutClick>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>
</div>
