<form [formGroup]="form" (submit)="submit()">
    <div id="popup-subscriber-info">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left account-type">
                    <div class="form-field -required">
                        <label>Account Type</label>
                        <label class="custom-radio">
                            <input
                                [value]="accountType.Client"
                                formControlName="accountType"
                                type="radio">
                            <span class="-radio"></span> Client
                        </label>
                        <label class="custom-radio">
                            <input
                                [value]="accountType.House"
                                formControlName="accountType"
                                type="radio">
                            <span class="-radio"></span> House
                        </label>
                    </div>
                </div>
                <div class="popup-body-header-left popup-body-header-status">
                    <span class="fs-17">Status</span>
                    &nbsp;
                    <label class="custom-checkbox -type-2">
                        <input type="checkbox" formControlName="status">
                        <span class="-checkbox"></span> Active
                    </label>
                </div>
                <h3>&nbsp;</h3>
            </div>
            <div class="form-section-title" style="margin-top:-11px"><span>Account Information</span></div>
            <div class="popup-body-left">
                <div class="form-field -required">
                    <label>Company/Organization</label>
                    <input type="text" formControlName="name">
                </div>

                <div class="form-field -required">
                    <label>Address</label>
                    <input type="text" formControlName="address">
                </div>

                <div class="form-field">
                    <label>Address 2</label>
                    <input type="text" formControlName="address2">
                </div>

                <div class="form-field -required">
                    <label>City</label>
                    <input type="text" formControlName="city">
                </div>

                <div class="form-field">
                    <label>State / Province</label>
                    <!--<select formControlName="stateId" appStateList (loaded)="statesAreLoaded($event)"></select>-->
                    <app-select formControlName="stateId"
                                (loaded)="statesAreLoaded($event)"
                                [fetcher]="SelectFetchType.State"></app-select>
                </div>
                <div class="form-field -required">
                    <label>Zip/Postal Code</label>
                    <input formControlName="postCode" type="text">
                </div>
            </div>
            <div class="popup-body-right">
                <div class="form-field -required">
                    <label>Country</label>
                    <!--<select formControlName="countryId" appCountryList (loaded)="countriesAreLoaded($event)"></select>-->
                    <app-select formControlName="countryId"
                                (loaded)="countriesAreLoaded($event)"
                                [fetcher]="SelectFetchType.Country"></app-select>
                </div>
                <div class="form-field">
                    <label>Office/Branch</label>
                    <input formControlName="branch" type="text">
                </div>
                <div class="form-field -required">
                    <label>Phone</label>
                    <!--<input formControlName="phone" type="text">-->
                    <app-masked-input formControlName="phone"></app-masked-input>
                </div>
                <div class="form-field">
                    <label>Fax</label>
                    <input formControlName="fax" type="text">
                </div>
                <div class="form-field">
                    <label>Website</label>
                    <input formControlName="website" type="text">
                </div>
            </div>
            <div class="float-clear"></div>
            <div class="popup-body-left" style="margin-top:-15px">
                <!--<div class="form-section-title">-->
                    <!--<span>Contact Terms</span>-->
                <!--</div>-->
                <!--<div class="form-field">-->
                    <!--<label>Master Agreement</label>-->
                    <!--<label class="-normal">-->
                        <!--<input type="checkbox" formControlName="agreement">-->
                        <!--Check This to Display Master-->
                        <!--<br>-->
                        <!--Agreement Terms-->
                    <!--</label>-->
                <!--</div>-->
            </div>
            <div class="popup-body-right" style="margin-top:-15px; display: none;">

                <div class="form-section-title"><span>Company Logo</span></div>
                <div class="popup-subscriber-info-logo" *ngIf="form.get('logoUrl').value">
                    <img [src]="form.get('logoUrl').value">
                </div>
                <div class="popup-subscriber-info-file">
                    <app-file-uploader
                        formControlName="logoUrl"
                        [fileUploader]="uploader">
                    </app-file-uploader>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" class="button" [disabled]="form.invalid || submitting">{{mode | formModeToText}}</button>
                <a routerLink="/u/subscribers" class="button">Cancel</a>
            </div>
        </div>
    </div>
</form>
