.popup-body
    min-height: 350px !important;

.vendor-contact
    padding-left: 135px!important
    label
        margin-left: -170px!important
        width: 150px!important

.assign-to
    .custom-radio
        margin: 0!important
        width: auto!important
        &:last-child
            margin-left: 8px!important

#popup-contact-person .form-field
    padding-right: 18px
