<div class="popup-shader -visible"></div>
<div class="popup " appAddClassAfterTime="-visible">
    <a [routerLink]="backLink" class="popup-close"></a>
    <div class="popup-header">{{formMode() | async}} Ticket</div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div id="popup-contact-person">
                <div class="popup-body">
                    <div class="popup-body-header">
                        <h3>Ticket</h3>
                    </div>
                    <div class="popup-body-left">

                        <div class="form-field -required">
                            <label>Ticket Title</label>
                            <input type="text" formControlName="title">
                        </div>
                        <div class="form-field -required">
                            <label>Issue</label>
                            <input type="text" formControlName="description">
                        </div>
                        <div class="form-field">
                            <label>Reminder</label>
                            <app-date-time-picker formControlName="reminderTime"></app-date-time-picker>
                            <!--<app-calendar formControlName="reminderTime"></app-calendar>-->
                        </div>

                    </div>
                    <div class="popup-body-right">
                        <div class="form-field assign-to -required">
                            <label>Assign To</label>
                            <label class="custom-radio">
                                <input type="radio" formControlName="assigneeType" [value]="TicketAssignee.Venue">
                                <span class="-radio"></span>
                                Internal Personnel
                            </label>
                            <label class="custom-radio">
                                <input type="radio" formControlName="assigneeType" [value]="TicketAssignee.Vendor">
                                <span class="-radio"></span>
                                Vendor
                            </label>
                        </div>
                        <div class="form-field -required"
                             *ngIf="form.get('assigneeType').value == TicketAssignee.Vendor">
                            <label>Vendor</label>
                            <app-select
                                formControlName="vendorId"
                                [fetcher]="SelectFetchType.Vendor"></app-select>
                        </div>
                        <div class="form-field -required vendor-contact"
                             *ngIf="form.get('assigneeType').value == TicketAssignee.Vendor">
                            <label>Vendor Contact</label>

                            <app-select
                                formControlName="vendorContactId"
                                [factoryArgs]="form.get('vendorId').value"
                                [fetcher]="vendorContactFetchFactory"></app-select>

                            <!--<app-vendor-contact-dropdown-->
                            <!--formControlName="vendorContactId"-->
                            <!--[disableControl]="form.get('assigneeType').value == TicketAssignee.Venue"-->
                            <!--[vendorId]="form.get('vendorId').value"-->
                            <!--&gt;</app-vendor-contact-dropdown>-->
                        </div>
                        <div class="form-field -required vendor-contact"
                             *ngIf="form.get('assigneeType').value == TicketAssignee.Venue">
                            <label>Personnel Contact</label>
                            <app-select
                                formControlName="venueContactId"
                                [fetcher]="SelectFetchType.VenueContact"></app-select>
                            <!--<app-venue-contact-dropdown-->
                            <!--formControlName="venueContactId"-->
                            <!--&gt;</app-venue-contact-dropdown>-->
                        </div>
                        <div class="form-field -required">
                            <label>Status</label>
                            <select formControlName="ticketStatus">
                                <option [selected]="true">Please Select...</option>
                                <option [value]="ticketStatus.Open">{{ticketStatus.Open}}</option>
                                <option [value]="ticketStatus.InProgress">{{ticketStatus.InProgress}}</option>
                                <option [value]="ticketStatus.Completed">{{ticketStatus.Completed}}</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-footer-buttons">
                        <button class="button" type="submit"
                                [disabled]="form.invalid">
                            {{formMode() | async}}
                        </button>
                        <a [routerLink]="backLink" class="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
