<form [formGroup]="form">
    <div class="content-header">
        <div class="content-header-center">
            {{date}}
        </div>
    </div>
    <div class="content-left-col">
        <div class="form-field -required">
            <label>Set Time</label>

            <!--<input type="text" formControlName="setTime">-->

            <app-masked-input formControlName="setTime" [mask]="'hh:mm'"></app-masked-input>

            <!--<app-select [fetcher]="SelectFetchType.Time" formControlName="setTime"></app-select>-->

            <!--<select formControlName="setTime" class="field-time">-->
                <!--<option [value]="time" *ngFor="let time of times">-->
                    <!--{{time}}-->
                <!--</option>-->
            <!--</select>-->
        </div>
        <div class="form-field -required">
            <label>Start Time</label>
            <!--<input type="text" formControlName="startTime">-->

            <app-masked-input formControlName="startTime" [mask]="'hh:mm'"></app-masked-input>

            <!--<select formControlName="startTime" class="field-time">-->
                <!--<option [value]="time" *ngFor="let time of times">-->
                    <!--{{time}}-->
                <!--</option>-->
            <!--</select>-->
            <!--<app-select [fetcher]="SelectFetchType.Time" formControlName="startTime"></app-select>-->
        </div>
        <div class="form-field -required">
            <label>End Time</label>
            <!--<input type="text" formControlName="endTime">-->

            <app-masked-input formControlName="endTime" [mask]="'hh:mm'"></app-masked-input>

            <!--<select formControlName="endTime" class="field-time">-->
                <!--<option [value]="time" *ngFor="let time of times">-->
                    <!--{{time}}-->
                <!--</option>-->
            <!--</select>-->
            <!--<app-select [fetcher]="SelectFetchType.Time" formControlName="endTime"></app-select>-->
        </div>
        <div class="form-field">
            <br>
            <label class="custom-checkbox">
                <input formControlName="houseHold24" type="checkbox">
                <span class="-checkbox"></span>
                24 Hours Hold
            </label>
        </div>
        <div class="form-field">
            <label class="custom-checkbox">
                <input formControlName="setupDay" type="checkbox" name="">
                <span class="-checkbox"></span>
                Setup Day
            </label>
        </div>
    </div>
    <div class="content-right-col">
        <div class="form-field">
            <label>BEO</label>
            <input formControlName="beo" type="text">
        </div>
        <div class="form-field">
            <label>Workflow Note</label>
            <input formControlName="workflowNote" type="text">
        </div>
        <div class="form-field">
            <label>Client Note</label>
            <input formControlName="clientNote" type="text">
        </div>
    </div>
</form>
