<div class="popup-shader -visible"></div>
<div class="popup -revenue" appAddClassAfterTime="-visible">
    <a routerLink="/u/category-management" class="popup-close"></a>
    <div class="popup-header">{{ formMode() | async }} Category</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body -auto-height">
            <div class="popup-body-center -padding-30 -narrow">
                <div class="form-field -required">
                    <label>Name</label>
                    <input formControlName="name" type="text">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" [disabled]="form.invalid || form.pristine" class="button">{{ formMode() | async }}</button>
                <a routerLink="/u/category-management" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
