<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Inventory</h1>
    </div>
</div>
<app-inventory-paging-prev (prev)="onPrev($event)"></app-inventory-paging-prev>
<app-inventory-paging-next (next)="onNext($event)"></app-inventory-paging-next>
<div id="body" class="manage-inventory -wizard -step-3">
    <div class="steps four-steps -step-3">
        <div class="inner">
            <app-inventory-creation-steps [inventoryId]="entityId() | async"
                                          [step]="stepType.AssetStatus"></app-inventory-creation-steps>
        </div>
    </div>
    <div class="heading-block">
        <div class="inner">
            <div class="heading-block-left">
                <h2>Asset Condition Status</h2>
            </div>
        </div>
    </div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="content-block">
            <div class="inner">
                <div class="content-center-col">
                    <div class="form-field -required -wider-50">
                        <label>Condition Rating</label>
                        <label class="custom-radio">
                            <input type="radio" [value]="rating.Excellent" formControlName="rating">
                            <span class="-radio"></span>
                            Excellent
                        </label>
                        <label class="custom-radio">
                            <input type="radio" [value]="rating.Acceptable" formControlName="rating">
                            <span class="-radio"></span>
                            Acceptable
                        </label>
                        <label class="custom-radio">
                            <input type="radio" [value]="rating.SubStandard" formControlName="rating">
                            <span class="-radio"></span>
                            Sub-Standard
                        </label>
                    </div>
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="condition">
                            <option [selected]="true">Please Select...</option>
                            <option [value]="status.Active">{{status.Active}}</option>
                            <option [value]="status.AtRepair">{{status.AtRepair}}</option>
                            <option [value]="status.Broken">{{status.Broken}}</option>
                            <option [value]="status.Missing">{{status.Missing}}</option>
                            <option [value]="status.Removed">{{status.Removed}}</option>
                            <option [value]="status.ServiceRequired">{{status.ServiceRequired}}</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Status Comment</label>
                        <input formControlName="comment" type="text" class="text">
                    </div>
                </div>

            </div>
        </div>
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Asset History</h2>
                </div>
                <div class="heading-block-right">
                    <div class="form-field" style="padding: 0; margin: 0;">
                        <a [routerLink]="'/u/inventory/' + (entityId() | async) + '/asset-status/ticket/add'"
                           class="button">
                            Create Ticket
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <app-asset-status-history #history [inventoryId]="entityId() | async"></app-asset-status-history>

        <div class="bottom-buttons">
            <a appTrackClick [routerLink]="'/u/inventory/' + (entityId() | async) + '/service-and-maintenance'"
               class="button">Back</a>
            <button appTrackClick [disabled]="form.invalid || isLoading" type="submit" class="button -inverted -wider">
                {{formMode() |
                async}} & Go To Next Step
            </button>
            <button appTrackClick type="button" (click)="cancel()" class="button">Cancel</button>
        </div>
    </form>
</div>

<router-outlet></router-outlet>
