<form [formGroup]="form">
    <label class="custom-radio">
        <input type="radio" [value]="searchType.Equipments" formControlName="searchType">
        <span class="-radio"></span>
        Equipment &amp; Services
    </label>

    <label class="custom-radio">
        <input type="radio" [value]="searchType.Packages" formControlName="searchType">
        <span class="-radio"></span>
        Package
    </label>

    <input formControlName="search" type="search" placeholder="Search Equipment & Services..." style="min-width:360px">
</form>

<div class="form-field-sep -s35"></div>
<div class="content-table">
    <h4>Search Result</h4>
    <div class="content-table-header">
        <table>
            <colgroup>
                <col width="4%">
                <col width="96%">
                <!--<col width="53%">-->
                <!--<col width="13%">-->
            </colgroup>
            <tr>
                <th></th>
                <th>Equipment & Services / Packages</th>
                <!--<th>Description</th>-->
                <!--<th>Unit Price ($)</th>-->
            </tr>
        </table>
    </div>
    <div class="content-table-body">
        <table>
            <colgroup>
                <col width="4%">
                <col width="96%">
                <!--<col width="53%">-->
                <!--<col width="13%">-->
            </colgroup>
            <tr *ngFor="let item of itemsList" [class.disabled-row]="(item.type === searchType.Equipments ? ((selectedServiceIds | async)[item.id]) : ((selectedPackageIds | async)[item.id]))">
                <td style="text-align: center">
                    <label class="custom-checkbox -type-3 -no-label">
                        <input type="checkbox" [(ngModel)]="item.selected">
                        <span class="-checkbox"></span>
                    </label>
                </td>
                <td>{{item.title}}</td>
                <!--<td>{{item.description}}</td>-->
                <!--<td>{{item.unitPrice | number:'1.2-2'}}</td>-->
            </tr>
        </table>
    </div>
</div>

<div class="content-buttons">
    <button [disabled]="!areItemsSelected" (click)="add()" type="button" class="button">Add</button>
</div>
