<div class="popup-shader -visible"></div>
<form [formGroup]="form" (submit)="submit()">
    <div class="popup" appAddClassAfterTime="-visible">
        <a routerLink="/u/storage-spaces" class="popup-close"></a>
        <div class="popup-header">{{formMode() | async | formModeToText}} Storage Space</div>
        <div class="popup-tabs-container">

            <div class="popup-body event-space">
                <div class="popup-body-left">
                    <div class="form-field -required">
                        <label>Name</label>
                        <input formControlName="name" type="text">
                    </div>
                    <div class="form-field">
                        <label>Notes</label>
                        <textarea formControlName="notes"></textarea>
                    </div>
                </div>
                <div class="popup-body-right">
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="status">
                            <option [value]="storageSpaceStatus.Inactive">{{storageSpaceStatus.Inactive}}</option>
                            <option [value]="storageSpaceStatus.Active">{{storageSpaceStatus.Active}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="popup-footer-buttons">
                    <button type="submit" class="button" [disabled]="form.invalid">
                        {{formMode() | async | formModeToText}}
                    </button>
                    <a routerLink="/u/storage-spaces" class="button">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
