<div class="heading-block">
    <div class="inner">
        <div class="heading-block-left">
            <h2>Add Equipment & Services</h2>
        </div>
    </div>
</div>
<div class="content-block">
    <div class="inner">
        <div class="content-inner">
            <!--<app-function-equipments-search [functionDays]="days" [startDate]="startDate" [endDate]="endDate"></app-function-equipments-search>-->
            <!--<div class="content-table-big-arrow-down"></div>-->
            <app-function-equipments-selected [functionDays]="days" [startDate]="startDate" [endDate]="endDate" [IsCodeValid]="IsCodeValid"></app-function-equipments-selected>
        </div>
    </div>
</div>
