<div class="heading-block">
    <div class="inner">
        <div class="heading-block-left">
            <h2>Add Items</h2>
        </div>
    </div>
</div>
<div class="content-block">
    <div class="inner">

        <form [formGroup]="filterForm" (submit)="applyFilters()">
            <div class="content-left-col">
                <ng-container *ngIf="filterForm.get('itemType').value === packageItemType.Equipment">
                    <div class="form-field">
                        <label>Category</label>
                        <!--<app-inventory-category-dropdown formControlName="categoryId" [addAllOption]="true"></app-inventory-category-dropdown>-->
                        <app-select
                            formControlName="categoryId"
                            [allOption]="true"
                            [fetcher]="SelectFetchType.InventoryCategory"></app-select>
                    </div>
                    <div class="form-field">
                        <label>Sub Category</label>
                        <app-select
                            formControlName="subCategoryId"
                            [allOption]="true"
                            [factoryArgs]="filterForm.get('categoryId').value"
                            [fetcher]="inventorySubCategoryFetchFactory"></app-select>
                        <!--<app-inventory-sub-category-dropdown formControlName="subCategoryId" [addAllOption]="true" [categoryId]="filterForm.get('categoryId').value"></app-inventory-sub-category-dropdown>-->
                    </div>
                </ng-container>
                <div class="form-field">
                    <label>Search</label>
                    <input type="text" formControlName="search">
                </div>
            </div>
            <div class="content-buttons">
                <button appTrackClick type="submit" class="button">Search</button>
                <button appTrackClick type="button" class="button" (click)="cancel()">Cancel</button>
            </div>
        </form>

        <div class="form-field-sep -pt0"></div>

        <div class="tbt -no-headers">

            <div style="display: none;">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>

            <div class="tbt-left">
                <div class="content-table -no-scroll">
                    <div class="content-table-header">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="90%">
                            </colgroup>
                            <tr>
                                <th></th>
                                <th>Item Name</th>
                            </tr>
                        </table>
                    </div>
                    <div class="content-table-body">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="90%">
                            </colgroup>
                            <tbody app-paging-table
                                   #table
                                   [loadFunction]="loadFunction()"
                                   [defaultSortColumnKey]="'name'">

                            <tr *appPagingTableRow="let item;" [class.disabled]="packageItemsManager.isActual(item)">
                                <td style="text-align:center">
                                    <label class="custom-checkbox -type-3 -no-label">
                                        <input type="checkbox"
                                               appTrackClick
                                               [disabled]="packageItemsManager.isActual(item)"
                                               (click)="checkedLeft($event, item)">
                                        <span class="-checkbox"></span>
                                    </label>
                                </td>
                                <td>
                                    <a [routerLink]="item.url" *ngIf="item.url" target="_blank">
                                        {{item.title}}
                                    </a>
                                    <span *ngIf="!item.url">{{item.title}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <app-paging-table-paging></app-paging-table-paging>
                    </div>
                </div>
            </div>


            <div class="tbt-center">
                <button (click)="add()" type="button" class="button -arrow-right -inverted">Add</button>
                <button (click)="remove()" type="button" class="button -arrow-left">Remove</button>
            </div>
            <div class="tbt-right">
                <div class="content-table">
                    <div class="content-table-header">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="70%">
                                <col width="20%">
                            </colgroup>
                            <tr>
                                <th></th>
                                <th>Item Name</th>
                                <th>Quantity</th>
                            </tr>
                        </table>
                    </div>
                    <div class="content-table-body">
                        <table>
                            <colgroup>
                                <col width="10%">
                                <col width="70%">
                                <col width="20%">
                            </colgroup>
                            <tbody>
                            <tr *ngFor="let item of packageItemsManager.actualItemsList; let i = index;">
                                <td style="text-align:center">
                                    <label class="custom-checkbox -type-3 -no-label">
                                        <input type="checkbox" appTrackClick (click)="checkedRight($event, item)">
                                        <span class="-checkbox"></span>
                                    </label>
                                </td>
                                <td>{{item.title}}</td>
                                <td>
                                    <input type="number" onkeypress="return event.charCode >= 48" min="0" (input)="changedCount()" [(ngModel)]="item.count">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
