<div class="content-block">
    <div class="inner">
        <table class="simple-table">
            <colgroup>
                <col width="12%">
                <col width="10%">
                <col width="68%">
                <col width="10%">
            </colgroup>
            <tr>
                <th>Date</th>
                <th>Ticket #</th>
                <th>Comment</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let ticket of ticketsList">
                <td>
                    {{ticket.creationTime | date:'MM / dd / yyyy'}}
                </td>
                <td>{{ticket.id}}</td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.ticketStatus}}</td>
            </tr>
        </table>
    </div>
</div>
