<select [formControl]="formControl">
    <option [value]="null" *ngIf="pleaseSelect" selected>Please select...</option>
    <option *ngFor="let option of options;" [value]="option.value">
        {{option.display}}
    </option>
</select>