<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Cost Categories</h1>
    </div>
</div>

<div style="display: none">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="records-form">
    <div class="inner">
        <div class="records-form-search">
            <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        </div>
        <div class="records-form-dropdowns">
            <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
        </div>
        <div class="records-form-label">Items Per Page:</div>
    </div>
</div>

<div id="body" class="revenue">
    <div class="complex-table" appRzTable [rzDisabledColumns]="[2, 1]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="66%">
                        <col width="26%">
                        <col width="8%">
                    </colgroup>
                    <tr>
                        <th><span class="title">Cost Category</span></th>
                        <th><span class="title">GL CODE</span></th>
                        <th><span class="title">Action</span></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="66%">
                        <col width="26%">
                        <col width="8%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="''">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.costCategoryName}}</td>
                        <td>{{item.costCode}}</td>
                        <td class="-icon-buttons">
                            <a [routerLink]="'/u/cost-category/' + item.costCategoryId" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <!--<tr>-->
                        <!--<td>Equipment</td>-->
                        <!--<td>14567</td>-->
                        <!--<td class="-icon-buttons">-->
                            <!--<a routerLink="/u/cost-category/add" class="icon">-->
                                <!--<i class="fa fa-pencil"></i>-->
                            <!--</a>-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
