<div class="popup-body-header">
    <div class="popup-body-header-left">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
    </div>
    <div class="popup-body-header-right">
        <!--<a [routerLink]="formLink" class="red-plus">-->
        <!--<span class="red-plus-tooltip">Add New User</span>-->
        <!--</a>-->
    </div>
</div>
<div class="popup-users-list-table">
    <div class="header-container">
        <table class="simple-table">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <thead>
                <tr>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Products</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-container">
        <table class="simple-table">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="'firstName'">
                <tr *appPagingTableRow="let item;">
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.roles | userRolesToText}}</td>
                    <td>
                        <app-user-access-control [user]="item" [subscriberId]="subscriberId"></app-user-access-control>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div style="display: none;">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="popup-users-list-search">
</div>

<div class="pagination">
    <app-paging-table-paging></app-paging-table-paging>
</div>
