<div class="header-container">
    <table class="simple-table">
        <colgroup>
            <col width="34%">
            <col width="33%">
            <col width="33%">
        </colgroup>
        <thead>
            <tr>
                <th>Payment Date</th>
                <th>Payment Amount</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>

<app-paging-table-search hidden></app-paging-table-search>

<div class="table-container">
    <table class="simple-table">
        <colgroup>
            <col width="34%">
            <col width="33%">
            <col width="33%">
        </colgroup>
        <tbody app-paging-table #table [loadFunction]="load" [defaultSortColumnKey]="'date'">
            <tr *appPagingTableRow="let item;">
                <td>{{item.date | date }}</td>
                <td>{{item.price}}</td>
                <td>{{getStatusName(item.status)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="display: none;">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="pagination">
    <app-paging-table-paging></app-paging-table-paging>
</div>
