<div class="property-block">
    <div class="inner">
        <table class="simple-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Comment</th>
                <th>
                    <a appTrackClick [routerLink]="'/u/tickets/' + ticketId + '/comment/add'" class="red-plus -right bottom">
                        <span class="red-plus-tooltip">Add New Comment</span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments">
                <td>
                    {{comment.creationTime | date}}
                </td>
                <td>
                    {{comment.description}} &nbsp;
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
