<form [formGroup]="form" (submit)="submit()">
    <div id="title" class="text-center">
        <div class="inner">
            <div class="title-image">
                <app-venue-logo></app-venue-logo>
            </div>
            <h1>{{formMode() | async}} Ticket</h1>
        </div>
    </div>
    <div id="body" class="property">
        <div class="property-block">
            <div class="inner">
                <div class="property-left-col">
                    <div class="form-field">
                        <label>Choose</label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="ticketFor" [value]="ticketFor.Inventory">
                            <span class="-radio"></span>
                            {{ticketFor.Inventory}}
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="ticketFor" [value]="ticketFor.System">
                            <span class="-radio"></span>
                            {{ticketFor.System}}
                        </label>
                    </div>
                </div>
                <div class="property-right-col">
                    <ng-container *ngIf="form.get('ticketFor').value === ticketFor.Inventory">

                        <div class="form-field ">
                            <label>Inventory Category</label>
                            <app-select
                                formControlName="inventoryCategoryId"
                                [allOption]="true"
                                [fetcher]="SelectFetchType.InventoryCategory"></app-select>
                        </div>
                        <div class="form-field" *ngIf="form.get('inventoryCategoryId').value">
                            <label>Inventory Sub Category</label>
                            <app-select
                                formControlName="inventorySubCategoryId"
                                [allOption]="true"
                                [factoryArgs]="form.get('inventoryCategoryId').value"
                                [fetcher]="inventorySubCategoryFetchFactory"></app-select>
                        </div>
                        <div class="form-field">
                            <label>Inventory</label>
                            <app-select
                                #inventory
                                formControlName="inventoryId"
                                (itemNotFound)="inventoryNotFound($event)"
                                [factoryArgs]="{categoryId: form.get('inventoryCategoryId').value, subCategoryId: form.get('inventorySubCategoryId').value}"
                                [fetcher]="inventoryFetchFactory"></app-select>
                        </div>
                        <app-storage-location [formField]="true" [inventoryId]="form.get('inventoryId').value"></app-storage-location>
                    </ng-container>

                    <ng-container *ngIf="form.get('ticketFor').value === ticketFor.System">
                        <div class="form-field" style="display: none">
                            <label>Search</label>
                            <input type="text" formControlName="systemSearch"/>
                        </div>
                        <div class="form-field">
                            <label>System</label>
                            <app-select
                                formControlName="systemId"
                                [factoryArgs]="form.get('systemSearch').value"
                                [fetcher]="systemFetchFactory"></app-select>
                            <!--<app-system-dropdown formControlName="systemId"-->
                                                 <!--[searchTerm]="form.get('systemSearch').value"></app-system-dropdown>-->
                        </div>
                    </ng-container>


                </div>

                <div style="clear: both;"></div>
                <hr>

                <div class="property-left-col">
                    <div class="form-field" *ngIf="currentEntityId">
                        <label>Ticket Number</label>
                        <strong class="text-purple fs-24 lh-40">{{currentEntityId}}</strong>
                    </div>
                    <div class="form-field -required">
                        <label>Ticket Title</label>
                        <input type="text" formControlName="title">
                    </div>
                    <div class="form-field -required">
                        <label>Summary of Issue</label>
                        <input type="text" formControlName="description">
                    </div>
                    <div class="form-field">
                        <label>Reminder Time</label>
                        <!--<app-calendar formControlName="reminderTime" [minDate]="today"></app-calendar>-->
                        <app-date-time-picker formControlName="reminderTime" [minDate]="today"></app-date-time-picker>
                    </div>
                </div>
                <div class="property-right-col">
                    <div class="form-field -required">
                        <label>Assign To</label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="assigneeType" [value]="TicketAssignee.Venue">
                            <span class="-radio"></span>
                            Internal Personnel
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="assigneeType" [value]="TicketAssignee.Vendor">
                            <span class="-radio"></span>
                            Vendor
                        </label>
                    </div>
                    <div class="form-field -required" *ngIf="form.get('assigneeType').value == TicketAssignee.Vendor">
                        <label>Vendor</label>
                        <app-select
                            formControlName="vendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                    </div>
                    <div class="form-field -required" *ngIf="form.get('assigneeType').value == TicketAssignee.Vendor">
                        <label>Vendor Contact</label>
                        <app-select
                            formControlName="vendorContactId"
                            [factoryArgs]="form.get('vendorId').value"
                            [fetcher]="vendorContactFetchFactory"></app-select>
                        <!--<app-vendor-contact-dropdown-->
                            <!--formControlName="vendorContactId"-->
                            <!--[disableControl]="form.get('assigneeType').value == TicketAssignee.Venue"-->
                            <!--[vendorId]="form.get('vendorId').value"-->
                        <!--&gt;</app-vendor-contact-dropdown>-->
                    </div>
                    <div class="form-field -required" *ngIf="form.get('assigneeType').value == TicketAssignee.Venue">
                        <label>Personnel Contact</label>
                        <app-select
                            formControlName="venueContactId"
                            [fetcher]="SelectFetchType.VenueContact"></app-select>
                        <!--<app-venue-contact-dropdown-->
                            <!--formControlName="venueContactId"-->
                        <!--&gt;</app-venue-contact-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="ticketStatus">
                            <option [value]="ticketStatus.Open">{{ticketStatus.Open}}</option>
                            <option [value]="ticketStatus.InProgress">{{ticketStatus.InProgress}}</option>
                            <option [value]="ticketStatus.Completed">{{ticketStatus.Completed}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <app-ticket-comments
            *ngIf="(formMode() | async) === formModeEnum.Edit"
            [comments]="comments"
            [ticketId]="entityId() | async"
        >
        </app-ticket-comments>

        <router-outlet></router-outlet>

        <div class="bottom-buttons">
            <button class="button" appTrackClick [disabled]="form.invalid" type="submit">
                {{formMode() | async}}
            </button>
            <a appTrackClick routerLink="/u/tickets" class="button">
                Cancel
            </a>
        </div>

    </div>
</form>
