<div class="popup-shader" [class.-visible]="popupVisible"></div>
<div class="popup" [class.-visible]="popupVisible" *ngIf="popupVisible">
    <a (click)="close()" class="popup-close"></a>
    <div class="popup-header">{{formMode}} Equipment Item</div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div id="equipment-item-form">
                <div class="popup-body">
                    <div class="popup-body-header">
                        <h3>Equipment Item</h3>
                    </div>
                    <div class="popup-body-left">
                        <div class="form-field -required">
                            <label>Category</label>
                            <app-select
                                #category
                                formControlName="categoryId"
                                [fetcher]="SelectFetchType.InventoryCategory"></app-select>
                            <!--<app-inventory-category-dropdown [pleaseSelect]="true" #category formControlName="categoryId"></app-inventory-category-dropdown>-->
                        </div>
                        <div class="form-field -required">
                            <label>Sub Category</label>
                            <app-select
                                #subCategory
                                formControlName="subCategoryId"
                                [factoryArgs]="form.get('categoryId').value"
                                [fetcher]="inventorySubCategoryFetchFactory"></app-select>
                            <!--<app-inventory-sub-category-dropdown-->
                            <!--#subCategory-->
                            <!--formControlName="subCategoryId"-->
                            <!--[pleaseSelect]="true"-->
                            <!--[categoryId]="form.get('categoryId').value"-->
                            <!--[disableControl]="!form.get('categoryId').value"-->
                            <!--&gt;</app-inventory-sub-category-dropdown>-->
                        </div>
                        <div class="form-field -required">
                            <label>Equipment / Service Item</label>
                            <app-select
                                #subCategoryItem
                                formControlName="itemId"
                                [factoryArgs]="form.get('subCategoryId').value"
                                [fetcher]="inventorySubCategoryItemFetchFactory"></app-select>
                            <!--<app-equipment-dropdown-->
                            <!--#subCategoryItem-->
                            <!--formControlName="itemId"-->
                            <!--(changed)="setUnitCost($event)"-->
                            <!--[pleaseSelect]="true"-->
                            <!--[subCategoryId]="form.get('subCategoryId').value"-->
                            <!--[disableControl]="!form.get('subCategoryId').value"-->
                            <!--&gt;</app-equipment-dropdown>-->
                        </div>
                        <ng-container *ngIf="!selectedPurchaseType">
                        <div class="form-field -required">
                            <label>Arrive Date</label>
                            <app-calendar formControlName="arriveDate"></app-calendar>
                        </div>
                        <div class="form-field -required">
                            <label>Pickup Date</label>
                            <app-calendar formControlName="pickupDate"></app-calendar>
                        </div>
                        <div class="form-field -required">
                            <label>Rental Days</label>
                            <input formControlName="rentalDays" type="number" appNumberInput>
                        </div>
                    </ng-container>
                    </div>
                    <div class="popup-body-right">
                        <div class="form-field -required">
                            <label>Quantity</label>
                            <input formControlName="quantity" type="number" appNumberInput>
                        </div>
                        <div class="form-field -required">
                            <label>Unit Cost</label>
                            <app-masked-input
                                formControlName="unitCost"
                                [mask]="'currency'"
                                [options]="{rightAlign: false}"></app-masked-input>
                            <!--<input formControlName="unitCost" type="number" appNumberInput>-->
                        </div>
                        <div class="form-field -required">
                            <label>Total Cost</label>
                            <input [value]="'$ ' + totalCost.toFixed(2)" disabled type="text" appNumberInput>
                            <!--<app-masked-input-->
                                <!--formControlName="totalCost"-->
                                <!--class="inaccessible"-->
                                <!--[mask]="'currency'"-->
                                <!--[options]="{rightAlign: false}"></app-masked-input>-->
                        </div>
                        <ng-container *ngIf="!selectedPurchaseType">
                        <div class="form-field -required">
                            <label>Guest Charge</label>
                            <app-masked-input
                                formControlName="guestCharge"
                                [mask]="'currency'"
                                [options]="{rightAlign: false}"></app-masked-input>
                            <!--<input formControlName="guestCharge" type="number" appNumberInput>-->
                        </div>
                        <div class="form-field">
                            <label>Profit ($)</label>
                            <input [value]="profit.toFixed(2)" disabled type="number" appNumberInput>
                        </div>
                        <div class="form-field">
                            <label>Profit (%)</label>
                            <input [value]="profitPercent.toFixed(2)" disabled type="number" appNumberInput>
                        </div>
                    </ng-container>
                        <div class="form-field">
                            <label>Notes</label>
                            <input formControlName="notes" type="text">
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-footer-buttons">
                        <button class="button" type="submit" [disabled]="form.invalid || form.pristine">{{formMode}}
                        </button>
                        <a (click)="close()" class="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
