<div id="title" class="text-center">
    <div class="inner">
        <div *appAllowShow="[userRole.ADMIN]" class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Users</h1>
    </div>
</div>
<div id="body" class="account-management">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>

            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>


            <!--<div class="records-form-add">-->
                <!--<a routerLink="/u/users/add" class="red-plus"><span-->
                    <!--class="red-plus-tooltip">Add New User</span></a>-->
            <!--</div>-->
        </div>
    </div>
    <div class="complex-table" appRzTable [rzDisabledColumns]="[7, 6, 5, 4]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <ng-container *appAllowShow="[userRole.SUPER_ADMIN]">
                        <colgroup appRzColGroup>
                            <col width="15%">
                            <col width="26%">
                            <col width="13%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="6%">
                        </colgroup>
                    </ng-container>
                    <ng-container *appDisallowShow="[userRole.SUPER_ADMIN]">
                        <colgroup appRzColGroup>
                            <col width="15%">
                            <col width="36%">
                            <col width="13%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="6%">
                        </colgroup>
                    </ng-container>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <th>
                            <a routerLink="/u/users/add" class="red-plus -right"><span
                                class="red-plus-tooltip">Add New User</span></a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <ng-container *appAllowShow="[userRole.SUPER_ADMIN]">
                        <colgroup appRzColGroup>
                            <col width="15%">
                            <col width="26%">
                            <col width="13%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="6%">
                        </colgroup>
                    </ng-container>
                    <ng-container *appDisallowShow="[userRole.SUPER_ADMIN]">
                        <colgroup appRzColGroup>
                            <col width="15%">
                            <col width="36%">
                            <col width="13%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="6%">
                        </colgroup>
                    </ng-container>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'firstName'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td *appAllowShow="[userRole.SUPER_ADMIN]">{{item.subscriberName}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.roles | userRolesToText}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <app-user-access-control [user]="item" [subscriberId]="item.subscriberId"></app-user-access-control>
                        </td>
                        <td>
                            <a [routerLink]="'/u/users/' + item.id" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a
                                *ngIf="currentUser.id !== item.id"
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete user?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="records-form-add">
            <a routerLink="/u/users/add" class="red-plus"><span class="red-plus-tooltip">Add New User</span></a>
        </div>
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>

</div>
