<div class="popup-users-list">
    <div class="popup-body">
        <div class="popup-body-header">
            <div class="popup-body-header-left">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="popup-body-header-right">
                <a [routerLink]="formLink" class="red-plus">
                    <span class="red-plus-tooltip">Add New User</span>
                </a>
            </div>
        </div>
        <div class="popup-users-list-table">
            <table class="simple-table">
                <thead>
                <tr>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody app-paging-table
                       #table
                       [loadFunction]="loadFunction()"
                       [defaultSortColumnKey]="'firstName'">
                <tr *appPagingTableRow="let item;">
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td *ngIf="showCompany">{{item.subscriberName}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.roles | userRolesToText}}</td>
                    <td>
                        <a (click)="editRequired.emit(item)" class="icon">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a (appConfirmClick)="delete(item)"
                           confirmMessage="Do you want to delete user?" class="icon">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="display: none;">
            <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
        </div>

        <div class="popup-users-list-search">
        </div>

        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
