<button class="red-plus" type="button" (click)="popupVisible = true"><span class="red-plus-tooltip">Add New Event</span></button>

<div class="popup-shader" [class.-visible]="popupVisible"></div>
<div class="popup" [class.-visible]="popupVisible">
    <a (click)="popupVisible = false" class="popup-close"></a>
    <div class="popup-header">Add Event</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body">
            <div class="popup-body-left">
                <div class="form-field -required">
                    <label>Event Name</label>
                    <input formControlName="name" type="text">
                </div>
                <div class="form-field">
                    <label>Event Code</label>
                    <input formControlName="code" type="text">
                </div>
                <div class="form-field">
                    <label>Event Type</label>
                    <select formControlName="type">
                        <option [value]="type.Local">{{type.Local}}</option>
                        <option [value]="type.Internal">{{type.Internal}}</option>
                        <option [value]="type.Group">{{type.Group}}</option>
                    </select>
                </div>
            </div>
            <div class="popup-body-right">
                <div class="form-field">
                    <label>Master Account No</label>
                    <input formControlName="masterAccountNumber" type="text">
                </div>
                <div class="form-field">
                    <label>Event Description</label>
                    <input formControlName="eventDescription" type="text">
                </div>
                <div class="form-field">
                    <label>Event Status</label>
                    <select formControlName="status">
                        <option [value]="status.Active">{{status.Active}}</option>
                        <option [value]="status.Inactive">{{status.Inactive}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" class="button" [disabled]="form.invalid">{{formMode() | async}}</button>
                <button type="button" class="button" (click)="popupVisible = false">Cancel</button>
            </div>
        </div>
    </form>
</div>
