.pagination
    position: fixed
    top: 50%
    left: 30px
    ul
        li
            a
                width: auto
                background-position: left
                padding-left: 26px
                cursor: pointer
            a:before
                margin: 0
