<table class="simple-table">
    <colgroup>
        <col width="25%">
        <col width="20%">
        <col width="15%">
        <col width="15%">
        <col width="15%">
        <col width="10%">
    </colgroup>
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                <app-paging-table-header-column [column]="column">
                </app-paging-table-header-column>
            </th>
        </tr>
    </thead>
    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="'functionName'">
        <tr *appPagingTableRow="let item;">
            <td>{{item.functionSpace?.name}}</td>
            <td>{{item.functionName}}</td>
            <td>{{item.type}}</td>
            <td>{{item.startDate | date}}</td>
            <td>{{item.endDate | date}}</td>
            <td>
                <a appTrackClick [routerLink]="'/u/functions/' + item.id" class="icon">
                    <i class="fa fa-pencil"></i>
                </a>
                <a appTrackClick (appConfirmClick)="delete(item)" confirmMessage="Do you want to delete event?" class="icon">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="popup-events-list-search">
    <app-paging-table-search placeholder="Quick Search"></app-paging-table-search>
</div>
<div class="pagination">
    <app-paging-table-paging></app-paging-table-paging>
</div>

<div style="display: none;">
    <app-paging-table-items-per-page></app-paging-table-items-per-page>
</div>
