<div class="popup-shader" [class.-visible]="visible">
    <div class="popup" [class.-visible]="visible && viewReady">
        <a (click)="onClose()" class="popup-close"></a>
        <ng-content></ng-content>
    </div>
</div>
