<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Dashboard</h1>
    </div>
</div>
<div id="body">
    <div class="db-blocks">
        <div class="inner">
            <div class="db-block -events" *appDisallowShow="[userRole.SERVICE_TEAM]">
                <div class="db-block-header">
                    <a>
                        <span class="db-block-header-icon"></span>
                        <span class="db-block-header-title">Today's Events</span>
                    </a>
                    <div class="db-block-header-plus" routerLink="/u/accounts"><span class="db-block-header-tooltip">Add New</span></div>
                </div>
                <div class="db-block-body">
                    <div class="db-block-table-header">
                        <table>
                            <colgroup>
                                <col width="51%">
                                <col width="32%">
                                <col width="17%">
                            </colgroup>
                            <tr>
                                <th>Event Name</th>
                                <th>Company / Organization</th>
                                <th># of<br>Functions</th>
                            </tr>
                        </table>
                    </div>
                    <div class="db-block-table-body" appCustomScrollbar>
                        <table>
                            <colgroup>
                                <col width="51%">
                                <col width="32%">
                                <col width="17%">
                            </colgroup>
                            <tr *ngFor="let event of events">
                                <td>{{event.name}}</td>
                                <td>{{event.clientName}}</td>
                                <td>{{event.functionCount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="db-block-footer float-clear">
                    <div class="db-block-footer-left">
                        <input type="search" [formControl]="eventSearchControl" placeholder="Quick Search...">
                    </div>
                    <div class="db-block-footer-right">{{events.length}} Total</div>
                </div>
            </div>
            <!-- <div class="db-block -reports">
                <div class="db-block-header">
                    <a href="#">
                        <span class="db-block-header-icon"></span>
                        <span class="db-block-header-title">Reports</span>
                    </a>
                    <div class="db-block-header-plus"><span class="db-block-header-tooltip">Lorem ipsum</span></div>
                </div>
                <div class="db-block-body">
                    <div class="db-block-table-header">
                        <table>
                            <colgroup>
                                <col width="56%">
                                <col width="22%">
                                <col width="22%">
                            </colgroup>
                            <tr>
                                <th>Report Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </table>
                    </div>
                    <div class="db-block-table-body" appCustomScrollbar>
                        <table>
                            <colgroup>
                                <col width="56%">
                                <col width="22%">
                                <col width="22%">
                            </colgroup>
                            <tr>
                                <td>Daily Workflow Sheet</td>
                                <td>Nov 10, 2017</td>
                                <td>Nov 10, 2017</td>
                            </tr>
                            <tr>
                                <td>Daily Labor Summary</td>
                                <td>Nov 11, 2017</td>
                                <td>Nov 11, 2017</td>
                            </tr>
                            <tr>
                                <td>Daily Delivery & Pickup Log</td>
                                <td>Nov 11, 2017</td>
                                <td>Nov 11, 2017</td>
                            </tr>
                            <tr>
                                <td>Daily Workflow Sheet</td>
                                <td>Nov 11, 2017</td>
                                <td>Nov 11, 2017</td>
                            </tr>
                            <tr>
                                <td>Daily Labor Summary</td>
                                <td>Nov 11, 2017</td>
                                <td>Nov 11, 2017</td>
                            </tr>
                            <tr>
                                <td>Daily Delivery & Pickup Log</td>
                                <td>Nov 11, 2017</td>
                                <td>Nov 11, 2017</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div> -->
            <div class="db-block -service" *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.SERVICE_TEAM]">
                <div class="db-block-header">
                    <a>
                        <span class="db-block-header-icon"></span>
                        <span class="db-block-header-title">Service Tickets</span>
                    </a>
                    <div class="db-block-header-plus" routerLink="/u/tickets/add"><span class="db-block-header-tooltip">Add New</span></div>
                </div>
                <div class="db-block-body">
                    <div class="db-block-table-header">
                        <table>
                            <colgroup>
                                <col width="43%">
                                <col width="19%">
                                <col width="20%">
                                <col width="18%">
                            </colgroup>
                            <tr>
                                <th>Issue</th>
                                <th>Asset / System</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                            </tr>
                        </table>
                    </div>
                    <div class="db-block-table-body" appCustomScrollbar>
                        <table>
                            <colgroup>
                                <col width="43%">
                                <col width="19%">
                                <col width="20%">
                                <col width="18%">
                            </colgroup>
                            <tr *ngFor="let ticket of unCompletedTickets">
                                <!-- <tr *ngFor="let ticket of tickets"> -->
                                <td>
                                    <a [routerLink]="'/u/tickets/' + ticket.id">
                                        {{ ticket.title }}
                                    </a>
                                </td>
                                <td>{{ ticket.assetName }}</td>
                                <td>
                                    <a target="_blank" [routerLink]="ticket.contactLink">
                                        {{ ticket.assigneeName }}
                                    </a>
                                </td>
                                <td>{{ ticket.ticketStatus }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="db-block-footer float-clear">
                    <div class="db-block-footer-left">
                        <input type="search" [formControl]="ticketSearchControl" placeholder="Quick Search...">
                    </div>
                    <div class="db-block-footer-right">{{tickets.length}} Total <span class="-sep">|</span> {{completedTicketCount}} Completed</div>
                </div>
            </div>
        </div>
    </div>

</div>
