<form [formGroup]="form">
    <div class="subheader-tabs">
        <div class="inner">
            <ul>
                <li *ngFor="let label of dayLabels; let i = index"
                    [class.-current]="i === selectedDay"
                    (click)="selectedDay = i">
                    <a>{{label}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div *ngFor="let control of daysFormArray.controls; let i = index">
        <app-function-day
            [formControl]="control"
            *ngIf="i === selectedDay"
            [date]="dayLabels[i]"
        ></app-function-day>
    </div>
    <!--<app-function-day *ngFor="let control of daysFormArray.controls; let i = index"-->
    <!--[formControl]="control"-->
    <!--[class.hide-day]="i !== selectedDay"-->
    <!--[date]="dayLabels[i]"-->
    <!--&gt;</app-function-day>-->
</form>
