<app-modal redirectToRoute="/u/subscribers">
    <div class="popup-header">{{mode | formModeToText}} Subscriber</div>
    <div class="popup-tabs-nav">
        <a routerLinkActive="-current" appTrackClick [routerLink]="linkPrefix() + 'subscriber-info'">
            Subscriber Information
        </a>
        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'subscriber-contact-person'">
            Primary Contact
        </a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">Primary Contact</a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'subscriber-users'">Users</a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">Users</a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'access'">Access</a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">Access</a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'payment'">Payment</a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">Payment</a>
    </div>
    <div class="popup-tabs-container">
        <router-outlet></router-outlet>
    </div>
</app-modal>
