<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Equipment and Service Categories</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable>
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <th class="-no-border">
                            <span class="title">Actions</span>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item; let index = $index;">
                        <td>{{item.type | titlecase}}</td>
                        <td>{{item.subCategoryItem.subCategory.category.name}}</td>
                        <td>{{item.subCategoryItem.subCategory.name}}</td>
                        <td>{{item.subCategoryItem.name}}</td>
                        <td>{{item.price | number:'1.2-2'}}</td>
                        <td>
                            <ng-container *appAllowShow="actionsAllow">
                                <a appTrackClick [routerLink]="'/u/equipment/' + item.id" class="icon" (click)="edit($event, item, index)">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a appTrackClick class="icon" (appConfirmClick)="delete(item)" appTrackClick
                                   confirmMessage="Do you want to delete equipment?">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </ng-container>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
