<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Add Purchase Order</h1>
    </div>
</div>
<div id="body" class="add-cross-rentals">

    <form [formGroup]="form" (submit)="submit()">
        <div class="content-block -grey">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field" *ngIf="poNumber">
                        <label>PO Number</label>
                        <strong class="text-purple fs-24 lh-40">{{poPrefix}} {{poNumber}}</strong>
                    </div>
                    <div class="form-field -required -has-plus">
                        <app-vendor-creation-button (vendorCreated)="vendorDropdown.refresh()">
                            <div class="red-plus"></div>
                        </app-vendor-creation-button>
                        <label>Vendor</label>
                        <app-select #vendorDropdown formControlName="vendorId" [fetcher]="SelectFetchType.Vendor">
                        </app-select>
                        <!--<app-vendor-dropdown [pleaseSelect]="true" formControlName="vendorId" #vendorDropdown></app-vendor-dropdown>-->
                    </div>
                    <div class="form-field">
                        <label>Account</label>
                        <app-select formControlName="accountId" [fetcher]="SelectFetchType.Account"></app-select>
                        <!--<app-account-dropdown [optional]="true" formControlName="accountId"></app-account-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Month</label>
                        <app-select formControlName="month" [fetcher]="SelectFetchType.Month"></app-select>
                        <!--<app-month-dropdown [pleaseSelect]="true" formControlName="month"></app-month-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Year</label>
                        <app-select formControlName="year" [fetcher]="SelectFetchType.Year"></app-select>
                        <!--<app-year-dropdown [pleaseSelect]="true" formControlName="year"></app-year-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="status">
                            <option [value]="null" disabled>Please select...</option>
                            <option [value]="PurchaseOrderStatus[status]"
                                *ngFor="let status of PurchaseOrderStatus | keys">{{status}}
                            </option>
                        </select>
                    </div>
                    <div class="form-field -required">
                        <label>Type</label>
                        <select formControlName="type">
                            <option [value]="null" disabled>Please select...</option>
                            <option [value]="PurchaseOrderType.Purchase">Purchase</option>
                            <option [value]="PurchaseOrderType.Rental">Rental</option>
                            <option [value]="PurchaseOrderType.ShowOrder">Show Order</option>
                        </select>
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required -has-plus">
                        <app-vendor-contact-create-button (contactCreated)="vendorContact.refresh()"
                            [vendorId]="form.get('vendorId').value">
                            <div class="red-plus"></div>
                        </app-vendor-contact-create-button>
                        <label>Contact</label>
                        <app-select #vendorContact formControlName="contactId"
                            [factoryArgs]="form.get('vendorId').value" [fetcher]="vendorContactFetchFactory">
                        </app-select>
                        <!--<app-vendor-contact-dropdown-->
                        <!--#vendorContact-->
                        <!--formControlName="contactId"-->
                        <!--[pleaseSelect]="true"-->
                        <!--[disableControl]="!form.get('vendorId').value"-->
                        <!--[vendorId]="form.get('vendorId').value"-->
                        <!--&gt;</app-vendor-contact-dropdown>-->
                    </div>
                    <div class="form-field">
                        <label>Event</label>
                        <app-select formControlName="eventId" [factoryArgs]="{accountId: form.get('accountId').value}"
                            [fetcher]="eventFetchFactory"></app-select>
                        <!--<app-event-dropdown-->
                        <!--[optional]="true"-->
                        <!--[accountId]="form.get('accountId').value"-->
                        <!--formControlName="eventId"-->
                        <!--&gt;</app-event-dropdown>-->
                    </div>
                    <div class="form-field">
                        <label>Tax</label>
                        <app-masked-input formControlName="tax" [mask]="'currency'" [options]="{rightAlign: false}">
                        </app-masked-input>
                        <!-- <input type="text" formControlName="tax"> -->
                    </div>
                    <div class="form-field">
                        <label>Delivery Charges</label>
                        <!--<input type="number" appNumberInput formControlName="deliveryCharges">-->
                        <app-masked-input formControlName="deliveryCharges" [mask]="'currency'"
                            [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field">
                        <label>Invoice Number</label>
                        <input type="text" formControlName="invoiceNumber">
                    </div>
                    <div class="form-field">
                        <label>Ordered By</label>
                        <input type="text" formControlName="orderBy">
                    </div>
                    <div class="form-field">
                        <label>Notes</label>
                        <input type="text" formControlName="notes">
                    </div>
                </div>
            </div>
        </div>

        <app-equipment-item-form #itemForm (created)="onCreateItem($event)" (updated)="onUpdateItem($event)">
        </app-equipment-item-form>

        <div class="content-block">
            <div class="complex-table -no-odd-tr -hover-tr -th-va-top -many-data">
                <div class="complex-table-header">
                    <div class="inner">
                        <table>
                            <colgroup>
                                <col width="12%">
                                <col width="9%">
                                <col width="9%">
                                <col width="7%">
                                <col width="5%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="6%">
                                <col width="7%">
                                <col width="5%">
                            </colgroup>
                            <tr>
                                <th>Item</th>
                                <th>Arrive</th>
                                <th>Pickup</th>
                                <th>Rental Days</th>
                                <th>QTY</th>
                                <th>Unit Cost($)</th>
                                <th>Ext Cost($)</th>
                                <th>Guest Charge($)</th>
                                <th>Profit($)</th>
                                <th>Profit(%)</th>
                                <th>Notes</th>
                                <th class="-no-border">Action</th>
                                <th>
                                    <div class="red-plus -right" (click)="itemForm.open(form.value.type)"></div>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="complex-table-body">
                    <div class="inner">
                        <table>
                            <colgroup>
                                <col width="12%">
                                <col width="9%">
                                <col width="9%">
                                <col width="7%">
                                <col width="5%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="6%">
                                <col width="7%">
                                <col width="5%">
                            </colgroup>
                            <tr *ngFor="let record of items; index as i">
                                <td>{{ record.itemName }}</td>
                                <td><span *ngIf="!record.arriveDate">
                                        N/A
                                    </span>
                                    <span *ngIf="record.arriveDate">
                                        {{ record.arriveDate | date : 'mediumDate' }}
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="!record.pickupDate">
                                        N/A
                                    </span>
                                    <span *ngIf="record.pickupDate">
                                        {{ record.pickupDate | date : 'mediumDate' }}
                                    </span>
                                </td>
                                <!-- <td>
                                    <span *ngIf="isInvalidDate(record.arriveDate)">
                                        {{ record.arriveDate | date : 'mediumDate' }}
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="isInvalidDate(record.pickupDate)">
                                        {{ record.pickupDate | date : 'mediumDate' }}
                                    </span>
                                </td> -->
                                <td>
                                    <span *ngIf="!record.rentalDays">
                                        N/A
                                    </span>
                                    <span *ngIf="record.rentalDays">
                                        {{ record.rentalDays }}
                                    </span>
                                </td>
                                <td>{{ record.quantity }}</td>
                                <td>{{ record.unitCost | number:'1.2-2'}}</td>
                                <td><span *ngIf="!record.rentalDays">
                                        {{ record.quantity * record.unitCost | number:'1.2-2'}}
                                    </span>
                                    <span *ngIf="record.rentalDays">
                                        {{ record.quantity * record.unitCost * record.rentalDays| number:'1.2-2'}}
                                    </span></td>
                                <!-- <td> {{ record.quantity * record.unitCost | number:'1.2-2'}}</td> -->
                                <td>
                                    <span *ngIf="!record.guestCharge">
                                        N/A
                                    </span>
                                    <span *ngIf="record.guestCharge">
                                        {{ record.guestCharge | number:'1.2-2'}}
                                    </span>
                                </td>
                                <!-- <td>{{ record.guestCharge | number:'1.2-2'}}</td> -->
                                <td>{{ record.profit | number:'1.2-2' }}</td>
                                <td>{{ record.profitPercent | number:'1.2-2'  }}</td>
                                <td>
                                    <a class="tooltip">
                                        View
                                        <span class="db-block-header-tooltip">{{record.notes}}</span>
                                    </a>
                                </td>
                                <td class="-icon-buttons" colspan="2">
                                    <a href="#" appTrackClick
                                        (click)="$event.preventDefault();itemForm.edit(record, i,form.value.type)"
                                        class="icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" (appConfirmClick)="deleteItem(record)"
                                        (click)="$event.preventDefault();" appTrackClick
                                        confirmMessage="Do you want to delete the item?" class="icon">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-buttons">
            <button type="submit" class="button" [disabled]="form.invalid || form.pristine || isLoading || submitting">
                Save
            </button>
            <button type="button" (click)="cancel()" class="button">Cancel</button>
        </div>
    </form>

</div>