<div id="page" class="-login -narrow">
    <header id="header" class="-high">
        <div class="inner -narrow">
            <a routerLink="/" class="logo -big">Avastar!</a>
        </div>
    </header>
    <div id="title" class="-purple">
        <div class="inner">
            <div class="title-image"><img src="/assets/images/image-sign-in.jpg" alt=""></div>
            <h1>Reset Password</h1>
        </div>
    </div>
    <div id="body">
        <div class="inner">
            <div class="form -login">
                <form [formGroup]="forgotForm" (submit)="onSubmit()">
                    <input formControlName="email" type="email" placeholder="E-mail address">
                    <input appAsyncTasksDisableOnInProgress="USER_LOGIN" appTrackClick type="submit"
                           value="Reset Password">
                </form>
            </div>
        </div>
    </div>
    <app-footer [white]="true"></app-footer>
</div>
