<app-function-paging-prev (prev)="onPrev($event)"></app-function-paging-prev>
<app-function-paging-next (next)="onNext($event)"></app-function-paging-next>

<form [formGroup]="form" (submit)="submit()">
    <div id="body" class="add-function">
        <div class="content-block -grey">
            <div class="inner">
                <div class="content-left-col -pb-0">

                </div>
                <div class="content-right-col -pb-0 text-right">
                    <span class="fs-24" *ngIf="(formMode() | async) === mode.Edit">
                        TEO: <strong class="text-purple">{{teoPrefix}} {{teoNumber}}</strong>
                    </span>
                </div>
                <div class="content-left-col">
                    <div class="form-field -required -has-plus">
                        <button type="button"
                                (click)="addAccount()"
                                class="red-plus">
                            <span class="red-plus-tooltip">Add New Account</span>
                        </button>
                        <label>Account</label>
                        <app-select formControlName="clientId"
                                    [fetcher]="SelectFetchType.Account"></app-select>
                    </div>
                    <div class="form-field">
                        <label>Master Account No</label>
                        <input formControlName="masterAccountNumber" type="text">
                    </div>
                    <div class="form-field -required">
                        <label>Event Status</label>
                        <select formControlName="status">
                            <option [value]="functionStatus.Definite">{{functionStatus.Definite}}</option>
                            <option [value]="functionStatus.Tenative">{{functionStatus.Tenative}}</option>
                            <option [value]="functionStatus.Proposal">{{functionStatus.Proposal}}</option>
                        </select>
                        <!--u/event-management/add/info?accountId=73-->
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required -has-plus">
                        <!--<app-event-creation-button [accountId]="form.value.clientId"></app-event-creation-button>-->
                        <button type="button"
                                [class.inaccessible]="!form.value.clientId"
                                (click)="addEvent(form.value.clientId)"
                                class="red-plus">
                            <span class="red-plus-tooltip">Add New Event</span>
                        </button>
                        <label>Event</label>
                        <app-select formControlName="eventId"
                                    [factoryArgs]="{accountId: form.value.clientId}"
                                    [fetcher]="eventFetchFactory"></app-select>
                    </div>
                    <div class="form-field">
                        <label>Event Code</label>
                        <input formControlName="eventCode" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Function Information</h2>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Location</label>
                        <app-select
                            #functionSpaceId
                            formControlName="functionSpaceId"
                            [fetcher]="SelectFetchType.FunctionSpace"></app-select>
                        <!--<app-function-space-dropdown-->
                        <!--formControlName="functionSpaceId"-->
                        <!--&gt;</app-function-space-dropdown>-->
                    </div>
                    <div class="form-field">
                        <label>Location Note</label>
                        <input formControlName="locationNote" type="text">
                    </div>
                    <div class="form-field">
                        <label>Setup Style</label>
                        <input formControlName="setupStyle" type="text">
                    </div>
                    <div class="form-field">
                        <label>Planning Contact</label>
                        <app-dynamic-autocomplete [loadFunction]="loadPlanningContacts"
                                                  formControlName="planningContact">
                        </app-dynamic-autocomplete>

                        <!--<input formControlName="planningContact" type="text">-->
                    </div>
                    <div class="form-field">
                        <label>Sales Contact</label>
                        <app-dynamic-autocomplete [loadFunction]="loadSalesContacts"
                                                  formControlName="salesContact">
                        </app-dynamic-autocomplete>
                        <!--<input formControlName="salesContact" type="text">-->
                    </div>
                    <div class="form-field" style="display: none;">
                        <label>Staging Requirements</label>
                        <input formControlName="stagingRequirements" type="text">
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field">
                        <label>Function Name</label>
                        <input formControlName="functionName" type="text">
                    </div>
                    <div class="form-field -required">
                        <label>Function Type</label>
                        <select formControlName="type">
                            <option [selected]="true">Please select...</option>
                            <option [value]="functionType.Exhibitor">{{functionType.Exhibitor}}</option>
                            <option [value]="functionType.MainGroup">{{functionType.MainGroup}}</option>
                            <option [value]="functionType.Affiliate">{{functionType.Affiliate}}</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Number of Participants</label>
                        <input formControlName="participantsCount" type="number" appNumberInput min="0">
                    </div>
                </div>
                <div class="form-field-sep"></div>
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Start Date</label>
                        <app-calendar formControlName="startDate" [setRaw]="true"></app-calendar>
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required">
                        <label>End Date</label>
                        <app-calendar formControlName="endDate" [setRaw]="true" [minDate]="minDateForEndDate"
                                      [maxDate]="maxDatePossible"></app-calendar>
                    </div>
                </div>
                <div class="float-clear"></div>

                <app-function-day-list
                    formControlName="eventFunctionDates"
                    [startDate]="form.get('startDate').value"
                    [endDate]="form.get('endDate').value"></app-function-day-list>

                <div class="form-field-sep"></div>
                <div class="content-left-col">
                    <div class="form-field">
                        <label>Standard Discount Rate</label>
                        <input
                            formControlName="standardDiscountRate"
                            type="number"
                            appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field">
                        <label>Discount Rate for Setup Days</label>
                        <input
                            formControlName="discountRateForSetupDays"
                            type="number"
                            appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field" *ngIf="form.value.alternativeServiceCharge">
                        <label>Alternative Service Charge</label>
                        <input formControlName="alternativeServiceChargePercentage" type="number" appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field">
                        <br>
                        <label class="custom-checkbox">
                            <input formControlName="alternativeServiceCharge" type="checkbox">
                            <span class="-checkbox"></span>
                            Alternative Service Charge
                        </label>
                    </div>
                    <div class="form-field">
                        <label class="custom-checkbox">
                            <input formControlName="taxExempt" type="checkbox">
                            <span class="-checkbox"></span>
                            Tax Exempt
                        </label>
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required -autosize">
                        <label>Service Charge Calculation on</label>
                        <div class="-inline">
                            <label class="custom-radio">
                                <input [value]="functionServiceChargeCalculationType.PreDiscounted"
                                       formControlName="serviceChargeCalculation" type="radio">
                                <span class="-radio"></span>
                                {{functionServiceChargeCalculationType.PreDiscounted}}
                            </label>
                            <br>
                            <label class="custom-radio">
                                <input [value]="functionServiceChargeCalculationType.PostDiscounted"
                                       formControlName="serviceChargeCalculation" type="radio">
                                <span class="-radio"></span>
                                {{functionServiceChargeCalculationType.PostDiscounted}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-function-equipments
            formControlName="eventFunctionEquipments"
            [days]="form.get('eventFunctionDates').value"
            [startDate]="form.get('startDate').value"
            [endDate]="form.get('endDate').value" [IsCodeValid]='IsCodeValid'></app-function-equipments>


        <div class="content-buttons">
            <button [disabled]="form.invalid || form.pristine || submitting" type="submit" class="button">Save</button>
            <button
                type="button"
                class="button"
                (click)="saveAndNew()"
                [disabled]="form.invalid || form.pristine || submitting">
                Save & New
            </button>
            <button id="btn3"
                type="button"
                class="button"
                (click)="saveAndClose()"
                [disabled]="form.invalid || form.pristine || submitting">
                Save & Close
            </button>
            <a [routerLink]="cancelLink" class="button">Cancel</a>
        </div>

    </div>
</form>
