<!--<div class="popup-shader -visible">-->
    <!--<div class="popup" appAddClassAfterTime="-visible">-->
        <!--<a (click)="goBack()" class="popup-close"></a>-->
        <!--<div class="popup-header">{{mode}} Event</div>-->
        <!--<div class="popup-tabs-nav">-->
            <!--<a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'info'">-->
                <!--Event-->
            <!--</a>-->

            <!--<a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'account-info'">-->
                <!--Account-->
            <!--</a>-->

            <!--<a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'contacts'">-->
                <!--Contacts-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="popup-tabs-container">-->
            <!--<router-outlet></router-outlet>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<app-modal (close)="goBack()">
    <div class="popup-header">{{mode}} Event</div>
    <div class="popup-tabs-nav">
        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'info'">
            Event
        </a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'account-info'">
            Account
        </a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit" [routerLink]="linkPrefix() + 'contacts'">
            Contacts
        </a>
    </div>
    <div class="popup-tabs-container">
        <router-outlet></router-outlet>
    </div>
</app-modal>
