<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Accrual Report</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <div class="form-field -required">
                        <label>Start Date</label>
                        <!-- <select>
                            <option>1997</option>
                            <option>1998</option>
                            <option>1999</option>
                            <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                            <option>2004</option>

                        </select> -->
                        <!-- <app-select formControlName="year" [fetcher]="SelectFetchType.Year"></app-select> -->
                        <app-calendar formatyear="yy" formControlName="fromDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>End Date</label>
                        <app-calendar formatyear="mm" [minDate]="form.get('fromDate').value" formControlName="toDate"></app-calendar>
                        <!-- <app-select formControlName="month" [fetcher]="SelectFetchType.Month"
                            [disableControl]="!form.get('year').value" (change)="getChange($event)">
                        </app-select> -->
                        <!-- <app-month-dropdown formControlName="month" [optional]="false" (changed)="getChange($event)"></app-month-dropdown> -->
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="generate(ReportAction.View)" class="button"
                            [disabled]="isDisabled || form.invalid || form.pristine">View</button>
                        <button appTrackClick (click)="generate(ReportAction.Print)" class="button"
                            [disabled]="isDisabled || form.invalid || form.pristine">Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>