<div id="top-bar">
    <div class="inner">
        <div class="top-bar-welcome">Welcome,
            <strong appCurrentUser="firstName"></strong>
        </div>
        <div class="top-bar-buttons">
            <a appTrackClick appLogoutClick class="-logout">Logout</a>
        </div>
        <ng-container
            *appAllowShow="[userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.EVENT_PLANNER, userRole.ADMIN]">
            <div class="top-bar-dropdown" *ngIf="currentSubscriberHasVenue | async">
                <div>{{(currentVenue | async).name}}</div>
                <ul>
                    <li *ngFor="let venue of currentVenuesList | async">
                        <a (click)="select(venue)">{{venue.name}}</a>
                    </li>
                </ul>
            </div>
        </ng-container>
        <div class="top-bar-icons"
             *appAllowShow="[userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.EVENT_PLANNER, userRole.ADMIN]">
            <a href="#" class="-notifications -has-n">
                <!--<span>5</span>-->
            </a>
            <a href="#" class="-help"></a>
            <a href="#" class="-settings"></a>
        </div>
    </div>
</div>
<header id="header">
    <div class="inner">
        <a routerLink="/u" class="logo">Avastar!</a>
        <nav id="nav" class="float-clear" [class.-visible]="menuBarVisible">
            <input type="checkbox" [(ngModel)]="menuBarVisible">
            <div class="-mobile-icon"></div>
            <ul>
                <li *appAllowShow="[userRole.ADMIN]">
                    <a appTrackClick routerLink="/u">Dashboard</a>
                </li>
                <li class="nav-parent" [class.show-sub]="eventsShowSub"
                    *appAllowShow="[userRole.ADMIN, userRole.EVENT_PLANNER]">
                    <a appTrackClick routerLink="/u/event-management">Events</a>
                    <ul>
                        <li *appAllowShow="[userRole.ADMIN, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/accounts">
                                Accounts
                            </a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/event-management">
                                Event Management
                            </a>
                        </li>
                        <li *appAllowShow="[userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/sales-scripting">
                                Sales Scripting
                            </a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="eventsShowSub = !eventsShowSub"></div>
                </li>
                <li class="nav-parent" [class.show-sub]="inventoryShowSub"
                    *appAllowShow="[userRole.SUPER_ADMIN, userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.SERVICE_TEAM]">
                    <a appTrackClick routerLink="/u/inventory" *appDisallowShow="[userRole.SUPER_ADMIN, userRole.SERVICE_TEAM]">Inventory</a>
                    <a appTrackClick *appAllowShow="[userRole.SUPER_ADMIN, userRole.SERVICE_TEAM]">Inventory</a>
                    <ul>
                        <li>
                            <a appTrackClick routerLink="/u/category-management" *appAllowShow="[userRole.SUPER_ADMIN]">Categories</a>
                        </li>
                        <ng-container *appDisallowShow="[userRole.SUPER_ADMIN, userRole.SERVICE_TEAM]">
                            <li>
                                <a appTrackClick routerLink="/u/equipment">Equipment and Services</a>
                            </li>
                            <!--<li>-->
                                <!--<a appTrackClick routerLink="/u/equipment-categories">Equipment Categories</a>-->
                            <!--</li>-->
                            <li>
                                <a appTrackClick routerLink="/u/inventory">Inventory</a>
                            </li>
                            <li>
                                <a appTrackClick routerLink="/u/systems">Systems</a>
                            </li>
                            <li>
                                <a appTrackClick routerLink="/u/packages">Packages</a>
                            </li>
                        </ng-container>
                        <li *appDisallowShow="[userRole.SUPER_ADMIN]">
                            <a appTrackClick routerLink="/u/tickets">
                                Tickets and Maintenance
                            </a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="inventoryShowSub = !inventoryShowSub"></div>
                </li>
                <li class="nav-parent" [class.show-sub]="expensesShowSub"
                    *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.EVENT_PLANNER]">
                    <a appTrackClick href="#">Expenses</a>
                    <ul>
                        <li *appAllowShow="[userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/manage-purchase-orders">Purchase Orders</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/contracts">Contracts</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/vendors">Vendors</a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="expensesShowSub = !expensesShowSub"></div>
                </li>
                <li class="nav-parent"
                    [class.show-sub]="reportShowSub"
                    *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.EVENT_PLANNER, userRole.SUPER_ADMIN]">
                    <a appTrackClick>Reports</a>
                    <ul>
                        <li *appAllowShow="[userRole.SUPER_ADMIN]">
                            <a appTrackClick
                               routerLink="/u/reports/upcoming-renewal">
                                Upcoming Renewal
                            </a>
                        </li>
                        <li *appAllowShow="[userRole.SUPER_ADMIN]">
                            <a appTrackClick
                               routerLink="/u/reports/unpaid-accounts">
                                Unpaid Accounts
                            </a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/equipment-usage">Equipment Usage</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/reports/labor-summary">Labor Summary</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/reports/workflow-summary">Workflow Summary</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.EVENT_PLANNER]">
                            <a appTrackClick routerLink="/u/reports/invoice">Invoice</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">

                            <a appTrackClick routerLink="/u/reports/inventory-summary">Inventory Summary</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.EVENT_PLANNER, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/event-spaces">Event Spaces Summary</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/purchase-order">Purchase Order</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/overdue-maintenance">Overdue Maintenance</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/scheduled-maintenance">Scheduled Maintenance</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM, userRole.SERVICE_TEAM]">
                            <a appTrackClick routerLink="/u/reports/service-maintenance">Service Maintenance</a>
                        </li>
                        <!-- <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/daily-billing">Daily Billing Summary</a>
                        </li> -->
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD, userRole.TECH_TEAM]">
                            <a appTrackClick routerLink="/u/reports/accrual">Accrual</a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="reportShowSub = !reportShowSub"></div>
                </li>
                <!--<li *appAllowShow="[userRole.ADMIN]"><a href="#">Reports</a></li>-->
                <li class="nav-parent" *appAllowShow="[userRole.ADMIN]" [class.show-sub]="accShowSub">
                    <a>Accounting</a>
                    <ul>
                        <li>
                            <a routerLink="/u/cost-category" appTrackClick>Cost Categories</a>
                        </li>
                        <li>
                            <a routerLink="/u/revenue-category" appTrackClick>Revenue Categories</a>
                        </li>
                        <li>
                            <a routerLink="/u/service-charge" appTrackClick>Service Charges</a>
                        </li>
                        <li>
                            <a routerLink="/u/tax-charge" appTrackClick>Tax Charges</a>
                        </li>
                        <li>
                            <a appTrackClick routerLink="/u/budget-input">Input Budget</a>
                        </li>
                        <li>
                            <a appTrackClick routerLink="/u/pricing-extension">Pricing Extension</a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="accShowSub = !accShowSub"></div>
                </li>
                <li class="nav-parent" *appAllowShow="[userRole.SUPER_ADMIN]" [class.show-sub]="accShowSub">
                    <a>Accounting</a>
                    <ul>
                        <!--<li>-->
                        <!--<a routerLink="/u/cost-category" appTrackClick>Cost Categories</a>-->
                        <!--</li>-->
                        <li>
                            <a routerLink="/u/manage-revenue-category" appTrackClick>Revenue Categories</a>
                        </li>
                        <li>
                            <a routerLink="/u/manage-cost-category" appTrackClick>Cost Categories</a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="accShowSub = !accShowSub"></div>
                </li>
                <li class="nav-parent" [class.show-sub]="adminShowSub"
                    *appAllowShow="[userRole.SUPER_ADMIN, userRole.ADMIN, userRole.TECH_TEAM_LEAD]">
                    <a routerLink="/u/subscribers">Administration</a>
                    <ul>
                        <li *appAllowShow="[userRole.SUPER_ADMIN]">
                            <a appTrackClick routerLink="/u/subscribers">Subscribers</a>
                        </li>
                        <li *appAllowShow="[userRole.SUPER_ADMIN, userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/venues">Properties</a>
                        </li>
                        <li *appAllowShow="[userRole.SUPER_ADMIN, userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/users">Users</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD]">
                            <a appTrackClick routerLink="/u/event-spaces">Event Spaces</a>
                        </li>
                        <li *appAllowShow="[userRole.ADMIN, userRole.TECH_TEAM_LEAD]">
                            <a appTrackClick routerLink="/u/storage-spaces">
                                Storage Spaces
                            </a>
                        </li>
                        <!--hide payment info-->
                        <!-- <li *appAllowShow="[userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/payment-info">
                                Payment Info
                            </a>
                        </li> -->
                        <li *appAllowShow="[userRole.ADMIN]">
                            <a appTrackClick routerLink="/u/terms">
                                Terms And Conditions
                            </a>
                        </li>
                        <li *appAllowShow="[userRole.SUPER_ADMIN]">
                            <a appTrackClick routerLink="/u/decision-trees">
                                Decision Tree Management
                            </a>
                        </li>
                    </ul>
                    <div class="nav-toggle" appTrackClick (click)="adminShowSub = !adminShowSub"></div>
                </li>
            </ul>
        </nav>
    </div>
</header>
