<div class="popup-shader -visible"></div>
<div class="popup " appAddClassAfterTime="-visible">
    <a [routerLink]="backLink" class="popup-close"></a>
    <div class="popup-header">{{formMode() | async | formModeToText}} Comment</div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div id="popup-contact-person">
                <div class="popup-body">
                    <div class="popup-body-header">
                        <h3>Comment</h3>
                    </div>
                    <div class="popup-body-center -padding-30 -narrow">
                        <div class="form-field -required">
                            <label>Comment</label>
                            <textarea formControlName="description" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-footer-buttons">
                        <button class="button"
                                appTrackClick
                                type="submit"
                                [disabled]="form.invalid">
                            {{formMode() | async}}
                        </button>
                        <a appTrackClick [routerLink]="backLink" class="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
