<div id="page" class="-login -narrow">
    <header id="header" class="-high">
        <div class="inner -narrow">
            <a routerLink="/" class="logo -big">Avastar!</a>
        </div>
    </header>
    <div id="title" class="-purple">
        <div class="inner">
            <!--<div class="title-image"><img src="/assets/images/image-sign-in.jpg" alt=""></div>-->
            <div class="title-image" style="display: none;"><img src="/assets/mikey.jpg" alt=""></div>
            <h1>Sign In</h1>
        </div>
    </div>
    <div id="body">
        <div class="inner">
            <div class="form -login">
                <form [formGroup]="loginForm" (submit)="submit()">
                    <input formControlName="username" type="email" placeholder="E-mail address">
                    <input formControlName="password" type="password" placeholder="Password">

                    <label>
                        <input type="checkbox" formControlName="rememberMe"> Remember me
                    </label>

                    <br>

                    <a routerLink="/forgot" appTrackClick>Forgot Password</a>
                    <input appAsyncTasksDisableOnInProgress="USER_LOGIN" appTrackClick type="submit" value="Sign In">
                </form>
            </div>
        </div>
    </div>
    <app-footer [white]="true"></app-footer>
</div>

