<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Overdue Maintenance Report</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <div class="form -pricing">
                <div class="form-field -buttons">
                    <button appTrackClick (click)="generate(ReportAction.View)" class="button" [disabled]="isDisabled">View</button>
                    <button appTrackClick (click)="generate(ReportAction.Print)" class="button" [disabled]="isDisabled">Print</button>
                </div>
            </div>
        </div>
    </div>
</div>
