<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Inventory</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <form [formGroup]="filterForm" (submit)="applyFilters()">
        <div class="mi-form">
            <div class="inner">
                <div class="mi-form-label">Show records from:</div>
                <div class="mi-form-field">
                    <label>Category</label>

                    <app-select
                        [allOption]="true"
                        formControlName="categoryId"
                        [fetcher]="SelectFetchType.InventoryCategory"></app-select>

                </div>
                <div class="mi-form-field">
                    <label>Manufacturer</label>

                    <app-select
                        [allOption]="true"
                        formControlName="manufacturerId"
                        [fetcher]="SelectFetchType.Manufacturer"></app-select>

                </div>
                <div class="mi-form-field -short-label">
                    <label>Status</label>
                    <select formControlName="condition">
                        <option [value]="status.All">{{status.All}}</option>
                        <option [value]="status.Active">{{status.Active}}</option>
                        <option [value]="status.AtRepair">{{status.AtRepair}}</option>
                        <option [value]="status.Broken">{{status.Broken}}</option>
                        <option [value]="status.Missing">{{status.Missing}}</option>
                        <option [value]="status.Removed">{{status.Removed}}</option>
                        <option [value]="status.ServiceRequired">{{status.ServiceRequired}}</option>
                    </select>
                </div>
                <div class="mi-form-field -second-line">
                    <label>Inventory Tag #</label>
                    <input type="text" formControlName="tagNumber">
                </div>
                <div class="mi-form-field">
                    <label>Inventory Barcode</label>
                    <input type="text" formControlName="barcode">
                </div>
                <div class="mi-form-sep"></div>
                <div class="mi-form-label">Purchase Date Range:</div>
                <div class="mi-form-field -date-from">
                    <label>From Date</label>
                    <app-calendar formControlName="purchaseDateFrom"></app-calendar>
                </div>
                <div class="mi-form-field -date-from">
                    <label>To Date</label>
                    <app-calendar formControlName="purchaseDateTo"></app-calendar>
                </div>
                <div class="mi-form-field -short-label mi-form-buttons">
                    <button appTrackClick class="button" type="submit">Apply</button>
                    <button appTrackClick class="button" type="button" (click)="clearFilters()">Clear</button>
                </div>
            </div>
        </div>
    </form>


    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[0, 5, 6, 7]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="3%">
                        <col width="13%">
                        <col width="14%">
                        <col width="23%">
                        <col width="10%">
                        <col width="16%">
                        <col width="14%">
                        <col width="7%">
                    </colgroup>
                    <tr>
                        <th style="position: relative">
                            <span class="title"><input type="checkbox" [(ngModel)]="checked.checkAll"/></span>
                            <a
                                style="float: right"
                                *ngIf="checked.checked.length"
                                (appConfirmClick)="deleteChecked()"
                                appTrackClick
                                confirmMessage="Do you want to delete selected inventories?"
                                class="icon delete-all">
                                <i class="fa fa-trash"></i>
                            </a>
                        </th>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <!--<th class="-no-border">Action</th>-->
                        <th class="actions">
                            <a appTrackClick routerLink="/u/inventory/add/asset-information" class="red-plus">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                            <button appTrackClick class="button upload-btn" type="button" (click)="uploader.open()">
                                Upload inventory file
                                <app-inventory-uploader (inventoryUploaded)="table.refresh()"
                                                        #uploader></app-inventory-uploader>
                            </button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="3%">
                        <col width="13%">
                        <col width="14%">
                        <col width="23%">
                        <col width="10%">
                        <col width="16%">
                        <col width="14%">
                        <col width="7%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item; let index = $index;">
                        <td>
                            <input type="checkbox" [(ngModel)]="checked.item(item).checked"/>
                        </td>
                        <td>{{item.manufacturerName}}</td>

                        <td>{{item.model}}</td>
                        <td>
                            <a appTrackClick [routerLink]="'/u/inventory/' + item.id + '/asset-information'">{{item.subCategoryItemName}}</a>
                        </td>
                        <td>{{item.tagNumber}}</td>
                        <td>{{item.condition}}</td>
                        <td>
                            <a appTrackClick [routerLink]="'/u/inventory/' + item.id + '/asset-information'" (click)="edit($event, item, index)" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a
                                (appConfirmClick)="delete(item)"
                                appTrackClick
                                confirmMessage="Do you want to delete inventory?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                            <!--<a-->
                            <!--[routerLink]="'/u/inventory/add/asset-information'"-->
                            <!--[queryParams]="{copy: item.id}"-->
                            <!--appTrackClick-->
                            <!--class="icon">-->
                            <!--<i class="fa fa-copy"></i>-->
                            <!--</a>-->
                            <a
                                (click)="copy(item)"
                                appTrackClick
                                class="icon">
                                <i class="fa fa-copy"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
