.upload-btn
    display: inline-block
    position: absolute
    min-width: 244px
    right: 2px
    left: 66px

.red-plus
    display: inline-block

.actions
    position: relative

.icon.delete-all
    position: absolute
    top: 16px
    left: -28px
tr th:first-child,
tr td:first-child
    overflow: visible!important;
