<app-function-totals #totals></app-function-totals>
<div class="content-table -narrow">
    <h4>
        Selected Options
        <!--<span *ngIf="totalCost">(Total cost: ${{totalCost | number:'1.2-2'}})</span>-->

        <button
            (click)="showTotals()"
            type="button"
            class="button" style="float: right;">Show Totals
        </button>
    </h4>
    <div class="content-table-header">
        <table>
            <colgroup>
                <col [width]="20 + (42 - (spacingBetweenDayColumns * dayLabels?.length)) + '%'">
                <col *ngFor="let item of dayLabels" [width]=" spacingBetweenDayColumns + '%'">
                <col width="6%">
                <col width="6%">
                <col width="8.6%">
                <col width="8.6%">
                <col width="8.8%">
            </colgroup>

            <tr>
                <th>Equipment & Services / Packages</th>
                <th *ngFor="let label of dayLabels">{{label}}</th>
                <th>Code *</th>
                <th>QTY</th>
                <th>Unit <br> Price ($)</th>
                <th>Ext <br> Price ($)</th>
                <th>Action</th>
            </tr>
        </table>
    </div>
    <div class="content-table-body" style="max-height: 900px">
        <table>

            <colgroup>
                <col [width]="20 + (42 - (spacingBetweenDayColumns * dayLabels?.length)) + '%'">
                <col *ngFor="let item of dayLabels" [width]=" spacingBetweenDayColumns + '%'">
                <col width="6%">
                <col width="6%">
                <col width="8.6%">
                <col width="8.6%">
                <col width="8.8%">
            </colgroup>
            <tbody [dragula]='"selected-equipments"'>
            <tr *ngFor="let item of selectedItems; let itemIndex = index" [id]="item.name" class="function-item">
                <td>
                    <div class="content-table-popup-wrapper">

                        <a [routerLink]="'/u/packages/' + item.equipmentPackageId" target="_blank"
                           *ngIf="item.equipmentPackageId">
                            {{item.name}}
                        </a>

                        <ng-container *ngIf="!item.equipmentPackageId">
                            {{item.name}}
                        </ng-container>

                    </div>
                </td>
                <td *ngFor="let day of days; let i = index;">
                    <input type="number" min="0"
                           (keypress)="onKeyPress($event)"
                           (input)="quantityChanged($event, item, day)"
                           [value]="(item.eventFunctionEquipmentDates && item.eventFunctionEquipmentDates[i] ? item.eventFunctionEquipmentDates[i].quantity : 0)">
                </td>
                <td>
                    <div id="code" style="width: 100%">
                        <app-select
                            [hidePlaceholder]="true"
                            (change)="changedCode(itemIndex)"
                            [fetcher]="SelectFetchType.RevenueCategoryCode"
                            [ngStyle]="{'border':IsCodeValid[itemIndex]=== true ? '2px solid red' : ''}"
                            [(ngModel)]="item.code"></app-select>
                    </div>
                </td>
                <td>{{item.calcTotal()}}</td>
                <td>
                    <!--<input type="text" [(ngModel)]="item.price">-->
                    {{item.price | number:'1.2-2'}}
                </td>
                <td>
                    <!--{{item.totalPrice | number:'1.2-2'}}-->
                    {{item.calcExtPrice() | number:'1.2-2'}}
                </td>
                <td>
                    <a
                        appTrackClick
                        (appConfirmClick)="delete(item)"
                        confirmMessage="Do you want to delete?"
                        class="icon">
                        <i class="fa fa-trash"></i>
                    </a>
                    <i class="fa fa-arrows"></i>
                </td>
            </tr>
            <tr>
                <td [formGroup]="addForm">
                    <div style="width: 100%">
                        <app-select
                            #select
                            formControlName="item"
                            [fetcher]="SelectFetchType.FunctionEquipment"></app-select>
                    </div>
                </td>
                <td class="disabled-col" *ngFor="let day of days; let i = index;">
                    <input type="number" class="inaccessible">
                </td>
                <td class="disabled-col">
                    <!--<div style="width: 100%">-->
                    <!--<app-select [fetcher]="SelectFetchType.RevenueCategoryCode"></app-select>-->
                    <!--</div>-->
                </td>
                <td class="disabled-col">0</td>
                <td class="disabled-col">0</td>
                <td class="disabled-col">0</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
