<div>
    <div class="popup-body-right">
        <a class="red-plus" (click)="formDialog.open()">
            <a class="red-plus-label">Add Contact</a>
            <span class="red-plus-tooltip">Add New Contact</span>
        </a>
    </div>
    <table class="simple-table">
        <colgroup>
            <col width="30%">
            <col width="17%">
            <col width="28%">
            <col width="15%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th *ngFor="let column of columns">
                    <app-paging-table-header-column [column]="column">
                    </app-paging-table-header-column>
                </th>
            </tr>
        </thead>
        <tbody app-paging-table #table [loadFunction]="load" [defaultSortColumnKey]="'firstName'">
            <tr *appPagingTableRow="let item;">
                <td><a (click)="formDialog.edit(item)" style="cursor: pointer;">
                    {{item.firstName}} {{item.lastName}}
                </a></td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.department}}</td>
                <td>
                    <a (click)="formDialog.edit(item)" class="icon">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a (appConfirmClick)="delete(item)" confirmMessage="Do you want to delete contact?" class="icon">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="popup-events-list-search" hidden>
        <app-paging-table-search placeholder="Quick Search"></app-paging-table-search>
    </div>
    <div class="pagination">
        <app-paging-table-paging></app-paging-table-paging>
    </div>

    <div style="display: none;">
        <app-paging-table-items-per-page></app-paging-table-items-per-page>
    </div>

</div>

<app-event-contact-form [eventId]="eventId" (changed)="table.refresh()" #formDialog></app-event-contact-form>
