<div class="popup-shader -visible"></div>
<div class="popup " appAddClassAfterTime="-visible">
    <a [routerLink]="backLink()" class="popup-close"></a>
    <div class="popup-header">{{formMode() | async | formModeToText}} Contact</div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div id="popup-contact-person">

                <div class="popup-body">
                    <div class="popup-body-header">
                        <h3>Contact Person</h3>
                    </div>
                    <div class="popup-body-left">
                        <div class="form-field -required">
                            <label>First Name</label>
                            <input formControlName="firstName" type="text">
                        </div>
                        <div class="form-field -required">
                            <label>Last Name</label>
                            <input formControlName="lastName" type="text">
                        </div>
                        <div class="form-field">
                            <label>Title</label>
                            <input formControlName="title" type="text">
                        </div>
                        <div class="form-field -required">
                            <label>Phone</label>
                            <app-masked-input formControlName="phone"></app-masked-input>
                            <!--<input formControlName="phone" type="text">-->
                        </div>
                        <div class="form-field">
                            <label>Direct Fax</label>
                            <input formControlName="fax" type="text">
                        </div>
                        <!--<div class="form-field">-->
                            <!--<label>Type</label>-->
                            <!--<input formControlName="type" type="text">-->
                        <!--</div>-->
                    </div>
                    <div class="popup-body-right">
                        <div class="form-field">
                            <label>Mobile</label>
                            <app-masked-input formControlName="mobile"></app-masked-input>
                            <!--<input formControlName="mobile" type="text">-->
                        </div>
                        <div class="form-field -required">
                            <label>Email</label>
                            <input formControlName="email" type="text">
                        </div>
                        <div class="form-field">
                            <label>Department</label>
                            <input type="text" formControlName="department">
                        </div>
                        <div class="form-field -required">
                            <label>Role</label>
                            <select formControlName="role">
                                <option [value]="userRole.NONE">None</option>
                                <option [value]="userRole.ADMIN">Admin</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label>Notes</label>
                            <input formControlName="notes" type="text">
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-footer-buttons">
                        <button class="button" type="submit" [disabled]="form.invalid">Update</button>
                        <a [routerLink]="backLink()" class="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
