<form [formGroup]="form" (submit)="submit()">
    <div class="popup-body -auto-height">
        <div class="popup-body-center -padding-30 -narrow">
            <div class="form-field -required">
                <label>Date</label>
                <app-calendar formControlName="date"></app-calendar>
            </div>
            <div class="form-field -required">
                <label>Amount</label>
                <!--<input type="text" formControlName="price" appNumberInput />-->
                <app-masked-input
                    formControlName="price"
                    [mask]="'currency'"
                    [options]="{rightAlign: false}"></app-masked-input>
            </div>
            <div class="form-field -required">
                <label>Status</label>
                <select formControlName="status">
                    <option [value]="null" disabled>Please select...</option>
                    <option *ngFor="let type of SubscriptionStatusNames | keys" [value]="SubscriptionStatus[type]">
                        {{ SubscriptionStatusNames[type] }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="popup-footer">
        <div class="popup-footer-buttons">
            <button appTrackClick class="button" type="submit" [disabled]="form.invalid || form.pristine || submitting">
               Add
            </button>
            <button appTrackClick type="button" (click)="location.back()" class="button">Cancel</button>
        </div>
    </div>
</form>
