<form [formGroup]="form" (submit)="submit()">
    <div id="popup-subscriber-info">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left account-type">
                    <div class="form-field -required">
                        <label>Account Type</label>
                        <label class="custom-radio">
                            <input
                                [value]="accountType.Client"
                                formControlName="accountType"
                                type="radio">
                            <span class="-radio"></span> Client
                        </label>
                        <label class="custom-radio">
                            <input
                                [value]="accountType.House"
                                formControlName="accountType"
                                type="radio">
                            <span class="-radio"></span> House
                        </label>
                    </div>
                </div>
                <div class="popup-body-header-right popup-body-header-status">
                    <span class="fs-17">Status</span>
                    &nbsp;
                    <label class="custom-checkbox -type-2">
                        <input type="checkbox" formControlName="status">
                        <span class="-checkbox"></span> Active
                    </label>
                </div>
                <h3>&nbsp;</h3>
            </div>
            <div class="form-section-title" style="margin-top:-11px"><span>Account Information</span></div>
            <div class="popup-body-left">
                <div class="form-field -required">
                    <label>Company/Organization</label>
                    <input type="text" formControlName="name">
                </div>

                <div class="form-field -required">
                    <label>Address</label>
                    <input type="text" formControlName="address">
                </div>

                <div class="form-field">
                    <label>Address 2</label>
                    <input type="text" formControlName="address2">
                </div>

                <div class="form-field -required">
                    <label>City</label>
                    <input type="text" formControlName="city">
                </div>

                <div class="form-field">
                    <label>State</label>
                    <!--<select formControlName="stateId" appStateList (loaded)="statesAreLoaded($event)"></select>-->
                    <app-select formControlName="stateId"
                                (loaded)="statesAreLoaded($event)"
                                [fetcher]="SelectFetchType.State"></app-select>
                </div>
                <div class="form-field -required">
                    <label>Zip/Postal Code</label>
                    <input formControlName="postCode" type="text">
                </div>
                <div class="form-field -required">
                    <label>Country</label>
                    <app-select formControlName="countryId" (loaded)="countriesAreLoaded($event)" [fetcher]="SelectFetchType.Country"></app-select>
                </div>
                <div class="form-field">
                    <label>Office/Branch</label>
                    <input formControlName="branch" type="text">
                </div>
            </div>
            <div class="popup-body-right" formGroupName="primaryContact">
                <div class="form-field -required">
                    <label>First Name</label>
                    <input formControlName="firstName" type="text">
                </div>
                <div class="form-field -required">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text">
                </div>
                <div class="form-field">
                    <label>Title</label>
                    <input formControlName="title" type="text">
                </div>
                <div class="form-field">
                    <label>Direct Phone</label>
                    <app-masked-input formControlName="phone"></app-masked-input>
                </div>
                <div class="form-field">
                    <label>Direct Fax</label>
                    <input formControlName="fax" type="text">
                </div>
                <div class="form-field">
                    <label>Mobile Phone</label>
                    <app-masked-input formControlName="mobile"></app-masked-input>
                </div>
                <div class="form-field">
                    <label>Email</label>
                    <input formControlName="email" type="email">
                </div>
                <div class="form-field">
                    <label>Notes</label>
                    <input formControlName="notes" type="text">
                </div>
            </div>
            <div class="float-clear"></div>
            <div class="popup-body-left" style="margin-top:-15px">
                <div class="form-section-title">
                    <span>Contact Terms</span>
                </div>
                <div class="form-field">
                    <label>Master Agreement</label>
                    <label class="-normal">
                        <input type="checkbox" formControlName="agreement">
                        Check This to Display Master
                        <br>
                        Agreement Terms
                    </label>
                </div>
            </div>
            <div class="popup-body-right" style="margin-top:-15px">

                <div class="form-section-title"><span>Company Logo</span></div>
                <div class="popup-subscriber-info-logo" *ngIf="form.get('logoUrl').value">
                    <img [src]="form.get('logoUrl').value">
                </div>
                <div class="popup-subscriber-info-file">
                    <app-file-uploader
                        formControlName="logoUrl"
                        [fileUploader]="uploader">
                    </app-file-uploader>
                </div>
            </div>
            <div class="float-clear"></div>
            <ng-container *ngIf="form.value.agreement">
                <div class="popup-body-left" style="margin-top:-15px">
                    <div class="form-field">
                        <label>Standard Discount Rate</label>
                        <input formControlName="standardDiscountRate" type="number" appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field">
                        <label style="line-height: inherit;">Discount Rate for Setup Days</label>
                        <input formControlName="discountRateForSetupDays" type="number" appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field" *ngIf="form.get('alternativeServiceCharge').value">
                        <label style="line-height: inherit;">Alternative Service Charge</label>
                        <input formControlName="alternativeServiceChargePercentage" type="number" appNumberInput>
                        <span class="percent">%</span>
                    </div>
                    <div class="form-field">
                        <br>
                        <label class="custom-checkbox reset-checkbox-label">
                            <input formControlName="alternativeServiceCharge" type="checkbox">
                            <span class="-checkbox"></span>
                            Alternative Service Charge
                        </label>
                    </div>
                    <div class="form-field">
                        <label class="custom-checkbox reset-checkbox-label">
                            <input formControlName="taxExempt" type="checkbox">
                            <span class="-checkbox"></span>
                            Tax Exempt
                        </label>
                    </div>
                </div>
                <div class="popup-body-right" style="margin-top:-15px">
                    <div class="form-field -autosize">
                        <label class="reset-checkbox-label">Service Charge Calculation on</label>
                        <div class="-inline">
                            <label class="custom-radio reset-checkbox-label">
                                <input [value]="functionServiceChargeCalculationType.PreDiscounted" formControlName="serviceChargeCalculation" type="radio">
                                <span class="-radio"></span>
                                {{functionServiceChargeCalculationType.PreDiscounted}}
                            </label>
                            <br>
                            <label class="custom-radio reset-checkbox-label">
                                <input [value]="functionServiceChargeCalculationType.PostDiscounted" formControlName="serviceChargeCalculation" type="radio">
                                <span class="-radio"></span>
                                {{functionServiceChargeCalculationType.PostDiscounted}}
                            </label>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" class="button" [disabled]="form.invalid || submitting">
                    {{mode | formModeToText}}
                </button>
                <button (click)="cancel()" type="button" class="button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
