<form [formGroup]="form" (submit)="submit()">
    <div class="popup-body event-space">

        <div class="popup-body-header">
            <div class="popup-body-header-left">
                <a appTrackClick
                   [routerLink]="'/u/event-spaces/' + (eventSpaceIdObs | async) + '/function-spaces'"
                   class="popup-body-header-back">BACK</a>
            </div>
            <h3>{{formMode() | async | formModeToText}} Function Space</h3>
        </div>

        <div class="popup-body-left">
            <div class="form-field -required">
                <label>Room Name</label>
                <input formControlName="name" type="text">
            </div>
            <div class="form-field -required">
                <label>Short Name</label>
                <input formControlName="roomName" type="text">
            </div>
        </div>
        <div class="popup-body-right">
            <div class="form-field -required">
                <label>Status</label>
                <select formControlName="status">
                    <option [value]="functionSpaceStatus.Inactive">{{functionSpaceStatus.Inactive}}</option>
                    <option [value]="functionSpaceStatus.Active">{{functionSpaceStatus.Active}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="popup-footer">
        <div class="popup-footer-buttons">
            <button type="submit" class="button" [disabled]="form.invalid">
                {{formMode() | async | formModeToText}}
            </button>
            <button type="button" class="button" (click)="goBack()">Cancel</button>
            <!--<a [routerLink]="'/u/event-spaces/' + (eventSpaceIdObs | async) + '/function-spaces'"-->
               <!--class="button">Cancel</a>-->
        </div>
    </div>
</form>
