<form [formGroup]="form" (submit)="submit()">
    <div id="title" class="text-center">
        <div class="inner">
            <div *appAllowShow="[userRole.ADMIN]" class="title-image">
                <app-venue-logo></app-venue-logo>
            </div>
            <h1>Property Information</h1>
        </div>
    </div>
    <div id="body" class="property">
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Property Requisites</h2>
                </div>
            </div>
        </div>
        <div class="property-top">
            <div class="inner">
                <div class="property-left-col">
                    <div class="property-top-title">Permanent address</div>
                    <div class="property-top-content">
                        {{form.get('name').value}}
                        <br>
                        {{form.get('address').value}}
                        <br>
                        <ng-container *ngIf="form.get('address2').value">
                            {{form.get('address2').value}},
                        </ng-container>
                        {{selectedStateCode}}
                        {{form.get('postCode').value}}
                        <!--The Sunshine Hotel<br>1231 Oceanside St.<br>Beach Town, FL 32003-->
                    </div>
                </div>
                <div class="property-right-col">
                    <div class="property-top-title">Company Logo</div>
                    <div class="property-top-logo">
                        <div class="property-top-img" *ngIf="form.get('logoUrl').value">
                            <img [src]="form.get('logoUrl').value">
                        </div>
                        <app-file-uploader
                            formControlName="logoUrl"
                            [fileUploader]="uploader">
                        </app-file-uploader>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-block">
            <div class="inner">
                <div class="property-left-col">
                    <div class="form-field -required">
                        <label>Property Name</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div class="form-field -required">
                        <label>Address</label>
                        <input type="text" formControlName="address">
                    </div>
                    <div class="form-field">
                        <label>Address 2</label>
                        <input type="text" formControlName="address2">
                    </div>
                    <div class="form-field -required">
                        <label>City</label>
                        <input type="text" formControlName="city">
                    </div>
                    <div class="form-field">
                        <label>State</label>
                        <app-select formControlName="stateId"
                                    [fetcher]="SelectFetchType.State"></app-select>
                        <!--<select formControlName="stateId"-->
                        <!--appStateList-->
                        <!--[defaultState]="form.get('stateId').value"-->
                        <!--&gt;</select>-->
                    </div>
                    <div class="form-field -required">
                        <label>Country</label>
                        <app-select formControlName="countryId"
                                    [fetcher]="SelectFetchType.Country"></app-select>
                        <!--<select formControlName="countryId"-->
                        <!--appCountryList-->
                        <!--[defaultCountry]="form.get('countryId').value">-->
                        <!--</select>-->
                    </div>
                    <div class="form-field -required">
                        <label>Zip/Postal Code</label>
                        <input type="text" formControlName="postCode">
                    </div>
                    <div class="form-field" *appAllowShow="[userRole.SUPER_ADMIN]">
                        <label>Company/Organization</label>
                        <app-select
                            formControlName="subscriberId"
                            [fetcher]="SelectFetchType.Subscriber"></app-select>
                        <!--<select formControlName="subscriberId">-->
                        <!--<option [value]="sub.id" *ngFor="let sub of subscribers;">{{sub.name}}</option>-->
                        <!--</select>-->
                    </div>
                </div>
                <div class="property-right-col">
                    <div class="form-field ">
                        <label>Main Phone</label>
                        <app-masked-input formControlName="mainPhone"></app-masked-input>
                        <!--<input type="text" formControlName="mainPhone">-->
                    </div>
                    <div class="form-field">
                        <label>Main Fax</label>
                        <input type="text" formControlName="mainFax">
                    </div>
                    <div class="form-field">
                        <label>Website</label>
                        <input type="text" formControlName="website">
                    </div>
                    <div class="form-field">
                        <label>Property Owner</label>
                        <input type="text" formControlName="owner">
                    </div>
                    <div class="form-field">
                        <label>Property Operator</label>
                        <input type="text" formControlName="operator">
                    </div>
                </div>

            </div>
        </div>

        <app-venue-settings-form *ngIf="formMode === mode.Edit"
                                 [venueId]="id"
                                 (statusChanged)="settingsStatusChanged($event)"
                                 (submitted)="submit()"
                                 (settingsUpdated)="settingsUpdated($event)"></app-venue-settings-form>
        <app-venue-contacts *ngIf="formMode === mode.Edit" [venueId]="id"></app-venue-contacts>


        <router-outlet></router-outlet>

        <div class="bottom-buttons">
            <button class="button" appTrackClick [disabled]="form.invalid || settingsFormStatus === formStatus.Invalid"
                    type="submit">
                {{formMode | formModeToText}}
            </button>
            <a appTrackClick routerLink="/u/venues" class="button">
                Cancel
            </a>
        </div>

    </div>
</form>
