.pagination
    position: fixed
    top: 50%
    right: 30px
    ul
        li
            a
                width: auto
                cursor: pointer
            a:before
                margin: 0 -145px 0 0
