<div id="body" class="budget-input">
    <div class="filters">
        <div class="inner">
            <div class="filters-left">
                <div class="filters-label">Current Year</div>
                <div class="filters-dropdowns">
                    <form [formGroup]="filterForm">
                        <app-select style="display: inline-block" formControlName="year"
                                    [fetcher]="SelectFetchType.Year"></app-select>
                        <!--<select formControlName="year">-->
                        <!--<option *ngFor="let year of yearList" [value]="year">{{year}}</option>-->
                        <!--</select>-->
                        <select formControlName="category">
                            <option value="revenue">Revenue</option>
                            <option value="cost">Cost</option>
                            <option value="both">All Groups</option>
                        </select>
                    </form>
                </div>
            </div>
            <!-- <div class="filters-right">
                <span>( in USD )</span>
                <a href="#" class="button -small">Import fIle</a>
                <a href="#" class="button -small">Export fIle</a>
            </div> -->
        </div>
    </div>
    <div class="complex-table -budget">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="16%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                        <col width="6%">
                    </colgroup>
                    <tr>
                        <th>Categories</th>
                        <th>GL Code</th>
                        <th>Annual Budget</th>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mar</th>
                        <th>Apr</th>
                        <th>May</th>
                        <th>Jun</th>
                        <th>Jul</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner" *ngIf="revenueSelected">
                <form [formGroup]="revenueBudgetForm">
                    <table formArrayName="budgets">
                        <colgroup>
                            <col width="16%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                        </colgroup>
                        <tr class="-th">
                            <td colspan="15">
                                <strong>Revenue</strong>
                            </td>
                        </tr>
                        <ng-container *ngFor="let item of revenueBudgetCtrl.controls; let i = index;">
                            <tr [formGroupName]="i">
                                <td>{{ revenueBudgetCtrl.controls[i].get('revenueCategoryName').value }}</td>
                                <td>{{ revenueBudgetCtrl.controls[i].get('revenueCode').value }}</td>
                                <td>
                                    {{ calculateAnnualBudget(revenueBudgetCtrl.controls[i]) }}
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="january"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jan</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="february"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Feb</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="march"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Mar</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="april"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Apr</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="may"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">May</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="june"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jun</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="july"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jul</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="august"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Aug</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="september"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Sep</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="october"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Oct</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="november"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Nov</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="december"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Dec</div>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </form>
            </div>
            <div class="inner" *ngIf="costSelected">
                <form [formGroup]="costBudgetForm">
                    <table formArrayName="budgets">
                        <colgroup>
                            <col width="16%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                            <col width="6%">
                        </colgroup>
                        <tr class="-th">
                            <td colspan="15">
                                <strong>Cost</strong>
                            </td>
                        </tr>
                        <ng-container *ngFor="let item of costBudgetCtrl.controls; let i = index;">
                            <tr [formGroupName]="i">
                                <td>{{ costBudgetCtrl.controls[i].get('costCategoryName').value }}</td>
                                <td>{{ costBudgetCtrl.controls[i].get('costCode').value }}</td>
                                <td>
                                    {{ calculateAnnualBudget(costBudgetCtrl.controls[i]) }}
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="january"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jan</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="february"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Feb</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="march"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Mar</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="april"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Apr</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="may"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">May</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="june"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jun</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="july"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Jul</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="august"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Aug</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="september"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Sep</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="october"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Oct</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="november"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Nov</div>
                                </td>
                                <td>
                                    <app-masked-input
                                        formControlName="december"
                                        [mask]="'currency'"
                                        [options]="{rightAlign: false}"></app-masked-input>
                                    <div class="-month">Dec</div>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="bottom-buttons">
        <button type="submit" class="button" (click)="update()"
                [disabled]="isLoading || revenueBudgetForm.pristine && costBudgetForm.pristine">
            Save
        </button>
        <a routerLink="/u" class="button">Cancel</a>
    </div>

</div>
