<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Payment Info</h1>
    </div>
</div>
<div id="body" class="pricing">
    <form [formGroup]="form">
        <div class="content-block">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Account Type</label>
                        <select formControlName="accountType">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of SubscriptionTypeNames | keys" [value]="SubscriptionType[type]">
                                {{ SubscriptionTypeNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Creation Date</label>
                        <app-calendar formControlName="creationDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Subscription Date</label>
                        <app-calendar formControlName="subscriptionDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Renewal Period</label>
                        <select formControlName="renewalPeriod">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of RenewalPeriodNames | keys" [value]="RenewalPeriod[type]">
                                {{ RenewalPeriodNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Next Payment Due</label>
                        <app-calendar formControlName="nextPaymentDate"></app-calendar>
                    </div>
                    <div class="form-field">
                        <label>Upload Contract</label>
                        <app-file-uploader formControlName="contractUrl"
                                           [fileUploader]="contractUploader"></app-file-uploader>
                        <a [href]="form.get('contractUrl').value" target="_blank" *ngIf="form.get('contractUrl').value">View
                            Contract</a>
                    </div>
                    <div class="form-field">
                        <label>Upload Initial Invoice</label>
                        <app-file-uploader formControlName="initialInvoiceUrl"
                                           [fileUploader]="invoiceUploader"></app-file-uploader>
                        <a [href]="form.get('initialInvoiceUrl').value" target="_blank"
                           *ngIf="form.get('initialInvoiceUrl').value">View Initial Invoice</a>
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required">
                        <label>Payment Method</label>
                        <select formControlName="paymentMethod">
                            <option disabled [value]="null">Please select...</option>
                            <option *ngFor="let type of PaymentMethodNames | keys" [value]="PaymentMethod[type]">
                                {{ PaymentMethodNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field -required">
                        <label>Amount Due</label>
                        <!--<input type="number" appNumberInput formControlName="amountDue">-->
                        <app-masked-input
                            formControlName="amountDue"
                            class="inaccessible without-opacity"
                            [mask]="'currency'"
                            [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field -required">
                        <label>Implementation Fee</label>
                        <!--<input type="number" appNumberInput formControlName="implementationFee">-->
                        <app-masked-input
                            formControlName="implementationFee"
                            class="inaccessible without-opacity"
                            [mask]="'currency'"
                            [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field -required">
                        <label>Contract Number</label>
                        <input type="text" formControlName="contractNumber">
                    </div>
                    <div class="form-field -required">
                        <label>Customer PO</label>
                        <input type="text" formControlName="customerPo">
                    </div>
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="status">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of SubscriptionStatusNames | keys"
                                    [value]="SubscriptionStatus[type]">
                                {{ SubscriptionStatusNames[type] }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Payment History</h2>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">
                <app-payment-history [subscriberId]="subscriberId"></app-payment-history>
            </div>
        </div>
    </form>
</div>
