<div class="header-container">
    <table class="simple-table">
        <colgroup>
            <col width="29%">
            <col width="29%">
            <col width="29%">
            <col width="13%">
        </colgroup>
        <thead>
            <tr>
                <th>
                    Edited Date
                </th>
                <th>
                    Price ($)
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="table-container">
    <table class="simple-table">
        <colgroup>
            <col width="29%">
            <col width="29%">
            <col width="29%">
            <col width="13%">
        </colgroup>
        <tbody>
        <tr *ngFor="let record of prices">
            <td>{{record.creationTime | date : 'mediumDate'}}</td>
            <td>
                <span [ngClass]="{ 'amended': record.priceAmended }">{{record.price | number:'1.2-2'}}</span>
            </td>
            <td>
                <span [ngClass]="{ 'amended': record.fromDateAmended }">
                    {{record.fromDate | date : 'mediumDate'}}
                </span>
            </td>
            <td>
                <span [ngClass]="{ 'amended': record.toDateAmended }">
                    {{record.toDate | date : 'mediumDate'}}
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
