<div id="popup-events">
    <div class="popup-events-list">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left">
                    <app-paging-table-search placeholder="Quick Search"></app-paging-table-search>

                </div>
                <div class="popup-body-header-right">
                    <a [routerLink]="addUrl" [queryParams]="addQueryParams" class="red-plus"><span class="red-plus-tooltip">Add New Event</span></a>
                </div>
            </div>
            <div class="popup-events-list-table">
                <table class="simple-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Event Name</th>
                        <th>Master Account Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody app-paging-table
                           #eventsTable
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;">
                        <td></td>
                        <td>{{item.name}}</td>
                        <td>{{item.masterAccountNumber}}</td>
                        <td>{{item.eventStartDate | date}}</td>
                        <td>{{item.eventEndDate | date}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <a appTrackClick [routerLink]="editUrl(item)" [queryParams]="{accountId: accountId}" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a
                                appTrackClick
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete event?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="popup-events-list-search">

            </div>
            <div class="pagination">
                <app-paging-table-paging></app-paging-table-paging>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <div *ngFor="let column of columns">
        <app-paging-table-header-column [column]="column">
        </app-paging-table-header-column>
    </div>
    <app-paging-table-items-per-page></app-paging-table-items-per-page>
</div>

<router-outlet></router-outlet>
