<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>{{(formMode() | async)}} Contract</h1>
    </div>
</div>
<div id="body" class="edit-contract-management">

    <form [formGroup]="form" (submit)="submit()">

        <div class="content-block -grey">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Vendor</label>
                        <app-select
                            formControlName="vendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                        <!--<app-vendor-dropdown formControlName="vendorId"></app-vendor-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Contact</label>
                        <app-select
                            formControlName="vendorContactId"
                            [factoryArgs]="form.get('vendorId').value"
                            [fetcher]="vendorContactFetchFactory"></app-select>
                        <!--<app-vendor-contact-dropdown formControlName="vendorContactId" [vendorId]="form.get('vendorId').value"></app-vendor-contact-dropdown>-->
                    </div>
                </div>
                <div class="content-right-col">
                    <app-file-uploader formControlName="documentUrl" [fileUploader]="documentUploader"></app-file-uploader>
                    <a
                        appTrackClick
                        class="button"
                        [href]="documentUrl"
                        [hidden]="!documentUrl"
                        target="_blank"
                    >
                        View Document
                    </a>
                </div>
            </div>
        </div>

        <div class="content-block">
            <div class="complex-table -no-upper-th -center-th -no-odd-tr -hover-tr -min-height-double-td">
                <div class="complex-table-header">
                    <div class="inner">
                        <table>
                            <!-- <colgroup>
                                <col width="16%">
                                <col [width]="getColumnWidth('withoutDiscount')">
                                <col [width]="getColumnWidth('discountTo10')">
                                <col [width]="getColumnWidth('discountTo20')">
                                <col [width]="getColumnWidth('discountTo30')">
                                <col [width]="getColumnWidth('discountTo40')">
                                <col [width]="getColumnWidth('discountTo50')">
                                <col [width]="getColumnWidth('discountFrom50')">
                            </colgroup> -->
                            <tr>
                                <th width="16%"></th>
                                <th [width]="getColumnWidth('withoutDiscount')" [hidden]="hidden.withoutDiscount">
                                    <a class="icon -x" (click)="hideColumn('withoutDiscount')"></a>
                                    <br>Standart Price No Disc. </th>
                                <th [width]="getColumnWidth('discountTo10')" [hidden]="hidden.discountTo10">
                                    <a class="icon -x" (click)="hideColumn('discountTo10')"></a>
                                    <br>Discount
                                    <br>up to 10%</th>
                                <th [width]="getColumnWidth('discountTo20')" [hidden]="hidden.discountTo20">
                                    <a class="icon -x" (click)="hideColumn('discountTo20')"></a>
                                    <br>Discount
                                    <br>10.01% - 20%</th>
                                <th [width]="getColumnWidth('discountTo30')" [hidden]="hidden.discountTo30">
                                    <a class="icon -x" (click)="hideColumn('discountTo30')"></a>
                                    <br>Discount
                                    <br>20.01% - 30%</th>
                                <th [width]="getColumnWidth('discountTo40')" [hidden]="hidden.discountTo40">
                                    <a class="icon -x" (click)="hideColumn('discountTo40')"></a>
                                    <br>Discount
                                    <br>30.01% - 40%</th>
                                <th [width]="getColumnWidth('discountTo50')" [hidden]="hidden.discountTo50">
                                    <a class="icon -x" (click)="hideColumn('discountTo50')"></a>
                                    <br>Discount
                                    <br>40.01% - 50%</th>
                                <th [width]="getColumnWidth('discountFrom50')" [hidden]="hidden.discountFrom50">
                                    <a class="icon -x" (click)="hideColumn('discountFrom50')"></a>
                                    <br>Discount
                                    <br>> 50.01%</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="complex-table-body">
                    <div class="inner">
                        <table>
                            <tr class="-th">
                                <td colspan="8" class="text-center">
                                    <strong>Revenue Share Percentage</strong>
                                </td>
                            </tr>
                            <ng-container formArrayName="discounts">
                                <tr *ngFor="let discount of discounts" [formGroup]="discount">
                                    <td width="16%">{{discount.get('subscriberRevenueCategoryName').value}}</td>
                                    <td [width]="getColumnWidth('withoutDiscount')" [hidden]="hidden.withoutDiscount">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="withoutDiscount">
                                    </td>
                                    <td [width]="getColumnWidth('discountTo10')" [hidden]="hidden.discountTo10">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountTo10">
                                    </td>
                                    <td [width]="getColumnWidth('discountTo20')" [hidden]="hidden.discountTo20">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountTo20">
                                    </td>
                                    <td [width]="getColumnWidth('discountTo30')" [hidden]="hidden.discountTo30">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountTo30">
                                    </td>
                                    <td [width]="getColumnWidth('discountTo40')" [hidden]="hidden.discountTo40">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountTo40">
                                    </td>
                                    <td [width]="getColumnWidth('discountTo50')" [hidden]="hidden.discountTo50">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountTo50">
                                    </td>
                                    <td [width]="getColumnWidth('discountFrom50')" [hidden]="hidden.discountFrom50">
                                        <input type="number" appNumberInput placeholder="0%" min="0" max="100" formControlName="discountFrom50">
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-buttons">
            <button type="submit" class="button" [disabled]="form.invalid || form.pristine || isLoading || submitting">{{(formMode() | async)}}</button>
            <button type="button" (click)="cancel()" class="button">Cancel</button>
        </div>

    </form>

</div>
