<div class="popup-shader -visible"></div>
<div class="popup" appAddClassAfterTime="-visible">
    <a routerLink="/u/event-spaces" class="popup-close"></a>
    <div class="popup-header">{{mode | formModeToText}} Event Space</div>
    <div class="popup-tabs-nav">
        <a routerLinkActive="-current"
           appTrackClick
           [routerLink]="linkPrefix() + 'event-space-info'">
            Event Space Information
        </a>
        <a routerLinkActive="-current"
           appTrackClick
           *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'function-spaces'">
            Function Spaces
        </a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">
            Function Spaces
        </a>
    </div>
    <div class="popup-tabs-container">
        <router-outlet></router-outlet>
    </div>
</div>
