<div class="popup-shader -visible"></div>
<div class="popup -revenue" appAddClassAfterTime="-visible">
    <a routerLink="/u/decision-trees" class="popup-close"></a>
    <div class="popup-header">Edit Decision Tree</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body -auto-height">
            <div class="popup-body-center -padding-30 -narrow">
                <div class="form-field">
                    <label>Name</label>
                    <input type="text" [value]="currentEntity?.name" disabled>
                </div>
                <div class="form-field -required">
                    <label>Access Type</label>
                    <select formControlName="type">
                        <option [value]="DecisionTreeType.Public">{{ DecisionTreeType.Public | titlecase }}</option>
                        <option [value]="DecisionTreeType.Private">{{ DecisionTreeType.Private | titlecase }}</option>
                    </select>
                </div>
                <div class="form-field" [hidden]="form.get('type').value == DecisionTreeType.Public">
                    <label>Subscribers</label>
                    <app-multi-select *ngIf="subscribers && subscribers.length" [selection]="subscribers" formControlName="subscriberIds"></app-multi-select>
                    <input type="text" disabled *ngIf="!subscribers || !subscribers.length">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" [disabled]="form.invalid" class="button">Update</button>
                <a routerLink="/u/decision-trees" class="button">Cancel</a>
            </div>
        </div>
    </form>

</div>
