<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Inventory Summary</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <div class="form-field -required">
                        <label>Venue</label>
                        <app-dynamic-dropdown #venue formControlName="venueId" [loadFunction]="loadFunction"></app-dynamic-dropdown>
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="generate(ReportAction.View)" class="button" [disabled]="isDisabled || form.invalid || form.pristine">View</button>
                        <button appTrackClick (click)="generate(ReportAction.Print)" class="button" [disabled]="isDisabled || form.invalid || form.pristine">Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- <div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <div>
                <form [formGroup]="form">
                    <div class="form -pricing">
                        <div class="form-field -required">
                            <label>Category </label>
                            <app-multi-select *ngIf="category && category.length" [selection]="category"
                                formControlName="categoryIds"></app-multi-select>
                        </div>
                        <div class="form-field -required">
                            <label>Location </label>
                            <app-multi-select *ngIf="locat && locat.length" [selection]="locat"
                                formControlName="locationIds"></app-multi-select>
                        </div>
                        <div class="form-field -required">
                            <label>Status</label>
                            <app-multi-select *ngIf="status && status.length" [selection]="status"
                                formControlName="statusID"></app-multi-select>
                        </div>
                        <div class="form-field -required">
                            <label>Installed/Portable</label>
                            <select formControlName="type" #type style="margin-top: 10px;">
                                <option [value]=null selected disabled= 'true'>Please Select ...</option>
                                <option *ngFor="let type of installPort" [value]="type.id">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="form-field -buttons">
                            <button appTrackClick (click)="generate(ReportAction.View)" class="button"
                                [disabled]="isDisabled || form.invalid || form.pristine">View</button>
                            <button appTrackClick (click)="generate(ReportAction.Print)" class="button"
                                [disabled]="isDisabled || form.invalid || form.pristine">Print</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->