<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Pricing Extension</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <div class="form-field">
                        <label>Current Expiration Date</label>
                        <app-calendar formControlName="currentDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Extend Date to</label>
                        <app-calendar formControlName="extensionDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Apply to</label>
                        <select formControlName="applyTo">
                            <option [value]="applyTo.Both">All</option>
                            <option [value]="applyTo.Package">Packages</option>
                            <option [value]="applyTo.Equipment">Equipment / Services</option>
                        </select>
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="update()" class="button" [disabled]="isLoading || form.invalid || form.pristine">Save</button>
                        <button (click)="cancel()" type="button" class="button">Cancel</button>
                        <!--<a appTrackClick href="#" routerLink="/u" class="button">Cancel</a>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
