<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Inventory</h1>
    </div>
</div>
<app-inventory-paging-prev (prev)="onPrev($event)"></app-inventory-paging-prev>
<app-inventory-paging-next (next)="onNext($event)"></app-inventory-paging-next>
<div id="body" class="manage-inventory -wizard -step-2">
    <div class="steps four-steps -step-2">
        <app-inventory-creation-steps [inventoryId]="entityId() | async"
                                      [step]="stepType.ServiceAndMaintenance"></app-inventory-creation-steps>
    </div>

    <form [formGroup]="form" (submit)="submit()">
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Service & Maintenance Information</h2>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field">
                        <label>Warranty Expiration Date</label>
                        <app-calendar formControlName="warrantyExpDate"></app-calendar>
                    </div>
                    <div class="form-field with-button">
                        <label>Warranty Vendor</label>
                        <app-select
                            #warranyVendor
                            formControlName="warrantyVendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                        <app-vendor-creation-button></app-vendor-creation-button>
                    </div>
                    <div class="form-field">
                        <label>Service Contract Expiration</label>
                        <app-calendar formControlName="serviceExpDate"></app-calendar>
                    </div>
                    <div class="form-field with-button">
                        <label>Service/Maint. Vendor</label>
                        <app-select
                            #serviceVendor
                            formControlName="serviceVendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                        <app-vendor-creation-button></app-vendor-creation-button>
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required">
                        <label>Maintenance Schedule</label>
                        <select formControlName="schedule">
                            <option [selected]="true">Please Select...</option>
                            <option [value]="schedule.MONTHLY">{{schedule.MONTHLY}}</option>
                            <option [value]="schedule.QUARTERLY">{{schedule.QUARTERLY}}</option>
                            <option [value]="schedule.SEMI_ANNUAL">{{schedule.SEMI_ANNUAL}}</option>
                            <option [value]="schedule.ANNUAL">{{schedule.ANNUAL}}</option>
                        </select>
                    </div>
                    <div class="form-field -required">
                        <label>Last Service Date</label>
                        <app-calendar formControlName="lastServiceDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Next Service Date</label>
                        <app-calendar formControlName="nextServiceDate"></app-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-buttons">
            <a appTrackClick [routerLink]="'/u/inventory/' + (entityId() | async) + '/asset-information'"
               class="button">Back</a>
            <button appTrackClick [disabled]="form.invalid || isLoading" type="submit" class="button -inverted -wider">
                {{formMode() | async}} & Go To Next Step
            </button>
            <button appTrackClick type="button"
                    (click)="cancel()"
                    class="button">
                Cancel
            </button>
        </div>
    </form>
</div>
