<div id="title" class="text-center">
    <div class="inner">
        <div *appAllowShow="[userRole.ADMIN]" class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Users</h1>
    </div>
</div>
<div id="body" class="account-management">
    <div class="inner">
        <app-subscriber-users-entity
            [cancelLink]="'/u/users'"
            [userIdObs]="userIdObs"
            [subscriberId]="null"
            (added)="goBack()"
            (updated)="goBack()"
        ></app-subscriber-users-entity>
    </div>
</div>
