<form [formGroup]="filterForm" (submit)="applyFilters()">
    <div class="content-left-col">
        <div class="form-field">
            <label>Category</label>
            <app-select
                formControlName="categoryId"
                [allOption]="true"
                [fetcher]="SelectFetchType.InventoryCategory"></app-select>
        </div>
        <div class="form-field">
            <label>Sub-Category</label>

            <app-select
                formControlName="subCategoryId"
                [allOption]="true"
                [factoryArgs]="filterForm.get('categoryId').value"
                [fetcher]="inventorySubCategoryFetchFactory"></app-select>
        </div>
        <div class="form-field">
            <label>Inventory Barcode</label>
            <input type="text" formControlName="barcode">
        </div>
    </div>
    <div class="content-right-col">
        <div class="form-field">
            <label>Search</label>
            <input type="text" formControlName="search">
        </div>
        <div class="form-field">
            <label>Inventory Tag #</label>
            <input type="text" formControlName="tagNumber">
        </div>
        <div class="form-field">
            <label>Status</label>
            <select formControlName="condition">
                <option [value]="status.All">{{status.All}}</option>
                <option [value]="status.Active">{{status.Active}}</option>
                <option [value]="status.AtRepair">{{status.AtRepair}}</option>
                <option [value]="status.Broken">{{status.Broken}}</option>
                <option [value]="status.Missing">{{status.Missing}}</option>
                <option [value]="status.Removed">{{status.Removed}}</option>
                <option [value]="status.ServiceRequired">{{status.ServiceRequired}}</option>
            </select>
        </div>
    </div>
    <div class="content-buttons">
        <button appTrackClick type="submit" class="button">Search</button>
        <button appTrackClick type="button" class="button" (click)="cancel()">Cancel</button>
    </div>
</form>
<div class="form-field-sep"></div>

<div style="display: none;">
    <app-paging-table-search placeholder="Search..."></app-paging-table-search>
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="tbt">
    <div class="tbt-left">
        <div class="content-table -no-scroll">
            <h4>Search Result</h4>
            <div class="content-table-header">
                <table>
                    <colgroup>
                        <col width="15%">
                        <col width="28%">
                        <col width="28%">
                        <col width="28%">
                    </colgroup>
                    <tr>
                        <th></th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Inventory Tag#</th>
                    </tr>
                </table>
            </div>
            <div class="content-table-body">
                <table>
                    <colgroup>
                        <col width="15%">
                        <col width="28%">
                        <col width="28%">
                        <col width="28%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;" [class.disabled]="selectedEquipmentIds[item.id]">
                        <td style="text-align:center">
                            <label class="custom-checkbox -type-3 -no-label">
                                <input type="checkbox"
                                       appTrackClick
                                       (click)="checkedLeft($event, item)"
                                       [disabled]="selectedEquipmentIds[item.id]">
                                <span class="-checkbox"></span>
                            </label>
                        </td>
                        <td>{{item.manufacturerName}}</td>
                        <td>{{item.model}}</td>
                        <td>
                            {{item.tagNumber}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                <app-paging-table-paging></app-paging-table-paging>
            </div>
        </div>
    </div>
    <div class="tbt-center">
        <button (click)="add()" appTrackClick type="button" class="button -arrow-right -inverted">Add</button>
        <button (click)="remove()" appTrackClick type="button" class="button -arrow-left">Remove</button>
    </div>
    <div class="tbt-right">
        <div class="content-table -no-scroll">
            <h4>
                System Components
            </h4>
            <div class="content-table-header">
                <table>
                    <colgroup>
                        <col width="15%">
                        <col width="28%">
                        <col width="28%">
                        <col width="28%">
                    </colgroup>
                    <tr>
                        <th></th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Inventory Tag#</th>
                    </tr>
                </table>
            </div>
            <div class="content-table-body">
                <table>
                    <colgroup>
                        <col width="15%">
                        <col width="28%">
                        <col width="28%">
                        <col width="28%">
                    </colgroup>
                    <tbody [dragula]='"selected-inventories"' [dragulaModel]='selectedEquipment'>
                    <tr *ngFor="let item of selectedEquipment">
                        <td style="text-align:center">
                            <i class="fa fa-arrows"></i>
                            <label class="custom-checkbox -type-3 -no-label">
                                <input type="checkbox" appTrackClick (click)="checkedRight($event, item)">
                                <span class="-checkbox"></span>
                            </label>
                        </td>
                        <td>{{item.manufacturerName}}</td>
                        <td>{{item.model}}</td>
                        <td>
                            {{item.tagNumber}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
