tr
    &.disabled
        td
            opacity 0.5

.fa.fa-arrows
    cursor pointer
    display inline-block
    margin-right .5rem
    color #381b86


$transitBorderColor = #3A3A3A

.gu-transit
    td
        border-top 2px solid $transitBorderColor !important
        border-bottom 2px solid $transitBorderColor !important

        &:first-child
            border-left 2px solid $transitBorderColor !important

        &:last-child
            border-right 2px solid $transitBorderColor !important
