<div id="terms">
    <div class="inner">
        <form [formGroup]="form" (submit)="submit()">
            <div class="visual-editor-wrapper">
                <app-tinymce [formControlName]="activeField"></app-tinymce>
            </div>
            <div class="visual-editor-buttons">
                <button appTrackClick type="submit" class="button">Save</button>
                <button appTrackClick type="button" class="button" (click)="clear()">Clear</button>
            </div>
        </form>
    </div>
</div>
