@charset "utf-8";
/* Reset */
@import url(layouts.css);
@import url(responsive.css);

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

/* Tags */

html { height: 100% }

a {
	color: #5935b0;
	text-decoration: none;
	transition: .3s
}
a:hover {
	color: #f62a4b;
	text-decoration: underline;
}
a:after {
}
a:hover:after {
	bottom: -2px;
	opacity: 1;
}
body {
	position: relative;
	min-width: 600px; min-height: 100%;
	color: #212121;
	font: 400 16px/23px Montserrat, Arial, Helvetica, sans-serif;
}
h1 {
	color: #4d4661;
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
}
h2 {
	margin: 0 0 20px;
	color: #505050;
	font-weight: 400;
	font-size: 25px;
	line-height: 35px;
}
h3 {
	color: #505050;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
h4 {
	margin: 0 0 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}
h5 {
}
h6 {
	padding: 15px;
	font-weight: 300; font-size: 15px;
	text-align: center;
	border-bottom: 1px solid #cfcfcf
}
img { vertical-align: middle }
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea,
select {
	box-sizing: border-box;
	padding: 10px 8px;
	height: 39px;
	max-width: 100%;
	font-weight: 400; font-size: 16px; line-height: 19px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #212121;
	transition: .3s
	}
input[type="search"] {
	padding-right: 35px;
	background: url(../images/icon-magnifier.png) right 8px center no-repeat;
}
select { padding: 5px 8px; height: 29px; }
input[type="text"].has-error,
input[type="email"].has-error,
input[type="search"].has-error,
input[type="password"].has-error,
input[type="tel"].has-error,
input[type="number"].has-error,
select.has-error,
textarea.has-error { border-color: #cc0000 }
input:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus { border-color: #381b86; outline: none }

select {
	position: relative;
	padding-right: 31px;
	height: 40px;
	background: url(../images/icon-dropdown-grey.png) right 8px center no-repeat;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select:hover { 	background: url(../images/icon-dropdown-purple.png) right 8px center no-repeat; }
select::-ms-expand { display: none; }

input[type="submit"] {
	padding: 10px 20px;
	height: 45px;
	color: #fff;
	font-weight: 400; font-size: 16px; line-height: 25px;
	text-transform: uppercase;
	background-color: #381b86;
	border: none; border-radius: 3px;
	cursor: pointer;
	transition: .3s
	}
input[type="submit"]:hover { background-color: #7551cc }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

label {}
label input { vertical-align: middle }

p {
	margin: 0 0 25px
}
strong { font-weight: bold }

table {
	width: 100%;
	border-collapse: collapse;
}
table.-auto-width { width: auto }
table th,
table td {
	padding: 8px 20px;
}


/* Global Classes */
.float-clear {}
.float-clear:after { content: ""; display: table; clear: both; }
.float-right { float: right }
.float-left { float: left }

.fw-300 { font-weight: 300 } .fw-normal { font-weight: normal }
.fs-13 { font-size: 13px } .fs-14 { font-size: 14px } .fs-15 { font-size: 15px } .fs-17 { font-size: 17px } .fs-24 { font-size: 24px }
.ff-default { font-family: Montserrat, Arial, Helvetica, sans-serif } .ff-opensans { font-family: "Open Sans", Arial, Helvetica, sans-serif }
.lh-20 { line-height: 20px } .lh-24 { line-height: 24px } .lh-35 { line-height: 35px }

.gap-v-5 { height: 5px } .gap-v-10 { height: 10px } .gap-v-20 { height: 20px } .gap-v-25 { height: 25px } .gap-v-30 { height: 30px } .gap-v-35 { height: 35px } .gap-v-40 { height: 40px } .gap-v-50 { height: 50px } 

.mr-10 { margin-right: 10px }
.mb-10 { margin-bottom: 10px } .mb-20 { margin-bottom: 20px } .mb-30 { margin-bottom: 30px } .mb-45 { margin-bottom: 45px } .mb-55 { margin-bottom: 55px }
.ml-10 { margin-left: 10px } .ml-20 { margin-left: 20px } .ml-30 { margin-left: 30px } .ml-45 { margin-left: 45px } .ml-55 { margin-left: 55px }

.pl-55 { padding-left: 55px }

.row { margin: 0 auto; padding: 0; max-width: 1260px;	}
.row.-wider { max-width: 1300px;	}
.row:after { content: ""; display: table; clear: both }
.row > div { box-sizing: border-box; float: left; }
.row > div:first-child { padding-left: 0; }
.row > div:last-child { padding-right: 0; }
.row .col-left { float: left }
.row .col-right { float: right }
.row .col-1 { width: 8.3333% }
.row .col-2 { width: 16.6666% }
.row .col-3 { width: 25% }
.row .col-4 { width: 33.3333% }
.row .col-5 { width: 41.6666% }
.row .col-6 { width: 50% }
.row .col-7 { width: 58.3333% }
.row .col-8 { width: 66.6666% }
.row .col-9 { width: 75% }
.row .col-10 { width: 88.3333% }
.row .col-11 { width: 91.6666% }
.row .col-12 { width: 100% }
.row .col-h-padding-8 { padding-left: 8px; padding-right: 8px; }
.row .col-h-padding-20 { padding-left: 20px; padding-right: 20px; }
.row .col-t-padding-30 { padding-top: 30px; }
.row .col-v-padding-5 { padding-top: 5px; padding-bottom: 5px; }



.text-purple { color: #522ea9 }


.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }
.text-bigger-15 { font-size: 115% }
.text-bigger { font-size: 150% }
.text-uppercase { text-transform: uppercase }

.va-middle { vertical-align: middle }

.w-100 { width: 100% }