/* Classes */

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 20px;
    min-width: 130px;
    color: #381b86;
    font-size: 16px;
    text-align: center; text-transform: uppercase; text-decoration: none;
    background: none;
    background-repeat: no-repeat;
    border: 1px solid #381b86; border-radius: 3px;
    cursor: pointer
}
.button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #381b86
}
.button.-small {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px; line-height: 20px;
}
.button.-wider {
    padding-left: 30px; padding-right: 30px;
}
.button.-inverted {
    color: #fff;
    background-color: #381b86;
}
.button.-inverted:hover {
    color: #381b86;
    background-color: #fff
}
/*.button.-arrow-right,*/
/*.button.-arrow-right.-inverted:hover  { background-image: url(../images/arrow-right-purple-small.png); background-position: right 10% center }*/
/*.button.-arrow-right:hover,*/
/*.button.-arrow-right.-inverted { background-image: url(../images/arrow-right-white-small.png); background-position: right 10% center }*/
/*.button.-arrow-left,*/
/*.button.-arrow-left.-inverted { background-image: url(../images/arrow-left-purple-small.png); background-position: 10% center }*/
/*.button.-arrow-left:hover,*/
/*.button.-arrow-left.-inverted { background-image: url(../images/arrow-left-white-small.png); background-position: 10% center }*/

.bottom-buttons {
    padding: 20px 0 50px;
    text-align: center;
}
.bottom-buttons .button{
    margin: 0 5px;
    min-width: 150px;
    font-size: 16px;
}

.complex-table {
    overflow-x: auto;
}
.complex-table-header {
    background: #e1e1e5;
    border-bottom: 1px solid #88949a;
    min-width: 1000px;
}
.complex-table-header table { width: 100%; border-collapse: collapse }
.complex-table-header th {
    padding: 7px 15px;
    font-weight: 400; font-size: 14px; line-height: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    border-right: 1px solid #cfcfcf;
}
.complex-table-header th:last-child { border: none }
.complex-table-header th.-no-border { border-right: none }
.complex-table-header th input[type=search] { margin-left: 30px }
.complex-table-header th .red-plus.-right { margin-right: -15px }
.complex-table.-no-upper-th th { text-transform: none }
.complex-table.-center-th th { text-align: center }

.complex-table-body {
    min-width: 1000px;
}
.complex-table-body tr:nth-child(odd) { background: linear-gradient(to right, #ffffff, #fafafa, #ffffff) }
.complex-table-body.-no-diff-td tr:nth-child(odd) { background: #fff }
.complex-table.-no-odd-tr .complex-table-body tr:nth-child(odd) { background: none }
.complex-table.-hover-tr .complex-table-body tr:hover { background: linear-gradient(to right, #ffffff, #f3f3f3, #ffffff) }
.complex-table.-th-va-top th { padding-top: 12px; padding-bottom: 12px; vertical-align: top }
.complex-table.-th-va-top th .red-plus { margin-top: -5px; margin-bottom: -5px; }
.complex-table.-many-data .complex-table-header { min-width: 1260px }
.complex-table.-many-data .complex-table-body { min-width: 1260px }
.complex-table.-many-data th { padding-left: 12px; padding-right: 12px; }
.complex-table.-many-data td { padding-left: 12px; padding-right: 12px; letter-spacing: -0.5px }

.complex-table-body td {
    padding: 15px 15px;
    font-weight: 400; font-size: 15px; line-height: 23px;
    vertical-align: top;
    border-bottom: 1px solid #cfcfcf;
}
.complex-table.-min-height-double-td .complex-table-body td { height: 46px }
.complex-table.-min-height-double-td .complex-table-body .-th td { height: auto }
.complex-table-body td.-icon-buttons .icon {
    margin-left: 10px; margin-right: 10px;
}
.complex-table-body .-th td {
    background-color: #f5f5f7
}

.complex-table.-evsp th:first-child,
.complex-table.-evsp td:first-child { padding-left: 25px; }
.complex-table.-evsp td:first-child {
    padding-left: 65px;
    font-size: 16px
}
.complex-table.-evsp .-th td:first-child {
    padding-left: 25px;
    font-size: 18px;
}
.complex-table.-evsp .-th td:first-child strong { font-weight: 600; }
.complex-table.-evsp td:first-child div { position: relative; }
.complex-table.-evsp td .-list-el:before {
    content: "";
    position: absolute;
    top: -15px; bottom: -19px; left: -65px;
    width: 50px;
    background: url(../images/table-list-el-bg.png) 25px center no-repeat #fff;
}
.complex-table.-evsp td .-list-el.-last:before { bottom: -16px; background-image: url(../images/table-list-last-el-bg.png)  }

.complex-table.-budget { margin-bottom: 30px; }
.complex-table.-budget th {
    padding: 15px 10px;
    text-align: center; vertical-align: top
}
.complex-table.-budget th:first-child { padding-left: 25px; }
.complex-table.-budget th:first-child,
.complex-table.-budget th:nth-child(2),
.complex-table.-budget th:nth-child(3) { text-align: left }
.complex-table.-budget td {
    padding: 10px 5px;
    font-size: 16px
}
.complex-table.-budget td:first-child { padding-left: 25px; }
.complex-table .-th td { padding-top: 16px; padding-bottom: 16px; }
.complex-table .-th td strong{ font-weight: 600; }
.complex-table input[type=text] {
    margin-top: -6px;
    padding-right: 0; padding-left: 0;
    width: 100%;
    font-size: 16px;
    background: none
}
.complex-table.-budget input[type=text]:focus { border-color: #f62a4b }
.complex-table.-budget input + div { visibility: hidden; font-size: 12px; }
.complex-table.-budget input:focus + div { visibility: visible; color: #f62a4b }
.complex-table.-budget td:hover input + div { visibility: visible; }
.complex-table.-budget tr:nth-child(odd) { background: none }
.complex-table.-budget .complex-table-body tr:hover { background: linear-gradient(to right, #ffffff, #f3f3f3, #ffffff) }




.content-block {}
.content-block.-grey { background-color: #f5f5f7 }
.content-block .inner:after { content: ""; display: table; clear: both }
.content-header {
    margin: 15px 0 0;
    background: #f5f5f7;
    border-bottom: 1px solid #c1c7ca;
}
.content-header:before { content: ""; display: table; clear: both }
.content-header-center {
    padding: 13px;
    color: #2f2f2f;
    font-weight: 600; font-size: 17px; line-height: 25px;
    text-align: center
}
.content-inner {

    padding: 30px 0 20px;
}
.content-left-col, .content-right-col {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.content-left-col { padding: 30px 40px 20px 0 }
.content-right-col { padding: 30px 0 20px 40px }
.content-center-col {
    box-sizing: border-box;
    margin: 0 auto; padding: 30px 0 20px;
    max-width: 630px;
}
.content-left-col.-pb-0,
.content-right-col.-pb-0,
.content-center-col.-pb-0 { padding-bottom: 0 }
.content-block .simple-table { margin-bottom: 30px }

.content-table {
    position: relative;
}
.content-table-header {
    padding-right: 15px;
    background: #f5f5f7;
    border-bottom: 1px solid #88949a
}
.content-table th {
    padding: 10px 11px;
    color: #6a6a6b;
    font-weight: 400; font-size: 14px; line-height: 21px;
    text-transform: uppercase;
}

.content-table td {
    padding: 10px 10px;
    font-weight: 400; font-size: 16px; line-height: 21px;
    border-bottom: 1px solid #cfcfcf
}
.content-table th:first-child,
.content-table td:first-child { padding-left: 20px; }
.content-table.-narrow th,
.content-table.-narrow td { padding: 10px 6px; }
.content-table.-narrow th:first-child,
.content-table.-narrow td:first-child {	padding-left: 20px; }
.content-table td input[type=text],
.content-table td select {
    display: block;
    margin-top: -4px; margin-bottom: -2px;
    padding-top: 0; padding-bottom: 0;
    height: 29px; line-height: 29px;
    width: 100%
}
.content-table-body {
    overflow: auto;
    max-height: 270px;
}
.content-table.-no-scroll .content-table-header { padding-right: 0 }
.content-table.-no-scroll .content-table-body { max-height: none }

.content-table-popup-wrapper {
    position: relative;
}
.simple-table .content-table-popup-wrapper { margin-left: 10px }
.content-table-popup-wrapper:before {
    display: none;
    content: "";
    position: absolute;
    left: -20px; bottom: -5px;
    width: 0; height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #b5a6d7 #b5a6d7;
    cursor: pointer;
}
.content-table-popup-wrapper:hover:before,
.content-table-popup-wrapper.-pp-show:before { display: block }

.content-table-popup {
    display: none;
    position: absolute;
    top: 134px; left: 0;
    padding: 6px 13px 12px;
    width: 374px;
    background: #fff;
    border-top: 1px solid #b5a6d7;
    box-shadow: 15px 15px 51px rgba(0,0,0,0.2)
}

.content-table-popup td {
    padding: 10px 20px!important;
    font-size: 14px; line-height: 15px;
    border: 1px solid #e7e7e7
}
.content-table-popup tr:first-child td { border-top: none }
.content-table-popup td:first-child { border-left: none }
.content-table-popup td:last-child { border-right: none }

.content-buttons {
    clear: both;
    margin: 40px 0;
    text-align: center
}
.content-buttons.-left { text-align: left }

.content-table-big-arrow-down {
    position: relative;
    margin: 0 0 30px;
    height: 1px;
    background: #c1c7ca
}
.content-table-big-arrow-down:after {
    content: "";
    position: absolute;
    top: 0; left: 39%;
    width: 145px; height: 35px;
    background: url(../images/arrow-down-grey-big.png) no-repeat;
}

.db-blocks {
    padding: 24px 0 41px;
    background: #eeeeee;
}
.db-blocks:after { content:""; display: table; clear: both }
.db-block {
    float: left;
    margin: 0 2% 17px 0; padding: 0 0 13px;
    width: 49%;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1)
}
.db-block:nth-child(even) { margin-right: 0}
.db-block-header {
    position: relative;
    height: 110px;
    background: url(../images/db-block-header-bg.png) no-repeat center / cover;
}
.db-block-header > a { position: absolute; top: 0; right: 0; bottom: 0; left: 0 }
.db-block-header:hover > a { background: rgba(82,46,169,.5)}
.db-block-header-icon {
    float: left;
    width: 110px; height: 110px;
    background-color: #6642bd;
    transition: .3s
}
.db-block-header:hover .db-block-header-icon { background-color: #522ea9 }
.db-block.-events .db-block-header-icon { background-image: url(../images/icon-events-white-big.png) }
.db-block.-reports .db-block-header-icon { background-image: url(../images/icon-reports-white-big.png) }
.db-block.-service .db-block-header-icon { background-image: url(../images/icon-service-white-big.png) }
.db-block.-expenses .db-block-header-icon { background-image: url(../images/icon-expenses-white-big.png) }
.db-block-header-title {
    float: left;
    padding: 0 30px;
    max-width: 60%;
    color: #fff;
    font-weight: 600; font-size: 27px; line-height: 110px;
    text-decoration: none;
    transition: .3s
}
.db-block-header-title span { display: inline-block; vertical-align: middle; line-height: 30px; }
.db-block-header:hover .db-block-header-title { color: #fff; text-shadow: 0 0 50px #522ea9 }
.db-block-header-plus {
    position: absolute;
    top: 35px; right: 20px;
    width: 40px; height: 40px;
    background: url(../images/icon-plus-white.png) center no-repeat #f62a4b;
    transition: .3s
}
.db-block-header-plus:hover { background-color: #312948 }

.db-block-header-tooltip {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -40px;
    padding: 7px 8px;
    max-width: 300px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    white-space: nowrap;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 1s;
    z-index: 2
}
.db-block-header-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.db-block-header-plus:hover .db-block-header-tooltip {
    visibility: visible;
    opacity: 1;
}
.db-block-body {
    padding: 1px;
}
.db-block-table-header {
    margin: 0 0 3px;
    padding: 0 32px 0 0;
    border-bottom: 1px solid #88949a
}
.db-block-table-body {
    overflow: hidden;
    padding: 0 1px 0 0;
    height: 101px;
}
.db-block-body table {
    width: 100%;
    border-collapse: collapse;
}
.db-block-body table th {
    padding: 8px 13px;
    height: 36px;
    color: #6d6d6d;
    font-size: 13px; line-height: 17px;
    text-transform: uppercase;
}
.db-block-body table th:last-child { padding-right: 5px;}
.db-block-body table td {
    padding: 8px 13px;
    color: #212121;
    font-weight: 400; font-size: 15px; line-height: 17px;
    border-bottom: 1px solid #cfcfcf;
}
.db-block-body table td.-text-light { color: #808080 }
.db-block-body table td.-text-right { text-align: right }
.db-block-body table td:first-child { font-size: 16px }
.db-block-body table td:last-child { padding-right: 5px;}
.db-block-footer {
    margin: 0 32px 0 0; padding: 5px 1px 1px;
    font-weight: 400; font-size: 15px; line-height: 19px;
    border-top: 1px solid #88949a
}
.db-block-footer-left { float: left; max-width: 40%; }
.db-block-footer-left input[type="search"] {
    padding-left: 13px;
    width: 100%;
    font-weight: 400; font-size: 15px; line-height: 19px;
    border-bottom-color: #c7c7c7 }
.db-block-footer-right {
    float: right;
    margin: 15px 0 0;
    color: #636363;

}
.db-block-footer-right .-sep { display: inline-block; margin: 0 10px; }


.form {}
.form.-login {
    padding: 63px 0px;
}
.form.-login input[type=text],
.form.-login input[type=email],
.form.-login input[type=password] {
    display: block;
    margin: 0 0 15px;
    width: 100%;
}
.form.-login input[type=submit] {
    display: block;
    margin: 37px 0 0;
    min-width: 150px;
}
.form.-login a {
    float: right;
    margin: 22px 0 0;
    color: #353535;
    line-height: 45px;
    text-decoration: none;
}
.form.-login a:hover { color: #7551cc }

.form.-pricing {
    margin: 0 auto; padding: 35px 0 15px;
    max-width: 610px;
}

.form-section-title {
    position: relative;
    color: #505050;
    font-weight: 400; font-size: 20px; line-height: 20px;
    letter-spacing: -0.5px;
    z-index: 1
}
.form-section-title span {
    display: inline-block;
    padding: 0 13px 0 0;
    background: #fff;
}
.popup-body .form-section-title span { background: #fbfbfb }
.form-section-title span:after {
    content: "";
    position: absolute;
    top: 50%; right: 0; left: 0; bottom: 0;
    width: 100%;
    height: 1px; width: 100%;
    background: #c1c7ca;
    z-index: -1
}
.form-field {
    margin: 0 0 14px;
    padding: 0 0 0 195px;
    min-height: 40px;
}
.form-field.-autosize { padding: 0 }
.form-field.-no-label { padding: 0 }
.form-field.-mt25 { margin-top: 25px }
.form-field.-mb0 { margin-bottom: 0 }
.form-field.-buttons { padding-top: 35px; padding-bottom: 35px; }
.form-field.-wider-50 { margin-right: -50px }
.form-field label {
    float: left;
    margin: 0 0 0 -240px;
    width: 220px;
    font-size: 16px; line-height: 40px; letter-spacing: -0.7px;
    text-align: right;
}
.form-field.-autosize > label {
    float: none;
    display: inline-block;
    margin: 0 20px 0 0;
    width: auto;
    max-width: 50%;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
}
.form-field.-autosize .-inline {
    display: inline-block;
    vertical-align: top;
}
.form-field label.-normal {
    float: none;
    display: inline-block;
    margin: 0 ;
    width: 140px;
}
.form-field.-required label:after {
    content: "*";
    color: #ed1c24;
    margin: 0 -10px 0 5px;
}
.form-field input[type="text"],
.form-field select {
    width: 100%;
}
.form-field input.-auto-width,
.form-field select.-auto-width {
    width: auto;
}
.form-field.-error input[type="text"] {
    background-image: url(../images/icon-error.png);
    background-position: right 1px;
    background-repeat: no-repeat
}
.field-date {
    padding-right: 33px!important;
    background-image: url(../images/icon-calendar.png); background-repeat: no-repeat; background-position: right
}
.field-time {
    padding-right: 33px!important;
    background-image: url(../images/icon-time-back.png); background-repeat: no-repeat; background-position: right
}
.form-field.-upload-image {
    overflow: hidden;
    position: relative;
}
.form-field.-upload-image:before {
    content: "";
    position: absolute;
    top: 38px; right: 0; left: 195px;
    width: 100%; height: 1px;
    background: #c1c7ca
}
.form-field.-upload-image .-upload-image {
    position: relative;
    float: right;
    width: 105px; height: 105px;
    background: #fff;
    border: 1px solid #c7cccf;
    z-index: 1
}
.form-field.-upload-image .-upload-image img { max-width: 100% }
.form-field.-upload-image .-upload-title {
    float: left;
    position: relative;
    padding: 25px 10px 25px 0;
    color: #505050;
    font-weight: 400; font-size: 20px; line-height: 24px;
    background: #fff;
    z-index: 1
}
.form-field.-upload-image input:before { content: ""; display: table; clear: left }
.form-field.-upload-image input { max-width: 250px; float: left; clear: left }

.form-field-sep {
    clear: both;
    margin: 0 0 0px; padding: 15px 0 0;
    border-bottom: 1px solid #c1c7ca
}
.form-field-sep.-s35 { padding-top: 35px; margin-bottom: 35px }
.form-field-sep.-pt0 { padding-top: 0px; }
.form-field.-has-plus {
    padding-right: 48px;
}
.form-field.-has-plus .red-plus {
    float: right;
    margin-right: -48px;
}
.form-buttons {

}

label.custom-radio {
    float: none;
    display: inline-block;
    margin: 0 25px 0 0;
    font-weight: 400;
    width: auto;
    cursor: pointer;
}
label.custom-radio:after { display: none }
label.custom-radio input { display: none }
label.custom-radio input + .-radio {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 28px; height: 28px;
    vertical-align: middle;
    background: url(../images/radiobox.png) right no-repeat;
}
label.custom-radio input:checked + .-radio { background-position: left }

label.custom-checkbox {
    float: none;
    display: inline-block;
    margin: 0 25px 0 0;
    width: auto;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}
label.custom-checkbox:after { display: none }
label.custom-checkbox input { display: none }
label.custom-checkbox input + .-checkbox {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 53px; height: 23px;
    vertical-align: middle;
    background: url(../images/checkbox.png) bottom no-repeat;
}
label.custom-checkbox input:checked + .-checkbox { background-position: top }
label.custom-checkbox.-type-2 input + .-checkbox { background-image: url(../images/checkbox-type-2.png) }
label.custom-checkbox.-type-3 input + .-checkbox { width: 23px; height: 23px; }
label.custom-checkbox.-type-3 input + .-checkbox { background-image: url(../images/checkbox-type-3.png) }
label.custom-checkbox.-no-label { margin-right: 0 }
label.custom-checkbox.-no-label input + .-checkbox  { margin-right: 0 }
.filters {
    padding: 20px 0 0;
    background: #f5f5f7
}
.filters .inner:after { content: ""; display: table; clear: both; }
.filters-left {
    float: left;
    margin: 0 0 25px;
}
.filters-label {
    display: inline-block;
    margin: 0 18px 0 0;
    color: #505050;
    font-weight: 400; font-size: 18px; line-height: 30px;
}
.filters-dropdowns { display: inline-block }
.filters-dropdowns select {
    margin-left: 0px; margin-right: 15px;
    width: 200px;
}
.filters-right {
    float: right;
    margin: 4px 0 30px;
    font-size: 15px;
}
.filters-right > span { display: inline-block; margin: 0 15px 0 0; }
.filters-right .button { margin-right: 8px; }


.heading-block {
    padding: 17px 0;
    background: #e0e1e8
}
.heading-block h2 strong {  }
.heading-block:after { content: ""; display: table; clear: both }
.heading-block-left {
    float: left;
}
.heading-block-left h2 { margin: 0; line-height: 40px; font-weight: 600; }
.heading-block-right {
    float: right;
}
.heading-block-right .pagination {
    margin: 5px 0 0;
}
.heading-block .pagination ul li.-forward a {
    width: 20px;
    /*background-image: url(../images/arrow-right-darker-grey.png)*/
}
.heading-block .pagination ul li.-back a {
    width: 20px;
    /*background-image: url(../images/arrow-left-darker-grey.png)*/
}




.grey-block {
    background-color: #f5f5f7
}
.grey-block	input[type="text"],
.grey-block	input[type="email"],
.grey-block	input[type="search"],
.grey-block	input[type="password"],
.grey-block	input[type="tel"],
.grey-block	textarea,
.grey-block	select {
    background-color:  #f5f5f7
}

.icon {
    display: inline-block;
    margin: 0 5px;
    width: 25px; height: 25px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat
}
.icon:hover { opacity: .7 }
.icon.-x { background-image: url(../images/icon-x.png) }
.icon.-dots { background-image: url(../images/icon-dots.png) }
.icon.-time-back { background-image: url(../images/icon-time-back.png) }
.icon.-card { width: 36px; background-image: url(../images/icon-card.png) }
.icon.-circle-plus { background-image: url(../images/icon-circle-plus.png) }
.icon.-download { background-image: url(../images/icon-download.png) }

.inner {
    margin: 0 auto; padding: 0 10px;
    max-width: 1260px;
}
.-narrow .inner { max-width: 585px }

.issues-notes {
    padding: 35px 0 40px;
}
.issues-notes .issues {
    float: left;
    margin: 0 2% 0 0;
    width: 49%;
}
.issues-notes .issues ul {
    margin: 0 0 40px; padding: 0;
}
.issues-notes .issues ul li {
    margin: 0 0 5px; padding: 0;
    list-style: none;
    background: none
}
.issues-notes .issue-date {
    display: inline-block;
    color: #f62a4b;
    min-width: 60px;
    text-transform: uppercase;
}
.issues-notes .issue-year {
    display: inline-block;
    color: #808080;
    min-width: 47px;
}
.issues-notes .notes {
    float: left;
    margin: 0;
    width: 49%;
}
.issues-notes .notes ul {
    margin: 0 0 40px; padding: 0;
}
.issues-notes .notes ul li {
    position: relative;
    margin: 0 0 5px 12px; padding: 0 0 5px 0;
    list-style: none;
    background: none;
    border-bottom: 1px dotted #a3a3a3
}
.issues-notes .notes ul li:last-child { border-bottom: none }
.issues-notes .notes ul li:before {
    content: "";
    position: absolute;
    top: 8px; left: -12px;
    width: 4px; height: 4px;
    background: #f62a4b;
}

.issues-notes .button { color: #483d65 }
.issues-notes .button:hover { color: #fff }

.logo {
    overflow: hidden;
    display: inline-block;
    width: 173px; height: 41px;
    text-indent: 300px;
    background-image: url(../images/logo.png); background-repeat: no-repeat;
}
.logo.-big {
    width: 269px; height: 64px;
    background-image: url(../images/logo-big.png)
}
.logo:hover { opacity: .8 }

.mi-form {
    position: relative;
    padding: 19px 0 7px;
    background: #f5f5f7
}
.mi-form .inner { position: relative }
.mi-form .inner:after { content: ""; display: table; clear: both; }
.mi-form-label {
    float: left;
    margin: 0 -70px 0 0;
    width: 185px;
    color: #505050;
    font-weight: 400; font-size: 18px; line-height: 39px;
    letter-spacing: -1px;
}
.mi-form-field {
    float: left;
    margin: 0 0 14px; padding: 0 0 0 185px;
    min-height: 40px;
    width: 210px;
}
.mi-form-field label {
    float: left;
    margin: 0 0 0 -185px;
    width: 180px;
    line-height: 40px;
    text-align: right;
}
.mi-form-field.-short-label { padding-left: 105px}
.mi-form-field.-short-label label {
    margin: 0 0 0 -105px;
    width: 100px;
}
.mi-form-field.-second-line { margin-left: 115px}
.mi-form-field input,
.mi-form-field select { width: 100% }
.mi-form-sep {
    clear: both;
    margin: 0 0 22px; padding: 4px 0 0;
    border-bottom: 1px solid #c1c7ca
}
.mi-form-field .button { min-width: 90px; }

.pagination {
    margin: 38px 0;
    text-align: center;
}
.pagination ul { margin: 0; padding: 0; }
.pagination ul li { display: inline-block; margin: 0; padding: 0; list-style: none; background: none; }
.pagination ul li a {
    display: block;
    width: 40px; height: 31px;
    color: #808080;
    font-size: 18px; line-height: 31px;
    text-decoration: none; text-align: center;
}
.pagination ul li a:before {
    content: "|";
    margin: 0 15px 0 0;
    color: #e7e7e7
}
.pagination ul li.-current a,
.pagination ul li:hover a {
    color: #f62a4b
}
.pagination ul li.-back a {
    background: url(../images/arrow-left-grey.png) center no-repeat
}
.pagination ul li.-forward a {
    margin-left: 15px;
    background: url(../images/arrow-right-grey.png) center no-repeat
}
.pagination ul li.-back a:hover, .pagination ul li.-forward a:hover { opacity: .8 }
.pagination ul li:nth-child(2) a:before,
.pagination ul li.-back a:before,
.pagination ul li.-forward a:before { content: "" }
.pagination .red-plus { margin-top: -4px; }


.popup-shader {
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(21,16,34,0.87);
    z-index: 9
}
.popup {
    _display: none;
    position: fixed;
    top: 43px; left: 50%;
    margin: 0 0 0 -530px;
    width: 1060px;
    z-index: 9;
    transform-origin: top center;
    transition: 0.2s;
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg) translateY(-200px);
    opacity: 0;
}
.popup.-account-management {
    top: 50%;
    margin-top: -450px;
}
.popup.-revenue {
    top: 50%;
    margin-top: -250px;
}
.popup.-visible {
    transition: 0.4s;
    -moz-transform: rotateX(0);
    transform: rotateX(0) translateY(0);
    opacity: 1;
}

.popup-close {
    position: absolute;
    top: 20px; right: 15px;
    width: 20px; height: 20px;
    background: url(../images/icon-x.png) center no-repeat;
    cursor: pointer;
    transition: .3s
}
.popup-close:hover { opacity: 0.8 }
.popup-header {
    padding: 20px 30px;
    color: #fbfbfb;
    font-weight: 400; font-size: 21px; line-height: 23px;
    background: #5935b0;
}
.popup-tabs-nav {
    overflow: hidden;
    background: #e0e1e8
}
.popup-tabs-nav a {
    float: left;
    padding: 15px 20px;
    color: #525354;
    font-size: 16px; line-height: 23px;
    text-transform: uppercase; text-decoration: none;
}
.popup-tabs-nav a:first-child { padding-left: 30px; }
.popup-tabs-nav a:hover,
.popup-tabs-nav a.-current { color: #2f2f2f; text-decoration: none; background: #fbfbfb }
.popup-body {
    padding: 0 30px;
    min-height: 610px;
    background: #fbfbfb;
}
.popup-body.-auto-height { min-height: 0 }
.popup-body-header {
    position: relative;
    padding: 17px 0;
    min-height: 30px;
    border-bottom: 1px solid #c1c7ca
}
.popup-body-header:after { content: ""; display: table; clear: both }
.popup-body-header h3 {
    margin: 0; padding: 22px 0 23px;
    text-align: center;
}
.popup-body-header-left { position: absolute; top: 17px; left: 0; }
.popup-body-header-back {
    display: inline-block;
    margin: 23px 0 0; padding: 0 29px;
    color: #f62a4b;
    line-height: 27px;
    text-transform: uppercase;
    background: url(../images/arrow-left-red.png) left no-repeat
}
.popup-body-header-left .form-field { margin-top: 17px }
.popup-body-header .red-plus { margin: -6px 0 0 }
.popup-body-header-right { position: absolute; top: 17px; right: 0; }
.popup-body-header-status {
    margin: 25px 0 0;
}
.popup-body-header-status label { margin-right: 0 }
.popup-body-header-right a { display: inline-block; margin-right: 20px; font-size: 15px }
.popup-body-header-right .button { margin-right: 0; margin-left: 5px; min-width: 180px; font-size: 14px; }
.popup-body-center {
    margin: 0 auto;
}
.popup-body-center.-padding-30 { padding: 30px }
.popup-body-center.-narrow { max-width: 670px }
.popup-body-left {
    box-sizing: border-box;
    float: left;
    padding: 25px 20px 20px 0;
    width: 50%;
}
.popup-body-right {
    box-sizing: border-box;
    float: left;
    padding: 25px 0;
    width: 50%;
}
.popup-body-right:after { content: ""; display: table; clear: both}
.popup-body-h-line:before { content: ""; display: table; clear: both }
.popup-body-h-line {
    clear: both;
    padding: 15px 0 0;
    border-bottom: 1px solid #c1c7ca;
}
.popup-body input[type=text] { font-size: 17px; background-color: #fbfbfb }
.popup-body select { font-size: 17px; }
.popup-body .pagination {
    margin-top: 0; margin-bottom: 0; padding: 36px 0;
}
.popup-body .pagination ul li a { height: 23px; font-size: 16px; line-height: 23px; background-size: contain}
#popup-subscriber-info .form-section-title span { min-width: 197px; text-align: right; }
#popup-subscriber-info .popup-body-left .form-field { padding-left: 210px }
#popup-subscriber-info .popup-body-left .form-field label { margin-left: -210px; width: 190px }
#popup-subscriber-info .popup-body-right .form-field { padding-left: 150px }
#popup-subscriber-info .popup-body-right .form-field label { margin-left: -150px; width: 130px }
#popup-subscriber-info .popup-body-left .form-section-title { margin-bottom: 20px; }
#popup-subscriber-info .form-field label.-normal {
    margin: 10px 0 0 0; padding-left: 35px;
    width: auto;
    font-size: 15px; line-height: 17px;
    text-align: left;
}
#popup-subscriber-info .form-field label.-normal input[type=checkbox] { float: left; margin: 5px 0 0 -30px; }
#popup-contact-person .form-field { padding-left: 135px }
#popup-contact-person .form-field label { margin-left: -135px; width: 115px }
#popup-users .form-field { padding-left: 135px }
#popup-users .form-field label { margin-left: -135px; width: 115px }
.popup-subscriber-info-file {
    margin: 25px 0 0 50px;
    max-width: 250px;
}
.popup-subscriber-info-logo {
    position: relative;
    float: right;
    margin: -85px 0 0;
    width: 155px; height: 155px;
    border: 1px solid #c3c9cc;
    z-index: 1
}
.popup-subscriber-info-logo img { max-width: 100% }
.popup-users-list-table, .popup-events-list-table {
    overflow: auto
}
.popup-users-list-search, .popup-events-list-search {
    float: left;
    margin: 25px -225px 0 0;
}
.popup-users-list-search input, .popup-events-list-search input { width: 225px; font-size: 16px; }
.popup-footer {
    padding: 20px;
    background: #f5f5f7;
}
.popup-footer-buttons { text-align: center }
.popup-footer-buttons .button { margin: 0 2px; line-height: 21px }
.popup-users-update { display: none }
.popup-users-add-new { display: none }
.popup-events-edit { display: none }
.popup-events-edit .popup-body-left .form-field { padding-left: 135px }
.popup-events-edit .popup-body-right .red-plus { float: right }
.popup-events-add-new { display: none }
.popup-events-add-new .popup-body-left .form-field { padding-left: 135px }
.popup-events-add-new .popup-body-right .red-plus { float: right }

.property {
    font-size: 18px;
}
.property-block .inner { padding-bottom: 30px }
.property .inner:after { content: ""; display: table; clear:both }
.property-top {
    overflow: hidden;
    padding: 0 0;
    background: #f5f5f7
}
.property-top-title {
    float: left;
    padding: 0px 20px 0 0;
    min-height: 60px;
    width: 175px;
    font-weight: 300; font-size: 18px; letter-spacing: -.5px;
    text-align: right;
}
.property-top-content {
    float: left;
    padding: 0 0 0 8px;
    color: #6a6a6b
}
.property-top-logo {
    float: left;
    margin-right: 0px;
}
.property-top-img {
    float: left;
    margin: -15px 18px -5px 0;
    width: 110px; height: 110px;
}
.property-top-img img { max-width: 100%; }
.property-top-logo input { width: 260px;}

.property-left-col, .property-right-col {
    float: left;
    box-sizing: border-box;
    width: 50%;
}
.property-left-col { padding: 30px 40px 20px 0 }
.property-right-col { padding: 30px 0 20px 40px }
.property-col {
    clear: both;
    padding: 30px 0 20px
}
.property-grey-block {
    padding: 25px 30px 25px 0;
    background: #f5f5f7
}
.property-left-col .property-grey-block { margin-right: -32px }
.property-right-col .property-grey-block { margin-left: -32px; padding-left: 32px; }
.property-grey-block label.-bigger {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -1px;
}
.property-grey-block input[type=text] { background-color: #f5f5f7 }
.property-grey-block select { background-color: #f5f5f7 }
.property-grey-block .-small-text {
    color: #7e7e7f;
    padding: 10px;
    font-size: 15px;
}

.records-form {
    position: relative;
    padding: 15px 0 25px;
    background: #f5f5f7
}
.records-form .inner { position: relative }
.records-form .inner:after { content: ""; display: table; clear: both; }
.records-form-label {
    float: left;
    margin: 0 18px 0 0;
    color: #505050;
    font-weight: 400; font-size: 18px; line-height: 39px;
}
.records-form-dropdowns {
    float: left;
    margin: 0;
}
.records-form-dropdowns br { display: none }
.records-form-dropdowns label { display: inline-block; min-width: 75px; font-weight: 300; font-size: 18px; line-height: 39px; }
.records-form-dropdowns select {
    margin-left: 0px; margin-right: 15px;
    width: 200px;
}
.records-form-buttons { float: left; }
.records-form-buttons .button:first-child { margin-right: 5px; }
.records-form-buttons .button { padding-left: 10px; padding-right: 10px; min-width: 90px; font-size: 16px; line-height: 19px;}
.records-form-add { float: right; clear: both }
.records-form-add .red-plus { float: left; margin: 0 0 0; }
.records-form-add a {
    color: #505050;
    line-height: 40px;
    text-decoration: none; text-transform: uppercase
}
.records-form .records-form-add { position: absolute; right: 10px; bottom: -85px; }
.records-form-search {
    float: right;
    width: 230px;
}
.records-form-search input { width: 100% }

.records-table {
    overflow-x: auto;
}
.records-table-header {
    background: #e1e1e5;
    border-bottom: 1px solid #88949a;
    min-width: 1000px;
}
.records-table-header table { width: 100%; border-collapse: collapse }
.records-table-header th {
    padding: 25px 20px;
    font-weight: 400; font-size: 14px; line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    border-right: 1px solid #cfcfcf;
}
.records-table-header th:last-child { border: none }
.records-table-body {
    min-width: 1000px;
}
.records-table-body tr:nth-child(odd) {
    background: linear-gradient(to right, #ffffff, #fafafa, #ffffff)
}
.records-table-body td {
    padding: 20px 20px;
    font-weight: 400; font-size: 15px; line-height: 23px;
    vertical-align: top;
    border-bottom: 1px solid #cfcfcf;
}
.records-table-body td:nth-child(1) { font-size: 16px }
.records-table-body td:nth-child(2) { font-weight: 400 }
.records-table-body td:nth-child(3) { font-size: 16px; font-weight: 400 }
.records-table-body td:nth-child(4) em {
    display: inline-block;
    margin: 0 8px 0 0;
    width: 45px;
    color: #818181;
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
}
.records-table-body td:nth-child(5) { font-size: 14px }
.records-table-body td:nth-child(7) { padding-right: 0 }
.records-table-body tr:nth-child(even) td {}

.red-plus {
    position: relative;
    width: 40px; height: 40px;
    background: url(../images/icon-plus-white.png) left no-repeat #f62a4b;
    transition: .3s;
    cursor: pointer
}
.red-plus:hover { background-color: #312948 }
.red-plus.-right { float: right }
.red-plus-label {
    position: absolute;
    top: 0; right: 0;
    margin: 0 55px 0 0;
    width: 150px;
    color: #f62a4b;
    font-weight: 400; font-size: 19px; line-height: 40px;
    text-align: right;
}

.red-plus-tooltip {
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -40px;
    padding: 7px 8px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: none;
    white-space: nowrap;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 1s;
    z-index: 4
}
.red-plus-tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.red-plus:hover .red-plus-tooltip {
    visibility: visible;
    opacity: 1;
}

.simple-table {
    width: 100%;
    border-collapse: collapse;
}
.simple-table th {
    padding: 10px;
    color: #6d6d6d;
    font-weight: 400; font-size: 14px; line-height: 23px;
    text-transform: uppercase;
    vertical-align: middle;
    border-bottom: 1px solid #88949a
}
.simple-table td {
    padding: 10px;
    color: #212121;
    font-size: 16px; line-height: 23px;
    border-bottom: 1px solid #cfcfcf;
}
.simple-table td strong { font-weight: 400 }

.simple-table .-purple-td {
    display: block;
    margin: -8px -8px;
    padding: 8px;
    background: #ddd5f2
}
.simple-table-legend {}
.simple-table-legend:after { content: ""; display: table; clear: left;}
.simple-table-legend > div {
    float: left;
    margin: -15px 20px 30px 10px;
    height: 34px;
    font-weight: 400; font-size: 17px; line-height: 34px;
}
.simple-table-legend > div span {
    float: left;
    margin: 0 15px 0 0;
    width: 34px; height: 34px;
}
.simple-table-legend > div.-purple span {
    background: #ddd5f2
}


.status { display: inline-block; color: #da3232; padding: 0 0 0 19px }
.status.-broken { background: url(../images/icon-broken-small-red.png) left no-repeat }

.steps {
    position: relative;
    padding: 22px 0 20px;
    font-size: 0;
    text-align: center;
    background: #f5f5f7;
}
.steps .inner { position: relative }
.steps.four-steps .inner:before {
    content: "";
    position: absolute;
    top: 12.5px; right: 8%; left: 12.5%;
    height: 1px;
    background: #999aa3;
    z-index: 1
}
.steps.four-steps .inner:before {
}
.steps.four-steps .inner:after {
    content: "";
    position: absolute;
    top: 12.5px; left: 8%;
    height: 1px;
    background: #f62a4b;
    z-index: 1
}
.steps.four-steps.-step-1 .inner:after { right: 85.5%; }
.steps.four-steps.-step-2 .inner:after { right: 62.5%; }
.steps.four-steps.-step-3 .inner:after { right: 37.5%; }
.steps.four-steps.-step-4 .inner:after { right: 14%; }
.steps .step {
    position: relative;
    display: inline-block;
    color: #707076;
    font-weight: 400; font-size: 14px; line-height: 20px;
    z-index: 2
}
.steps.four-steps .step {
    position: relative;
    padding: 30px 0 0;
    width: 25%;
    vertical-align: top;
}
.steps.four-steps .step:before {
    position: absolute;
    top: 0; left: 50%;
    margin: 0 0 0 -12.5px;
    width: 22px; height: 22px;
    color: #999aa3;
    font-weight: 400; font-size: 16px; line-height: 23px;
    text-align: center;
    background: #fafafb;
    border: 3px solid #999aa3;
    border-radius: 50%;
    box-shadow: 0 0 5px 6px #f5f5f7
}
.steps.four-steps .step.-passed:before { color: #f62a4b; border-color: #f62a4b; }
.steps.four-steps .step.-current:before { color: #f62a4b; border-color: #f62a4b; }
.steps.four-steps .step:nth-child(1):before { content: "1" }
.steps.four-steps .step:nth-child(2):before { content: "2" }
.steps.four-steps .step:nth-child(3):before { content: "3" }
.steps.four-steps .step:nth-child(4):before { content: "4" }
.steps.four-steps .step:nth-child(5):before { content: "5" }
.steps.four-steps .step:nth-child(6):before { content: "6" }
.steps.four-steps .step:nth-child(7):before { content: "7" }

.subheader-tabs {
    background: #e1e1e5;
    border-top: 1px solid #e1e1e5;
    border-bottom: 1px solid #88949a;
}
.subheader-tabs ul {
    margin: 0; padding: 0;
}
.subheader-tabs ul:after { content: ""; display: table; clear: both }
.subheader-tabs ul li {
    float: left;
    margin: 0; padding: 0;
    list-style: none
}
.subheader-tabs ul li a {
    display: block;
    padding: 0 25px;
    color: #525354;
    font-size: 16px; line-height: 53px;
    text-transform: uppercase
}
.subheader-tabs ul li.-current a {
    background: #fbfbfb;
}

.tbt {
    margin: 25px 0;
}
.tbt:after { content: ""; display: table; clear: both }
.tbt h4 { color: #505050 }
.tbt .content-table th,
.tbt .content-table td { padding-left: 7px; padding-right: 7px }
.tbt .content-table th:first-child,
.tbt .content-table td:first-child {
    padding-left: 14px;
}


.tbt-left {
    float: left;
    width: 43%;
}
.tbt-center {
    box-sizing: border-box;
    float: left;
    padding: 45px 20px;
    width: 14%;
}
.tbt-center .button { margin: 0 0 15px; width: 100%;}
.tbt-right {
    float: left;
    width: 43%;
}

.tbt.-no-headers { margin: 35px 0 }
.tbt.-no-headers .tbt-center { padding-top: 0 }

.visual-editor {
    padding: 0 0 15px;
    background: #f5f5f7;
}
.visual-editor .inner {
    max-width: 1240px;
    background: #fbfbfb
}
.visual-editor-wrapper {
    padding: 10px 0 25px
}
.visual-editor-wrapper img { max-width: 100% }
.visual-editor-buttons {
    padding: 0 0 25px;
    text-align: center;
}


/* Basic Structure and Common elements */

#page {
    padding: 0 0 68px;
}
#page.dashboard {
}
#top-bar {
    padding: 8px 0;
    height: 27px;
    color: #cbc0e5;
    line-height: 27px;
    background: #312948
}
.top-bar-welcome {
    float: left;
}
.top-bar-welcome strong { color: #fff; }
.top-bar-buttons {
    float: right;
}
.top-bar-icons {
    float: right;
    margin: 0 20px 0 0;
}
.top-bar-icons a {
    float: left;
    position: relative;
    margin: 1px 9px;
    width: 25px; height: 25px;
    color: #fff;
    text-decoration: none;
}
.top-bar-icons a.-notifications { background-image: url(../images/icon-notifications.png) }
.top-bar-icons a.-notifications.-has-n { margin: 0 12px }
.top-bar-icons a.-notifications span{
    position: absolute;
    top: -4px; right: -8px;
    width: 20px; height: 20px;
    color: #fff;
    font-weight: 700; font-size: 12px; line-height: 20px;
    text-align: center;
    background: #f62a4b;
    border-radius: 50%;
}
.top-bar-icons a.-help { background-image: url(../images/icon-help.png) }
.top-bar-icons a.-settings { background-image: url(../images/icon-service.png) }
.top-bar-icons a:hover { opacity: .8 }

.top-bar-dropdown {
    float: right;
    position: relative;
    margin: 0 20px 0 0; padding: 0 0 0 22px;
    color: #c2bfc8;
    line-height: 27px;
    background: url(../images/icon-dropdown-red.png) left no-repeat;
    cursor: pointer
}
.top-bar-dropdown:hover > div { color: #fff; }
.top-bar-dropdown:hover ul { display: block }
.top-bar-dropdown ul {
    display: none;
    position: absolute;
    top: 27px; left: 0;
    padding: 8px 12px;
    background: #312948;
    z-index: 3
}
.top-bar-dropdown ul li {
    margin: 0; padding: 0; background: none;
}
.top-bar-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    color: #c2bfc8;
    font-size: 14px; line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid #58506d;
}
.top-bar-dropdown ul li:last-child a { border-bottom: none }
.top-bar-dropdown ul li a:hover {
    background: #58506d
}

.top-bar-buttons a {
    float: left;
    box-sizing: border-box;
    padding: 0 40px 0 15px;
    min-width: 120px;
    color: #fff;
    font-weight: 400; font-size: 14px; line-height: 25px;
    text-decoration: none;
    border: 1px solid #58506d; border-radius: 2px;
}
.top-bar-buttons a.-logout { background: url(../images/icon-logout.png) right 7px center no-repeat }
.top-bar-buttons a:hover { color: #fff; border-color: #fff; }



#header {
    position: relative;
    background-image: url(../images/header-bg.png); background-position: center; background-repeat: no-repeat; background-color: #522ea9; background-size: cover;
}
#header .inner { position: relative }
#header:after, #header .inner:after { content: ""; display: table; clear: both; }
#header.-high {
    padding: 60px 0 50px;
    background-image: url(../images/header-bg-big.png);
}
#header .logo {
    float: left;
    margin: 29px 4px 30px;
}
.header-logo {
    position: absolute;
    bottom: -77.5px; right: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.18)
}
#nav {
    position: relative;
    float: left;
    margin: 29px 60px 0px;
}
#nav input[type="checkbox"] {
    display: none;
    position: absolute;
    top: 5px; left: 20px;
    width: 40px; height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer
}
#nav .-mobile-icon {
    display: none;
    position: absolute;
    top: 20px; left: 20px;
    width: 40px; height: 3px;
    background: #fff;
    z-index: 1;
}
#nav:hover  .-mobile-icon { opacity: .8 }

#nav .-mobile-icon:before {
    content: "";
    position: absolute;
    top: -9px; left: 0;
    width: 40px; height: 3px;
    background: #fff;
    transition: .3s
}
#nav .-mobile-icon:after {
    content: "";
    position: absolute;
    top: 9px; left: 0;
    width: 40px; height: 3px;
    background: #fff;
    transition: .3s
}
#nav input[type="checkbox"]:checked + .-mobile-icon { background: transparent }
#nav input[type="checkbox"]:checked + .-mobile-icon:before { transform: rotate(315deg) translate(-6px,5px) }
#nav input[type="checkbox"]:checked + .-mobile-icon:after { transform:rotate(225deg) translate(7px,7px) }
#nav ul { margin: 0; padding: 0; }
#nav > ul > li { position: relative; float: left; margin: 0; padding: 0 0 30px; }
#nav > ul > li > a {
    position: relative;
    display: block;
    margin: 0 18px;
    color: #fff;
    font-size: 20px; line-height: 41px;
    text-decoration: none;
}
#nav a:hover { }
#nav > ul > li > a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #8a66e1;
    transition: .2s
}
#nav li:hover a:after {
    width: 100%;
}
#nav > ul > li > ul {
    display: none;
    position: absolute;
    top: 71px; left: 18px;
    padding: 9px 1px;
    min-width: 325px;
    background: #8a66e1;
    z-index: 4
}
#nav > ul > li:hover > ul,
#nav > ul > li.show-sub > ul { display: block }
#nav > ul > li > ul > li {
    float: none;
    margin: 0;
    padding: 0;
}
#nav > ul > li > ul > li > a {
    display: block;
    padding: 5px 25px;
    color: #fff;
    font-size: 16px; line-height: 21px;
    text-decoration: none;
    border-bottom: 1px solid #9878e4
}
#nav > ul > li > ul > li:hover > a { background: #6642bd }

#nav .nav-toggle {
    display: none;
    position: absolute;
    right: 0; top: 0;
    width: 51px; height: 51px;
    color: #fff;
    font-size: 22px; line-height: 52px;
    text-align: center;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
#nav .nav-toggle:before {
    content: "+";
}
#nav .show-sub .nav-toggle:before {
    content: "-";
}
#nav .nav-toggle:hover { opacity: 0.7; }

#title {
    position: relative;
    padding: 30px 0;
    z-index: 3
}
#title .inner { position: relative }
#title.-purple {
    color: #c2b3e9;
    background-color: #7551cc
}
#title.-purple h1 { color: #c2b3e9 }
.title-image {
    position: absolute;
    top: -110px; right: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 10px rgba(0,0,0,0.18)
}
.-login .title-image { position: static; float: right; margin-top: -112px}

#subnav {
    background: #f3f3f5
}
#subnav ul {
    padding: 0 155px 0 20px;
}
#subnav ul:after { content: ""; display: table; clear: both; }
#subnav li {
    margin: 0; padding: 0;
    float: left;
}
#subnav li a {
    display: block;
    position: relative;
    padding: 10px 10px;
    color: #4d4661;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.2px;
    text-decoration: none;
}
#subnav li a:hover { color: #6f4bc6; text-decoration: underline }
#subnav li a:after {
    content: "|";
    position: absolute;
    top: 9px; right: -1px;
}
#subnav li:last-child a:after { content: "" }

#body {
}

#footer {
    position: absolute;
    right: 0; bottom: 0; left: 0;
    padding: 20px 0;
    color: #bdbbc3;
    font: 13px/18px "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase; text-align: center;
    background: #4d4661;
}
#footer.-white {
    color: #848484;
    background: #ffffff;
}
