@media (max-width: 1300px) {

}
@media (max-width: 1260px) {
.top-bar-icons { margin-right: 20px }
.top-bar-dropdown { margin-right: 20px }
#nav { margin-left: 10px; margin-right: 0px; }
#nav a { margin: 0 10px; font-size: 19px; }
#nav li:first-child a { margin-left: 0}


.content-left-col, .content-right-col {
	float: none;
	padding: 30px 40px 20px 0;
	width: auto
}

.property-left-col, .property-right-col {
	float: none;
	padding: 30px 40px 20px 0;
	width: auto
}
.property-right-col .property-grey-block {
	margin-left: 0;
	margin-right: -32px;
	padding-left: 0;
}
.property-top .property-left-col,
.property-top .property-right-col  { overflow: hidden }
.form-field { padding-left: 240px}
.form-field label {
	margin-left: -240px;
	width: 220px
}
.form-field label.-normal {
	display: block;
	margin: 0px 0 -40px -150px;
	width: 130px
}
.form-field label.custom-checkbox,
.form-field label.custom-radio {
	margin-left: auto;
	width: auto;
}
.form-field.-upload-image:before { left: 240px; }

.property-top-logo input { width: auto; display: block }
.records-form-label { float: none }
.records-form-dropdowns { margin-bottom: -10px }
.records-form-dropdowns select { width: 170px }

.records-table-body td:nth-child(4) em { display: block; text-align: left; }
.records-table-body td:nth-child(7) .icon { margin-top: 2px; margin-bottom: 2px; }
.records-table-body td:nth-child(7) .icon.-dots { display: block; }
.records-table-body td:nth-child(7) .icon.-x { display: block; }
}
@media (max-width: 1240px) {
.mi-form-label {
	float: none;
	margin: 0 0 14px;
	width: auto;
}
.mi-form-field.-second-line { margin-left: 0;}
}
@media (max-width: 1140px) {
.mi-form-field {
	float: none;
	width: auto
}
.mi-form-field.-short-label { padding-left: 185px }
}
@media (max-width: 1023px) {
-.budget-input .filters-dropdowns { display: block }
.budget-input .filters-left,
.budget-input .filters-right {
	float: none;
}
.-login .inner { max-width: 485px }

.db-block {
	float: none;
	margin: 0 0 17px 0;
	width: auto;
}
.issues-notes .issues,
.issues-notes .notes { float: none; margin: 0 0 40px; width: auto }

.popup { position: absolute; top: 0!important; right: 0; left: 0; margin: 0!important; width: 100%; }
.popup-body { padding: 0 10px }
.popup-tabs-nav a { padding-left: 10px; padding-right: 10px; }
.popup-tabs-nav a:first-child { padding-left: 10px; }
.popup-body-left {
	float: none;
	padding-right: 0;
	width: auto;
}
.popup-body-right {
	float: none;
	width: auto;
}
.popup-body .pagination { text-align: right }
#popup-subscriber-info .popup-body-right .form-field { padding-left: 210px }
#popup-subscriber-info .popup-body-right .form-field label { margin-left: -210px; width: 190px }
.popup-body-header-status .fs-17 { display: none }
.popup-events-edit .popup-body-left .form-field { padding-left: 195px }
.popup-events-add-new .popup-body-left .form-field { padding-left: 195px }

.records-form .records-form-add { position: static; float: right; margin: -35px 0 0; }
.records-form-search { float: none; clear: both; padding-top: 15px }
.records-table-header th { padding: 20px 5px }
.records-table-body td { padding: 15px 5px }

#header .logo {	_float: none; }
#nav input[type="checkbox"] { display: block }
#nav .-mobile-icon { display: block }
#nav ul {
	display: none;
	position: absolute;
	top: 0px; left: 70px;
	min-width: 300px;
	background: #522ea9;
	z-index: 9
}
#nav.-visible >  ul { display: block }
#nav ul li {
	float: none;
	margin: 0; padding: 0;
}
#nav ul li a {
	margin: 0;
	padding: 5px 20px;
	border-bottom: 1px solid #734fca;
}
#nav ul li a:hover { background: #734fca; }

#nav > ul > li > ul {
	position: static;
	padding: 9px 10px;
	min-width: 0;
	background: #8a66e1;
	z-index: 4
}
#nav > ul > li:hover > ul { display: block }
#nav > ul > li > ul > li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav > ul > li > ul > li > a {
	display: block;
	padding: 5px 25px;
	color: #fff;
	font-size: 16px; line-height: 21px;
	text-decoration: none;
	border-bottom: 1px solid #9878e4
}
#nav > ul > li > ul > li:hover > a { background: #6844bf }
#nav .nav-toggle { display: block }
#nav > ul > li:hover > ul { display: none }
#nav > ul > li.show-sub > ul { display: block }

}
@media (max-width: 900px) {
/*.budget-input .filters-left,
.budget-input .filters-right {
	float: none;
}
*/	/*
.records-form-label { float: none; }
.records-form-dropdowns br { display: none }
.records-form-dropdowns { float: none; margin-bottom: 10px; }
.records-form-buttons { float: none; margin: 0 0 15px; }*/
.records-form-label { float: none }
.records-form-dropdowns select { max-width: 190px; }


}
@media (max-width: 800px) {
}
@media (max-width: 767px) {

.bottom-buttons .button {
	padding-right: 10px; padding-left: 10px;
	min-width: 130px;
}
.content-center-col .form-field.-wider-50 { margin-right: 0px }
.top-bar-dropdown {
	position: absolute;
	top: 45px;
	left: 220px;
	z-index: 9
}
.records-form-dropdowns { float: none; margin: 0 0 15px; }
.records-form-buttons { float: none }
.subheader-tabs ul li a { padding-left: 10px; padding-right: 10px; font-size: 15px; }
}