<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Event Space</h1>
    </div>
</div>
<div id="body" class="event-space">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
        </div>
    </div>
    <div class="complex-table -evsp">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="70%">
                        <col width="10%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <!--<th>Event Space | Function Room</th>-->
                        <!--<th>Status</th>-->
                        <!--<th class="-no-border">Action</th>-->
                        <th>
                            <a routerLink="/u/event-spaces/add/event-space-info" class="red-plus bottom -right">
                                <span class="red-plus-tooltip">
                                    Add New Event Space
                                </span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="70%">
                        <col width="10%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr [class.-th]="!item.isFunctionSpace" *appPagingTableRow="let item;">

                        <ng-container *ngIf="item.isFunctionSpace">
                            <td>
                                <div class="-list-el" [class.-last]="item.isLast">{{item.name}}</div>
                            </td>
                            <td>{{item.status === 'ACTIVE' ? 'Active' : 'Inactive'}}</td>
                            <td class="-icon-buttons">
                                <a [routerLink]="'/u/event-spaces/' + item.parentId + '/function-spaces/' + item.id"
                                   class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a (appConfirmClick)="deleteFunctionSpace(item)"
                                   confirmMessage="Do you want to delete function space?"
                                   class="icon">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                            <td></td>
                        </ng-container>

                        <ng-container *ngIf="!item.isFunctionSpace">
                            <td><strong>{{item.name}}</strong></td>
                            <td>{{item.status}}</td>
                            <td class="-icon-buttons">
                                <a [routerLink]="'/u/event-spaces/' + item.id + '/event-space-info'"
                                   class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="icon"
                                   (appConfirmClick)="delete(item)"
                                   confirmMessage="Do you want to delete event space?">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                            <td></td>
                        </ng-container>


                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <a routerLink="/u/event-spaces/add/event-space-info" class="red-plus -right">
                <span class="red-plus-tooltip">
                    Add New Event Space
                </span>
            </a>
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>

</div>
<router-outlet></router-outlet>
