<form [formGroup]="form" (submit)="submit()">
    <div class="popup-users-add-new">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left">
                    <a appTrackClick [routerLink]="cancelLink" class="popup-body-header-back">BACK</a>
                </div>
                <!--<div class="popup-body-header-right popup-body-header-status">-->
                <!--<span class="fs-17">Status</span> &nbsp;-->
                <!--<label class="custom-checkbox -type-2">-->
                <!--<input type="checkbox" formControlName="status">-->
                <!--<span class="-checkbox"></span>-->
                <!--Active-->
                <!--</label>-->
                <!--</div>-->
                <h3>Add New User</h3>
            </div>
            <div class="popup-body-left">
                <div class="form-field">
                    <label>Status</label>
                    <select formControlName="status">
                        <option [value]="status.Active">{{status.Active | userStatusToText}}</option>
                        <option [value]="status.Inactive" [disabled]="formMode === mode.Add" >{{status.Inactive | userStatusToText}}</option>
                        <option [value]="status.NotVerified" disabled>{{status.NotVerified | userStatusToText}}</option>
                        <option [value]="status.Blocked" disabled>{{status.Blocked | userStatusToText}}</option>
                    </select>
                </div>
                <div class="form-field -required">
                    <label>First Name</label>
                    <input formControlName="firstName" type="text">
                    <!-- <div *ngIf="submitting && f.firstName.errors">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div> -->
                </div>
                <div class="form-field -required">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text">
                </div>
                <div class="form-field"><label>Title</label> <input formControlName="title" type="text"></div>
                <div class="form-field -required"><label>Direct Phone</label>
                    <app-masked-input formControlName="phone"></app-masked-input>
                </div>
                <div class="form-field"><label>Direct Fax</label> <input formControlName="fax" type="text"></div>

                <ng-container *ngIf="!subscriberId">
                    <div class="form-field" *appAllowShow="[userRole.SUPER_ADMIN]">
                        <label>Subscriber</label>
                        <app-select formControlName="subscriberId"
                                    [fetcher]="SelectFetchType.Subscriber"></app-select>
                        <!--<select formControlName="subscriberId">-->
                            <!--<option *ngFor="let item of subscribers" [value]="item.id">{{item.name}}</option>-->
                        <!--</select>-->
                    </div>
                </ng-container>
            </div>
            <div class="popup-body-right">
                <div class="form-field"><label>Mobile</label>
                    <app-masked-input formControlName="mobile"></app-masked-input>
                </div>
                <div class="form-field -required"><label>Email</label> <input formControlName="username" type="text">
                      <!-- <div *ngIf="f.username.touched && f.username.errors">
                        <div *ngIf="f.username.errors.required">First Name is required</div>
                        <div *ngIf="f.username.errors.email">First Name is Email</div>
                    </div> -->
                </div>
                <div class="form-field -required">
                    <label>Role</label>
                    <app-multi-select
                        [selection]="rolesSelection"
                        formControlName="roles"></app-multi-select>
                </div>
                <div class="form-field"><label>Notes</label> <input formControlName="notes" type="text"></div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button class="button" type="submit" [disabled]="form.invalid || submitting || form.pristine">{{formMode | formModeToText}}</button>
                <button class="button" appTrackClick type="button" [routerLink]="cancelLink">Cancel</button>
            </div>
        </div>
    </div>
</form>
