<ng-container *ngIf="visible">
    <div class="popup-shader -visible"></div>
    <div class="popup" appAddClassAfterTime="-visible">
        <a (click)="close()" class="popup-close"></a>
        <div class="popup-header">Totals</div>
        <div class="popup-tabs-container">

            <div class="popup-body" #content>
                <table style="width: 100%">
                    <tr *ngFor="let rep of report">
                        <td style="width: 50%">
                            <span style="float: right;">{{rep.category}}:</span>
                        </td>
                        <td style="width: 50%">
                            <span style="float: left; margin-left: 10px;">{{rep.amount | number:'1.2-2'}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="popup-footer">
                <div class="popup-footer-buttons">
                    <button
                        (click)="print()"
                        appTrackClick
                        type="button"
                        class="button">
                        Print TEO
                    </button>
                    <button
                        (click)="close()"
                        appTrackClick
                        type="button"
                        class="button">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
