.popup-body
    min-height 300px !important

.popup
    position fixed !important
    width 600px !important
    margin 0 0 0 -300px !important

td
    padding 8px !important
    span
        margin 0 !important
