<div id="title" class="text-center">
    <div class="inner">
        <!--<div class="title-image">-->
        <!--<app-venue-logo></app-venue-logo>-->
        <!--</div>-->
        <h1>Categories Management</h1>
    </div>
</div>
<div id="body" class="event-space">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
        </div>
    </div>
    <div class="complex-table">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="80%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <!--<th>Event Space | Function Room</th>-->
                        <!--<th>Status</th>-->
                        <!--<th class="-no-border">Action</th>-->
                        <th>
                            <a routerLink="/u/category-management/add" class="red-plus bottom -right">
                                <span class="red-plus-tooltip">
                                    Add New Category
                                </span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="80%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction" [defaultSortColumnKey]="'name'">
                        <ng-container *appPagingTableRow="let item;">
                            <tr class="category-row">
                                <td>
                                    <span
                                        (click)="toggleCategory(item)"
                                        class="expander fa"
                                        [class.fa-angle-down]="isCategoryExpanded(item.id)"
                                        [class.fa-angle-right]="!isCategoryExpanded(item.id)"
                                    ></span> {{item.name}}
                                </td>
                                <td>
                                    <a [routerLink]="'/u/category-management/' + item.id" class="icon">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a [routerLink]="'/u/category-management/' + item.id + '/subcategories/add'"
                                       class="icon">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a class="icon" (appConfirmClick)="delete(item)"
                                       confirmMessage="Do you want to delete category?">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                                <td></td>
                            </tr>
                            <ng-container *ngIf="isCategoryExpanded(item.id)">
                                <ng-container *ngFor="let subcategory of item.subcategories">
                                    <tr class="sub-category-row">
                                        <td>
                                            <span (click)="toggleSubCategory(subcategory)"
                                                  class="expander fa"
                                                  [class.fa-angle-down]="subcategory.expanded"
                                                  [class.fa-angle-right]="!subcategory.expanded"
                                            ></span> {{subcategory.name}}
                                        </td>
                                        <td>
                                            <a [routerLink]="'/u/category-management/' + item.id + '/subcategories/' + subcategory.id" class="icon">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a [routerLink]="'/u/category-management/' + item.id + '/subcategories/' + subcategory.id + '/items/add'" class="icon">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a class="icon" (appConfirmClick)="deleteSubCategory(subcategory)"
                                               confirmMessage="Do you want to delete sub category?">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <ng-container *ngIf="subcategory.expanded">
                                        <tr class="sub-category-item-row" *ngFor="let subcategoryItem of subcategory.items">
                                            <td>
                                                {{subcategoryItem.name}}
                                            </td>
                                            <td>
                                                <a [routerLink]="'/u/category-management/' + item.id + '/subcategories/' + subcategory.id + '/items/' + subcategoryItem.id" class="icon">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a class="icon" (appConfirmClick)="deleteSubCategoryItem(subcategoryItem)" confirmMessage="Do you want to delete sub category item?">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <a routerLink="/u/category-management/add" class="red-plus -right">
                <span class="red-plus-tooltip">
                    Add New Category
                </span>
            </a>
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>

</div>

<router-outlet></router-outlet>
