<form [formGroup]="form" (submit)="submit()">

    <div class="popup-events-add-new">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left">
                    <a [routerLink]="backUrl" class="popup-body-header-back">BACK</a>
                </div>
                <div class="popup-body-header-right"></div>
                <h3>{{formMode() | async}} Event</h3>
            </div>
            <div class="popup-body-left">
                <div class="form-field -required">
                    <label>Event Name</label>
                    <input formControlName="name" type="text">
                </div>
                <div class="form-field">
                    <label>Event Code</label>
                    <input formControlName="code" type="text">
                </div>
                <div class="form-field">
                    <label>Event Type</label>
                    <select formControlName="type">
                        <option [value]="type.Local">{{type.Local}}</option>
                        <option [value]="type.Internal">{{type.Internal}}</option>
                        <option [value]="type.Group">{{type.Group}}</option>
                    </select>
                </div>
            </div>
            <div class="popup-body-right">
                <div class="form-field">
                    <label>Master Account No</label>
                    <input formControlName="masterAccountNumber" type="text">
                </div>
                <div class="form-field">
                    <label>Event Description</label>
                    <input formControlName="eventDescription" type="text">
                </div>
                <div class="form-field">
                    <label>Event Status</label>
                    <select formControlName="status">
                        <!--<option [value]="status.Active" >{{status.Active}}</option>-->
                        <!--<option [value]="status.Inactive" >{{status.Inactive}}</option>-->
                        <option [value]="status.Definite" >{{status.Definite}}</option>
                        <option [value]="status.Tenative" >{{status.Tenative}}</option>
                        <option [value]="status.Proposal" >{{status.Proposal}}</option>
                    </select>
                </div>
            </div>
            <div class="popup-body-h-line"></div>
            <div class="popup-body-left">
                &nbsp;
            </div>
            <div class="inner" *ngIf="(formMode() | async) === formModeType.Edit">
                <!--table here-->
                <app-event-contacts [eventId]="entityId() | async"></app-event-contacts>
                <div class="popup-body-right" *ngIf="(formMode() | async) === formModeType.Edit">
                    <a class="red-plus"
                        [queryParams]="{eventId: eventId, accountId: accountId}"
                        routerLink="/u/functions/add">
                        <a routerLink="/u/functions/add"
                            [queryParams]="{eventId: eventId, accountId: accountId}"
                            class="red-plus-label">Add Function</a>
                        <span class="red-plus-tooltip">Add New Function</span>
                    </a>
                </div>
                <app-event-functions [eventId]="entityId() | async"></app-event-functions>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" class="button" [disabled]="form.invalid" >{{formMode() | async}}</button>
                <button type="button" class="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>

</form>
