<div class="heading-block" *ngIf="history.length > 0">
    <div class="inner">
        <div class="heading-block-left">
            <h2>Price History</h2>
        </div>
    </div>
</div>
<div class="content-block" *ngIf="history.length > 0">
    <div class="inner">
        <div class="header-container">
            <table class="simple-table">
                <colgroup>
                    <col width="40%">
                    <col width="18%">
                    <col width="2%">
                    <col width="18%">
                    <col width="2%">
                    <col width="18%">
                    <col width="2%">
                </colgroup>
                <tr>
                    <th>EDITED DATE</th>
                    <th>Price ($)</th>
                    <th></th>
                    <th>Start Date</th>
                    <th></th>
                    <th>End Date</th>
                    <th></th>
                </tr>
            </table>
        </div>
        <div class="table-container">
            <table class="simple-table">
                <colgroup>
                    <col width="40%">
                    <col width="18%">
                    <col width="2%">
                    <col width="18%">
                    <col width="2%">
                    <col width="18%">
                    <col width="2%">
                </colgroup>
                <tr *ngFor="let record of history">
                    <td>{{record.creationTime | date : 'mediumDate'}}</td>
                    <td>
                        <span [class.-purple-td]="record.priceAmended">{{record.price | number:'1.2-2'}}</span>
                    </td>
                    <td></td>
                    <td>
                    <span [class.-purple-td]="record.fromDateAmended">
                        {{record.fromDate | date : 'mediumDate'}}
                    </span>
                    </td>
                    <td></td>
                    <td>
                    <span [class.-purple-td]="record.toDateAmended">
                        {{record.toDate | date : 'mediumDate'}}
                    </span>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="simple-table-legend">
            <div class="-purple"><span></span> Amended Value</div>
        </div>
    </div>
</div>
