<div class="form-field" *ngIf="locationName && formField">
    <label>Storage Location</label>
    <input type="text" disabled [value]="locationName">
</div>
<div *ngIf="locationName && !formField">
    {{locationName}}
</div>
