<form [formGroup]="form" (submit)="submit()">
    <div id="popup-payment-info">
        <div class="popup-body">
            <div style="clear: both; overflow: hidden">
                <div class="form-section-title" style="margin-top:20px"><span>Payment Information</span></div>
                <div class="popup-body-left">
                    <div class="form-field -required">
                        <label>Account Type</label>
                        <select formControlName="accountType">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of SubscriptionTypeNames | keys" [value]="SubscriptionType[type]">
                                {{ SubscriptionTypeNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Creation Date</label>
                        <app-calendar formControlName="creationDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Subscription Date</label>
                        <app-calendar formControlName="subscriptionDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>Renewal Period</label>
                        <select formControlName="renewalPeriod">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of RenewalPeriodNames | keys" [value]="RenewalPeriod[type]">
                                {{ RenewalPeriodNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label>Next Payment Due</label>
                        <app-calendar
                            [minDate]="now"
                            [disableControl]="form.get('paymentMethod').value != PaymentMethod.Check"
                            formControlName="nextPaymentDate"></app-calendar>
                    </div>
                    <div class="form-field">
                        <label>Upload Contract</label>
                        <app-file-uploader formControlName="contractUrl" [fileUploader]="contractUploader"></app-file-uploader>
                        <a [href]="form.get('contractUrl').value" target="_blank" *ngIf="form.get('contractUrl').value">View Contract</a>
                    </div>
                    <div class="form-field">
                        <label>Upload Initial Invoice</label>
                        <app-file-uploader formControlName="initialInvoiceUrl" [fileUploader]="invoiceUploader"></app-file-uploader>
                        <a [href]="form.get('initialInvoiceUrl').value" target="_blank" *ngIf="form.get('initialInvoiceUrl').value">View Initial Invoice</a>
                    </div>
                </div>
                <div class="popup-body-right">
                    <div class="form-field -required">
                        <label>Payment Method</label>
                        <select formControlName="paymentMethod">
                            <option disabled [value]="null">Please select...</option>
                            <option *ngFor="let type of PaymentMethodNames | keys" [value]="PaymentMethod[type]">
                                {{ PaymentMethodNames[type] }}
                            </option>
                        </select>
                    </div>
                    <div class="form-field -required">
                        <label>Amount Due</label>
                        <!--<input type="number" appNumberInput formControlName="amountDue">-->
                        <app-masked-input
                            formControlName="amountDue"
                            [mask]="'currency'"
                            [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field -required">
                        <label>Implementation Fee</label>
                        <!--<input type="number" appNumberInput formControlName="implementationFee">-->
                        <app-masked-input
                            formControlName="implementationFee"
                            [mask]="'currency'"
                            [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field -required">
                        <label>Contract Number</label>
                        <input type="text" formControlName="contractNumber">
                    </div>
                    <div class="form-field">
                        <label>Customer PO</label>
                        <input type="text" formControlName="customerPo">
                    </div>
                    <div class="form-field -required">
                        <label>Status</label>
                        <select formControlName="status">
                            <option [value]="null" disabled>Please select...</option>
                            <option *ngFor="let type of SubscriptionStatusNames | keys" [value]="SubscriptionStatus[type]">
                                {{ SubscriptionStatusNames[type] }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-section-title" style="margin: 10px 0;margin-right: 60px;">
                    <span>Payment History</span>
                    <div class="popup-body-header-right" style="position: absolute;top: -10px; right: -80px;" *ngIf="form.get('paymentMethod').value === PaymentMethod.Check">
                        <a [routerLink]="'add'" class="red-plus">
                            <!--<span class="red-plus-tooltip">Add New Payment</span>-->
                        </a>
                    </div>
                </div>
                <app-subscriber-payment-history></app-subscriber-payment-history>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button class="button" type="submit" [disabled]="form.invalid || form.pristine || submitting">Update</button>
                <button (click)="goBack()" type="button" class="button">Cancel</button>
            </div>
        </div>
    </div>
</form>
