<div id="popup-users">
    <div class="popup-users-list">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left">
                </div>
                <div class="popup-body-header-right">
                </div>
            </div>
            <div class="popup-users-list-table">
                <table class="simple-table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Has Access</th>
                        <th>Number of licensed users</th>
                    </tr>
                    </thead>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'product'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.product}}</td>
                        <td>
                            <select (change)="changedAccess($event, item)">
                                <option [value]="true" [selected]="item.hasAccess">Yes</option>
                                <option [value]="false" [selected]="!item.hasAccess">No</option>
                            </select>
                        </td>
                        <td>
                            <input (input)="changedCount($event, item)" min="0" onkeypress="return event.charCode >= 48" appNumberInput  type="number" [value]="item.licensedUsersCount">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="display: none;">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
                <app-paging-table-header-column [column]="columns[0]"></app-paging-table-header-column>
            </div>

            <div class="popup-users-list-search">
            </div>

            <div class="pagination">
                <app-paging-table-paging></app-paging-table-paging>
            </div>
            <app-users-access-list></app-users-access-list>
        </div>
    </div>

</div>
