<div class="inner">

    <a
        *ngIf="firstStepIsActive()"
        [routerLink]="'/u/inventory/' + inventoryId + '/asset-information'"
        class="step -current">
        Asset Information
    </a>

    <div *ngIf="!firstStepIsActive()" class="step">
        Asset Information
    </div>

    <a *ngIf="secondStepIsActive()"
       class="step -current"
       [routerLink]="'/u/inventory/' + inventoryId + '/service-and-maintenance'">
        Service &amp; Maintenance
    </a>
    <div *ngIf="!secondStepIsActive()" class="step">
        Service &amp; Maintenance
    </div>

    <a *ngIf="thirdStepIsActive()"
       class="step -current"
       [routerLink]="'/u/inventory/' + inventoryId + '/asset-status'">
        Asset Status
    </a>
    <div *ngIf="!thirdStepIsActive()" class="step">
        Asset Status
    </div>

    <a *ngIf="fourthStepIsActive()"
       class="step -current"
       [routerLink]="'/u/inventory/' + inventoryId + '/documents'">
        Documents
    </a>
    <div *ngIf="!fourthStepIsActive()" class="step">
        Documents
    </div>
</div>
