<form [formGroup]="form" (submit)="submit()">
    <div id="title" class="text-center">
        <div class="inner">
            <div *appAllowShow="[userRole.ADMIN]" class="title-image">
                <app-venue-logo></app-venue-logo>
            </div>
            <h1>Vendor Information</h1>
        </div>
    </div>
    <div id="body" class="property">
        <div class="property-block">
            <div class="inner">
                <div class="property-left-col">
                    <div class="form-field -required">
                        <label>Vendor Company</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div class="form-field -required" formGroupName="address">
                        <label>Address</label>
                        <input type="text" formControlName="address">
                    </div>
                    <div class="form-field" formGroupName="address">
                        <label>Address 2</label>
                        <input type="text" formControlName="address2">
                    </div>
                    <div class="form-field -required" formGroupName="address">
                        <label>City</label>
                        <input type="text" formControlName="city">
                    </div>
                    <div class="form-field" formGroupName="address">
                        <label>State</label>
                        <app-select formControlName="stateId" [fetcher]="SelectFetchType.State"></app-select>
                        <!--<select formControlName="stateId"-->
                        <!--[defaultState]="form.get('address.stateId').value"-->
                        <!--appStateList></select>-->
                    </div>
                    <div class="form-field -required" formGroupName="address">
                        <label>Country</label>
                        <app-select formControlName="countryId" [fetcher]="SelectFetchType.Country"></app-select>
                        <!--<select formControlName="countryId"-->
                        <!--appCountryList-->
                        <!--[defaultCountry]="form.get('address.countryId').value">-->
                        <!--</select>-->
                    </div>
                    <div class="form-field -required" formGroupName="address">
                        <label>Zip/Postal Code</label>
                        <input type="text" formControlName="postCode">
                    </div>
                </div>
                <div class="property-right-col">
                    <div class="form-field ">
                        <label>Phone</label>
                        <app-masked-input formControlName="phone"></app-masked-input>
                    </div>
                    <div class="form-field">
                        <label>Fax</label>
                        <input type="text" formControlName="fax">
                    </div>
                    <div class="form-field">
                        <label>Website</label>
                        <input type="text" formControlName="website">
                    </div>
                </div>
            </div>
        </div>

        <app-vendor-contacts *ngIf="(formMode() | async) === mode.Edit" [vendorId]="entityId() | async">
        </app-vendor-contacts>

        <router-outlet></router-outlet>

        <div class="bottom-buttons">
            <button class="button" appTrackClick [disabled]="form.invalid" type="submit">
                {{formMode() | async}}
            </button>
            <a appTrackClick routerLink="/u/vendors" class="button">
                Cancel
            </a>
        </div>

    </div>
</form>

<!-- <hr>
<form>
    <input type="tel" id="phone" class="akhil">
</form> -->