<form [formGroup]="pageSizeForm">
    <select formControlName="pageSize" class="form-control page-size">
        <option>10</option>
        <option>50</option>
        <option>100</option>
    </select>
</form>

