<div class="popup-shader -visible"></div>
<div class="popup -revenue" appAddClassAfterTime="-visible">
    <a routerLink="/u/cost-category" class="popup-close"></a>
    <div class="popup-header">Edit Cost Category</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body -auto-height">
            <div class="popup-body-center -padding-30 -narrow">
                <div class="form-field -required">
                    <label>Category</label>
                    <input formControlName="costCategoryName" type="text">
                    <input style="display: none;" formControlName="costCategoryId" type="text">
                </div>
                <div class="form-field -required">
                    <label>GL Code</label>
                    <input formControlName="costCode" type="text">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button type="submit" [disabled]="form.invalid" class="button">Update</button>
                <a routerLink="/u/cost-category" class="button">Cancel</a>
            </div>
        </div>
    </form>

</div>
