<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Storage Space</h1>
    </div>
</div>
<div id="body" class="storage-space">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
        </div>
    </div>
    <div class="complex-table">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="70%">
                        <col width="10%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <!--<th>Storage Space</th>-->
                        <!--<th>Status</th>-->
                        <!--<th class="-no-border">Action</th>-->
                        <th>
                            <a routerLink="/u/storage-spaces/add"
                               class="red-plus -right bottom">
                                <span class="red-plus-tooltip">Add New Storage Space</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup>
                        <col width="70%">
                        <col width="10%">
                        <col width="15%">
                        <col width="5%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>{{item.status}}</td>
                        <td class="-icon-buttons">
                            <a [routerLink]="'/u/storage-spaces/' + item.id"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (appConfirmClick)="delete(item)"
                               confirmMessage="Do you want to delete storage space?"
                               class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <a routerLink="/u/storage-spaces/add" class="red-plus -right">
                <span class="red-plus-tooltip">Add New Storage Space</span>
            </a>
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
