<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Revenue Categories</h1>
    </div>
</div>

<div style="display: none">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="records-form">
    <div class="inner">
        <div class="records-form-search">
            <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        </div>
        <div class="records-form-dropdowns">
            <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
        </div>
        <div class="records-form-label">Items Per Page:</div>
    </div>
</div>

<div id="body" class="revenue">
    <div class="complex-table" appRzTable [rzDisabledColumns]="[5, 4]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="40%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="8%">
                    </colgroup>
                    <tr>
                        <th><span class="title">Revenue</span></th>
                        <th><span class="title">Code</span></th>
                        <th><span class="title">Discountable</span></th>
                        <th><span class="title">Service Charge</span></th>
                        <th><span class="title">Revenue Code</span></th>
                        <th><span class="title">Action</span></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="40%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="8%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="''">
                        <tr *appPagingTableRow="let item;">
                            <td>{{item.revenueCategoryName}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.discountable | boolText}}</td>
                            <td>{{item.serviceCharge | boolText}}</td>
                            <td>{{item.revenueCode}}</td>
                            <td class="-icon-buttons">
                                <a appTrackClick [routerLink]="'/u/revenue-category/' + item.revenueCategoryId" class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
