<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Systems Management</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>

            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
        </div>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[1, 2, 3]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="29%">
                        <col width="47%">
                        <col width="16%">
                        <col width="7%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <!--<th class="-no-border">Action</th>-->
                        <th>
                            <a style="visibility: hidden" class="red-plus -right">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                            <a *appAllowShow="actionsAllow" appTrackClick routerLink="/u/systems/add" class="red-plus -right bottom">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="29%">
                        <col width="47%">
                        <col width="16%">
                        <col width="7%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;">
                        <td>
                            <a appTrackClick [routerLink]="'/u/systems/' + item.id">
                                {{item.name}}
                            </a>
                        </td>
                        <td>{{item.description}}</td>
                        <td>
                            <ng-container
                                *appAllowShow="actionsAllow">
                                <a appTrackClick
                                   [routerLink]="'/u/systems/' + item.id"
                                   class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a
                                    (appConfirmClick)="delete(item)"
                                    appTrackClick
                                    confirmMessage="Do you want to delete equipment system?"
                                    class="icon">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </ng-container>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>

</div>
