<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Invoice Report</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <div class="form-field -required">
                        <label>Client</label>
                        <app-select
                            formControlName="accountId"
                            [fetcher]="SelectFetchType.Account"></app-select>
                        <!--<app-account-dropdown formControlName="accountId"></app-account-dropdown>-->
                    </div>
                    <div class="form-field -required">
                        <label>Event</label>
                        <app-select
                            formControlName="eventId"
                            [factoryArgs]="{accountId: form.get('accountId').value}"
                            [fetcher]="eventFetchFactory"></app-select>
                        <!--<app-event-dropdown-->
                        <!--[accountId]="form.get('accountId').value"-->
                        <!--formControlName="eventId"-->
                        <!--&gt;</app-event-dropdown>-->
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="generate(ReportAction.View)" class="button"
                                [disabled]="isDisabled || form.invalid">View
                        </button>
                        <button appTrackClick (click)="generate(ReportAction.Print)" class="button"
                                [disabled]="isDisabled || form.invalid">Print
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
