@media (min-width: 768px)
    .mi-form .mi-form-field
        padding: 0 0 0 129px
        width: 186px
        &:first-child
            padding-left: 75px


.large-padding
    padding: 0 0 0 160px !important

th
    padding: 15px!important

.assigned
    td
        font-weight: bold
        color: #444
