<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Equipment and Services</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <form [formGroup]="filterForm">
        <div class="mi-form">
            <div class="inner">
                <div class="mi-form-field">
                    <label>Status</label>
                    <select formControlName="status">
                        <option [value]="statusType.All">All</option>
                        <option [value]="statusType.Assigned">Assigned</option>
                        <option [value]="statusType.UnAssigned">Unassigned</option>
                    </select>
                </div>

                <div class="mi-form-field large-padding">
                    <input formControlName="search" type="text" placeholder="Search...">
                </div>
            </div>
        </div>
    </form>

    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[4, 5, 6, 7]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col>
                        <col>
                        <col>
                        <col width="10%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <th class="-no-border">
                            <ng-container *appAllowShow="actionsAllow">
                                <span class="title">Actions</span>
                            </ng-container>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col>
                        <col>
                        <col>
                        <col width="10%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item; let index = $index;" [class.assigned]="!!item.equipmentServiceId">
                        <td>{{item.subCategoryItemName}}</td>
                        <td>{{item.categoryName}}</td>
                        <td>{{item.subCategoryName}}</td>
                        <td>
                            <ng-container *appAllowShow="actionsAllow">
                                <a appTrackClick [routerLink]="editUrlForModel(item)" [queryParams]="queryParamsForModel(item)" class="icon" (click)="edit($event, item, index)">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a appTrackClick *ngIf="item.equipmentServiceId" class="icon" (appConfirmClick)="delete(item)" appTrackClick
                                   confirmMessage="Do you want to delete equipment?">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </ng-container>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
