<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>{{formMode() | async}} Package</h1>
    </div>
</div>
<div id="body" class="edit-package">

    <form [formGroup]="form" (submit)="submit()">
        <div class="content-block -grey">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Package Name</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div class="form-field -required">
                        <label>Sales Description</label>
                        <input type="text" formControlName="salesDescription">
                    </div>
                    <!--<div class="form-field -required">-->
                        <!--<label>Workflow Description</label>-->
                        <!--<input type="text" formControlName="description">-->
                    <!--</div>-->
                </div>
                <div class="content-right-col">
                    <div class="form-field">
                        <label>Calculated Price</label>
                        <!--<input type="text" formControlName="calculatedPrice">-->
                        <span style="display: inline-block; margin-top: 8px;">{{form.value.calculatedPrice | number:'1.2-2'}}</span>
                    </div>
                    <div class="form-field -required">
                        <label>Actual Price</label>
                        <!--<input type="number" formControlName="price">-->
                        <app-masked-input formControlName="price"
                                          [mask]="'currency'"
                                          [options]="{rightAlign: false}"></app-masked-input>
                    </div>
                    <div class="form-field -required">
                        <label>Start Date</label>
                        <app-calendar formControlName="priceFromDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>End Date</label>
                        <app-calendar formControlName="priceToDate" [minDate]="form.get('priceFromDate').value" ></app-calendar>
                    </div>
                    <div class="form-field -upload-image">
                        <div class="-upload-image"><img *ngIf="form.get('pictureUrl').value" [src]="form.get('pictureUrl').value" alt=""></div>
                        <div class="-upload-title">Upload Image</div>
                        <app-file-uploader
                            formControlName="pictureUrl"
                            [fileUploader]="uploader">
                        </app-file-uploader>
                    </div>
                </div>
            </div>
        </div>

        <app-package-price-changes-table [history]="priceHistory"></app-package-price-changes-table>

        <app-package-items formControlName="contents"></app-package-items>

        <div class="content-buttons">
            <button type="submit" class="button" [disabled]="form.invalid" >{{formMode() | async}}</button>
            <button type="button" class="button" (click)="copy()" [disabled]="form.invalid">{{formMode() | async}} & copy</button>
            <button type="button" class="button" (click)="cancel()">Cancel</button>
        </div>
    </form>

</div>
