<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Sales Scripting</h1>
    </div>
</div>

<div style="display: none">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div id="body" class="revenue" appRzTable [rzDisabledColumns]="[2, 1]">
    <div class="complex-table">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="60%">
                        <col width="15%">
                    </colgroup>
                    <tr>
                        <th><span class="title">Name</span></th>
                        <th><span class="title">Description</span></th>
                        <th><span class="title">Actions</span></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="60%">
                        <col width="15%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="''">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <button class="button" type="button" (click)="zingTreeApi.open(item.treeId)">Open</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
