<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Cost Categories</h1>
    </div>
</div>

<div style="display: none">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div class="records-form">
    <div class="inner">
        <div class="records-form-search">
            <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        </div>
        <div class="records-form-dropdowns">
            <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
        </div>
        <div class="records-form-label">Items Per Page:</div>
    </div>
</div>

<div id="body" class="cost">
    <div class="complex-table" appRzTable [rzDisabledColumns]="[3, 2, 1]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="35%">
                        <col width="45%">
                        <col width="12%">
                        <col width="8%">
                    </colgroup>
                    <tr>
                        <th>
                            <span class="title">Name</span>
                        </th>
                        <th><span class="title">Description</span></th>
                        <th><span class="title">Actions</span></th>
                        <th>
                            <a style="visibility: hidden" appTrackClick routerLink="/u/manage-cost-category/add"
                               class="red-plus -right">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                            <a appTrackClick routerLink="/u/manage-cost-category/add"
                               class="red-plus -right">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="35%">
                        <col width="45%">
                        <col width="12%">
                        <col width="8%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction" [defaultSortColumnKey]="''">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td class="-icon-buttons">
                            <a appTrackClick [routerLink]="'/u/manage-cost-category/' + item.id" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick class="icon" (appConfirmClick)="delete(item)" appTrackClick
                               confirmMessage="Do you want to delete cost category?">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
