<app-modal (close)="goBack()">
    <div class="popup-header">{{mode}} Account</div>
    <div class="popup-tabs-nav">
        <a routerLinkActive="-current" appTrackClick [routerLink]="linkPrefix() + 'account-info'">
            Account Information
        </a>

        <a routerLinkActive="-current" appTrackClick *ngIf="mode == formMode.Edit"
           [routerLink]="linkPrefix() + 'account-events'">
            Events
        </a>
        <a class="-disabled" appTrackClick *ngIf="mode == formMode.Add">Events</a>
    </div>
    <div class="popup-tabs-container">
        <router-outlet></router-outlet>
    </div>
</app-modal>
