<form [formGroup]="form" (submit)="submit()">
    <div class="popup-body event-space">
        <div class="popup-body-left">
            <div class="form-field -required">
                <label>Name</label>
                <input formControlName="name" type="text">
            </div>
        </div>
        <div class="popup-body-right">
            <div class="form-field -required">
                <label>Status</label>
                <select formControlName="status">
                    <option [value]="eventSpaceType.Inactive">{{eventSpaceType.Inactive}}</option>
                    <option [value]="eventSpaceType.Active">{{eventSpaceType.Active}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="popup-footer">
        <div class="popup-footer-buttons">
            <button type="submit" class="button" [disabled]="form.invalid">
                {{formMode() | async | formModeToText}}
            </button>
            <a routerLink="/u/event-spaces" class="button">Cancel</a>
        </div>
    </div>
</form>
