<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>{{formMode() | async}} Equipment and Services</h1>
    </div>
</div>

<app-equipment-paging-prev (prev)="onPrev($event)"></app-equipment-paging-prev>
<app-equipment-paging-next (next)="onNext($event)"></app-equipment-paging-next>

<div id="body" class="pricing">
    <form [formGroup]="form" (submit)="submit()">
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-center">
                    <label class="custom-radio">
                        <input
                            type="radio"
                            formControlName="type"
                            [disableControl]="(formMode() | async) == FormMode.Edit"
                            [value]="equipmentType.Equipment"
                        >
                        <span class="-radio"></span>
                        Equipment
                    </label>
                    <label class="custom-radio">
                        <input
                            type="radio"
                            formControlName="type"
                            [disableControl]="(formMode() | async) == FormMode.Edit"
                            [value]="equipmentType.Service"
                        >
                        <span class="-radio"></span>
                        Service
                    </label>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Category</label>

                        <app-select
                            formControlName="categoryId"
                            [fetcher]="SelectFetchType.InventoryCategory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Sub-Category</label>
                        <app-select
                            formControlName="subCategoryId"
                            [factoryArgs]="form.get('categoryId').value"
                            [fetcher]="inventorySubCategoryFetchFactory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Equipment / Services Item</label>
                        <app-select formControlName="subCategoryItemId"
                                    [factoryArgs]="form.get('subCategoryId').value"
                                    [fetcher]="inventorySubCategoryItemFetchFactory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Client description</label>
                        <input type="text" formControlName="clientDescription">
                    </div>
                    <div class="form-field -required">
                        <label>Work flow description</label>
                        <input type="text" formControlName="workflowDescription">
                    </div>

                    <!-- <div class="form-field -required">
                        <label>Cross rental type</label>
                        <select formControlName="crossRentalType">
                            <option [value]="rentalType.Rental">Rental</option>
                            <option [value]="rentalType.Purchase">Purchase</option>
                        </select>
                    </div>
                    <div class="form-field -required">
                        <label>Setup time (Minutes)</label>
                        <input formControlName="setupTime" appNumberInput type="number" class="text">
                    </div> -->

                    <div class="form-field -required product-info" [hidden]="isServiceType">
                        <label>Product Information</label>
                        <label class="custom-radio"
                               *ngFor="let key of equipmentProductInformation | keys; let i = index;">
                            <ng-container *ngIf="i < 2">
                                <input type="radio" [disableControl]="isServiceType"
                                       formControlName="equipmentProductInformation"
                                       [value]="equipmentProductInformation[key]">
                                <span class="-radio"></span>
                                {{ equipmentProductInformationNames[key] }}
                            </ng-container>
                        </label>
                    </div>
                    <div class="form-field">
                        <label class="custom-checkbox">
                            <input type="checkbox" formControlName="thirdParty">
                            <span class="-checkbox"></span>
                            3rd party
                        </label>
                    </div>
                    <div class="form-field">
                        <label class="custom-checkbox">
                            <input type="checkbox" formControlName="excludeFromReport">
                            <span class="-checkbox"></span>
                            Exclude From Equipment Usage Report
                        </label>
                    </div>
                </div>
                <div class="content-right-col">

                    <div class="form-field -required">
                        <label>Revenue Category</label>
                        <app-select formControlName="revenueCategoryId"
                                    [fetcher]="SelectFetchType.RevenueCategoryWithCode"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Cost Category</label>
                        <app-select formControlName="costCategoryId"
                                    [fetcher]="SelectFetchType.CostCategoryWithCode"></app-select>
                        <!--<app-cost-category-dropdown #costCategory [pleaseSelect]="true"-->
                        <!--formControlName="costCategoryId"></app-cost-category-dropdown>-->
                    </div>
                    <div class="form-field -required rentable">
                        <label>Rentable</label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="rentable" [value]="true">
                            <span class="-radio"></span>
                            Yes
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="rentable" [value]="false">
                            <span class="-radio"></span>
                            No
                        </label>
                    </div>
                    <div [hidden]="!isRentable">
                        <div class="form-field -required">
                            <label>Price</label>
                            <app-masked-input
                                formControlName="price"
                                [disableControl]="!isRentable"
                                [mask]="'currency'"
                                [options]="{rightAlign: false}"></app-masked-input>
                            <!--<input type="number" [disableControl]="!isRentable" formControlName="price" class="text">-->
                        </div>
                        <div class="form-field -required">
                            <label>Price start date</label>
                            <app-calendar [disableControl]="!isRentable" formControlName="priceFromDate"></app-calendar>
                        </div>
                        <div class="form-field -required">
                            <label>Price end date</label>
                            <app-calendar [disableControl]="!isRentable" formControlName="priceToDate"></app-calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Price History</h2>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">
                <app-equipment-price-history [prices]="oldPrices"></app-equipment-price-history>
            </div>
        </div>
        <div class="bottom-buttons">
            <button
                type="button"
                [disabled]="form.invalid || form.pristine || isLoading || submitting"
                class="button -inverted"
                (click)="saveAndNew()"
                appTrackClick>
                Save & New
            </button>
            <button appTrackClick type="submit" [disabled]="form.invalid || form.pristine || isLoading || submitting" class="button -inverted -wider">
                {{ formMode() | async }}
            </button>
            <button (click)="cancel()" disabled [disabled]="isLoading" appTrackClick type="button" class="button">
                Cancel
            </button>
        </div>
    </form>
</div>
