<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>{{formMode() | async}} Systems</h1>
    </div>
</div>
<form [formGroup]="form" (submit)="submit()">
    <div id="body" class="edit-systems">

        <div class="content-block -grey">
            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>System Name</label>
                        <input type="text" formControlName="name">
                    </div>
                </div>
                <div class="content-right-col">
                    <div class="form-field -required">
                        <label>System Description</label>
                        <input type="text" formControlName="description">
                    </div>
                </div>
            </div>
        </div>
        <div class="heading-block">
            <div class="inner">
                <div class="heading-block-left">
                    <h2>Search</h2>
                    <p class="search-hint">Please use the filter to narrow down the list of Inventory items to choose from.</p>
                </div>
            </div>
        </div>
        <div class="content-block">
            <div class="inner">


                <app-inventory-select formControlName="inventoryIds"></app-inventory-select>


                <div class="content-buttons">
                    <button type="submit" [disabled]="form.invalid"  appTrackClick class="button">{{formMode() | async}}</button>
                    <button type="button" appTrackClick (click)="goBack()" class="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
