<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image" *appAllowShow="[userRole.ADMIN]">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Subscriber Management</h1>
    </div>
</div>
<div id="body" class="account-management">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>

            <div class="records-form-add">
                <a routerLink="/u/subscribers/add/subscriber-info" class="red-plus"><span class="red-plus-tooltip">Add New Subscriber</span></a>
            </div>
        </div>
    </div>
    <div class="records-table" appRzTable [rzDisabledColumns]="[5, 4]">
        <div class="records-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="27%">
                        <col width="23%">
                        <col width="17%">
                        <col width="8%">
                        <col width="9%">
                        <col width="15%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="records-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="27%">
                        <col width="23%">
                        <col width="17%">
                        <col width="8%">
                        <col width="9%">
                        <col width="15%">
                    </colgroup>
                    <tbody app-paging-table
                           #subscribersTable
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;">
                        <td>
                            {{item.name}}
                        </td>
                        <td>{{item.branch}}</td>
                        <!--<td>{{item.phone}}</td>-->
                        <td>
                            <a [routerLink]="'/u/subscribers/' + item.id + '/subscriber-contact-person'">
                                {{item.contactFirstName}}
                            </a>
                        </td>
                        <td>{{item.usersCount}}</td>
                        <td>{{item.status | subscriberStatus}}</td>
                        <td>
                            <a appTrackClick
                               [routerLink]="'/u/subscribers/' + item.id + '/subscriber-info'"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick
                               [routerLink]="'/u/subscribers/' + item.id + '/subscriber-contact-person'"
                               class="icon">
                                <i class="fa fa-address-card"></i>
                            </a>
                            <a
                                appTrackClick
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete subscriber?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="records-form-add">
            <a routerLink="/u/subscribers/add/subscriber-info" class="red-plus"><span class="red-plus-tooltip">Add New Subscriber</span></a>
        </div>
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>


</div>

<router-outlet></router-outlet>
