<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Tickets and Maintenance</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <form [formGroup]="filterForm" (submit)="applyFilters()">
        <div class="mi-form">
            <div class="inner">
                <div class="mi-form-label">Show records from:</div>
                <div class="mi-form-field">
                    <label>System Name</label>
                    <input type="text" formControlName="systemName">
                </div>
                <div class="mi-form-field">
                    <label>Inventory Tag</label>
                    <input type="text" formControlName="tagNumber">
                </div>
                <div class="mi-form-field -short-label">
                    <label>Status</label>
                    <select formControlName="ticketStatus">
                        <option [value]="status.All">{{status.All}}</option>
                        <option [value]="status.Open">{{status.Open}}</option>
                        <option [value]="status.InProgress">{{status.InProgress}}</option>
                        <option [value]="status.Completed">{{status.Completed}}</option>
                    </select>
                </div>
                <div class="mi-form-field -second-line">
                    <label>Inventory Name</label>
                    <input formControlName="inventoryName" type="text">
                </div>
                <div class="mi-form-field">
                    <label>Ticket Number</label>
                    <input formControlName="id" type="text">
                </div>
                <div class="mi-form-field -short-label">
                    <label>Barcode</label>
                    <input formControlName="barcode" type="text">
                </div>
                <div class="mi-form-field -second-line">
                    <label>Ticket Title</label>
                    <input type="text" formControlName="search">
                </div>
                <div class="mi-form-field">
                    <label>Location</label>
                    <app-select #locationDropdown [fetcher]="SelectFetchType.Location" formControlName="locationId" [allOption]="true"></app-select>
                </div>
                <div class="mi-form-sep"></div>
                <div class="mi-form-label">Date Range:</div>
                <div class="mi-form-field -date-from">
                    <label>From Date</label>
                    <app-calendar formControlName="from"></app-calendar>
                </div>
                <div class="mi-form-field -date-from">
                    <label>To Date</label>
                    <app-calendar formControlName="to" [minDate]="filterForm.value.from"></app-calendar>
                </div>
                <div class="mi-form-field -short-label mi-form-buttons">
                    <button appTrackClick class="button" type="submit">Apply</button>
                    <button appTrackClick class="button" type="button" (click)="clearFilters()">Clear</button>
                </div>
            </div>
        </div>
    </form>


    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[9, 8, 7]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="13%">
                        <col width="7%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                        <th>
                            <a appTrackClick routerLink="/u/tickets/add" class="red-plus -right bottom">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="13%">
                        <col width="7%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'id'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.title}}</td>
                        <td>{{item.creationTime | date:'MM / dd / yyyy'}}</td>
                        <td>
                            {{item.id}}
                        </td>

                        <td>

                            <span *ngIf="item.systemId">
                                {{item.extras.system.name}}
                            </span>

                            <span *ngIf="item.inventoryId">
                                {{item.extras.inventory.subCategoryItemName}} - {{item.extras.inventory.tagNumber}}
                            </span>


                        </td>
                        <td>
                            <app-storage-location *ngIf="item.inventoryId" [inventoryId]="item.inventoryId"></app-storage-location>
                        </td>
                        <td>{{item.extras.creator.firstName}} {{item.extras.creator.lastName}}</td>
                        <td>
                            <a target="_blank" [routerLink]="item.contactLink">
                                {{item.assigneeName}}
                            </a>
                        </td>
                        <td>{{item.ticketStatus}}</td>
                        <td>
                            <a appTrackClick
                               [routerLink]="'/u/tickets/' + item.id"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick
                               routerLink="/u/tickets/add"
                               [queryParams]="{ copy: item.id }"
                               class="icon">
                                <i class="fa fa-copy"></i>
                            </a>
                            <a
                                (appConfirmClick)="delete(item)"
                                appTrackClick
                                confirmMessage="Do you want to delete ticket?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
