<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Purchase Order Report</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <!-- <div class="form-field -required">
                        <label>Vendor</label>
                       <app-select
                            formControlName="vendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                        <app-vendor-dropdown formControlName="vendorId"></app-vendor-dropdown>
                    </div> -->
                    <div class="form-field -required">
                        <label>Purchase Order</label>
                        <!--Jira ticket -AB 40 The filter for "Vendor" on the Purchase Order Report screen should be removed. User needs ability to print by PO Number only.-->
                        <!-- <app-select
                            formControlName="purchaseOrderId"
                            [disableControl]="!form.get('vendorId').value"
                            [factoryArgs]="form.get('vendorId').value"
                            [fetcher]="purchaseOrderFetchFactory"></app-select> -->
                            <app-select
                            formControlName="purchaseOrderId"
                            [fetcher]="purchaseOrderFetchFactory"></app-select>
                        <!--<app-purchase-order-dropdown-->
                        <!--formControlName="purchaseOrderId"-->
                        <!--[disableControl]="!form.get('vendorId').value"-->
                        <!--[filterParams]="{ vendorId: form.get('vendorId').value }"-->
                        <!--&gt;</app-purchase-order-dropdown>-->
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="generate(ReportAction.View)" class="button"
                                [disabled]="isDisabled || form.invalid">View
                        </button>
                        <button appTrackClick (click)="generate(ReportAction.Print)" class="button"
                                [disabled]="isDisabled || form.invalid">Print
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
