<div id="page" class="-login -narrow">
    <header id="header" class="-high">
        <div class="inner -narrow">
            <a routerLink="/" class="logo -big">Avastar!</a>
        </div>
    </header>
    <div id="title" class="-purple">
        <div class="inner">
            <div class="title-image"><img src="/assets/images/image-sign-in.jpg" alt=""></div>
            <h1>Reset Password</h1>
        </div>
    </div>
    <div id="body">
        <div class="inner">
            <div class="form -login">
                <form [formGroup]="resetForm" (submit)="onSubmit()">
                    <input formControlName="password" type="password" placeholder="Password">
                    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                    <input [appAsyncTasksDisableOnInProgress]="resetPasswordTask"
                           appTrackClick
                           type="submit"
                           value="Change Password">
                </form>
            </div>
        </div>
    </div>
    <app-footer [white]="true"></app-footer>
</div>
