<div class="popup-shader -visible"></div>
<div class="popup -revenue" appAddClassAfterTime="-visible">
    <a appTrackClick routerLink="/u/revenue-category" class="popup-close"></a>
    <div class="popup-header">Edit Revenue Categories</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body -auto-height">
            <div class="popup-body-center -padding-30 -narrow">
                <div class="form-field -required">
                    <label>Revenue Type</label>
                    <input type="text" formControlName="revenueCategoryName" />
                </div>
                <div class="form-field -required">
                    <label>Revenue Code</label>
                    <input type="text" formControlName="revenueCode" />
                </div>
                <div class="form-field -mb0 -mt25">
                    <label class="custom-checkbox">
                        <input type="checkbox" formControlName="discountable">
                        <span class="-checkbox"></span> Discountable
                    </label>
                </div>
                <div class="form-field">
                    <label class="custom-checkbox">
                        <input type="checkbox" formControlName="serviceCharge">
                        <span class="-checkbox"></span> Service Charge
                    </label>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button appTrackClick class="button" type="submit" [disabled]="form.invalid || submitting">Update</button>
                <a appTrackClick routerLink="/u/revenue-category" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>