<div class="popup-shader -visible"></div>
<form [formGroup]="form" (submit)="submit()">
    <div class="popup" appAddClassAfterTime="-visible">
        <a routerLink="/u/storage-spaces" class="popup-close"></a>
        <div class="popup-header">{{formMode() | async}} Document</div>
        <div class="popup-tabs-container">

            <div class="popup-body event-space">
                <div class="popup-body-left">
                    <div class="form-field -required">
                        <label>Name</label>
                        <input formControlName="name" type="text">
                    </div>
                </div>
                <div class="popup-body-right">
                    <div class="form-field upload -required">
                        <label>Document</label>
                        <app-file-uploader
                            formControlName="url"
                            [fileUploader]="uploader">
                        </app-file-uploader>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="popup-footer-buttons">
                    <button appTrackClick type="submit" class="button" [disabled]="form.invalid">
                        {{formMode() | async | formModeToText}}
                    </button>
                    <a appTrackClick [routerLink]="'/u/inventory/' + currentInventoryId + '/documents'" class="button">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
