<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel-x" (click)="cancelModal()"><span>&times;</span>
                </button>
                <h4 class="modal-title">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                {{message}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger ok-button" (click)="confirmModal()">Ok</button>
                <button type="button" class="btn btn-warning cancel-button" (click)="cancelModal()">Close</button>
            </div>
        </div>
    </div>
</div>
