<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Vendor Contracts</h1>
    </div>
</div>
<div id="body" class="inventory-list">
    <form [formGroup]="filterForm">
        <div class="mi-form">
            <div class="inner">
                <div class="mi-form-field">
                    <label>Vendor Name</label>
                    <app-select
                        [allOption]="true"
                        formControlName="vendorId"
                        [fetcher]="SelectFetchType.Vendor"></app-select>
                    <!--<app-vendor-dropdown-->
                    <!--formControlName="vendorId"-->
                    <!--[addAllOption]="true"-->
                    <!--(valueChanges)="table.refresh()"-->
                    <!--&gt;</app-vendor-dropdown>-->
                </div>
                <div class="mi-form-field" [hidden]="!filterForm.get('vendorId').value">
                    <label>Contact Name</label>
                    <app-select
                        [allOption]="true"
                        formControlName="vendorContactId"
                        [factoryArgs]="filterForm.get('vendorId').value"
                        [fetcher]="vendorContactFetchFactory"></app-select>
                    <!--<app-vendor-contact-dropdown-->
                    <!--formControlName="vendorContactId"-->
                    <!--[addAllOption]="true"-->
                    <!--[vendorId]="filterForm.get('vendorId').value"-->
                    <!--(valueChanges)="table.refresh()"-->
                    <!--&gt;</app-vendor-contact-dropdown>-->
                </div>
            </div>
        </div>
    </form>

    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[7, 6, 5]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="9%">
                        <col width="5%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <th class="-no-border"><span class="title">Actions</span></th>
                        <th>
                            <a appTrackClick routerLink="/u/contracts/add" class="red-plus -right">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="14.3%">
                        <col width="9%">
                        <col width="5%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="load" [defaultSortColumnKey]="'id'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.vendorName}}</td>
                        <td>
                            <a target="_blank" [routerLink]="'/u/vendors/' + item.vendorId + '/contact/' + item.vendorContactId">
                                {{item.vendorContactName}}
                            </a>
                        </td>
                        <td>{{item.vendorContact.phone}}</td>
                        <td>{{item.vendorContact.email}}</td>
                        <td>{{item.creationTime | date : 'mediumDate'}}</td>
                        <td>
                            <a [href]="item.documentUrl" *ngIf="item.documentUrl" target="_blank">
                                View
                            </a>
                        </td>
                        <td>
                            <a appTrackClick [routerLink]="'/u/contracts/' + item.id" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick class="icon" (appConfirmClick)="delete(item)" appTrackClick
                               confirmMessage="Do you want to delete contract?">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
