<div class="popup-shader -visible"></div>
<div class="popup -revenue" appAddClassAfterTime="-visible">
    <a appTrackClick routerLink="/u/manage-revenue-category" class="popup-close"></a>
    <div class="popup-header">{{ formMode() | async }} Revenue Category</div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="popup-body -auto-height">
            <div class="popup-body-center -padding-30 -narrow">
                <div class="form-field -required">
                    <label>Name</label>
                    <input type="text" formControlName="name" />
                </div>
                <div class="form-field -required">
                    <label>Type</label>
                    <input type="text" formControlName="code">
                </div>
                <div class="form-field">
                    <label>Description</label>
                    <input type="text" formControlName="description" />
                </div>
                <!--<div class="form-field">-->
                    <!--<label>Calculation code</label>-->
                    <!--<app-select [fetcher]="SelectFetchType.RevenueCategoryLocalCode" formControlName="calculateCode"></app-select>-->
                <!--</div>-->
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button appTrackClick class="button" type="submit" [disabled]="form.invalid || form.pristine || submitting">
                    {{ formMode() | async }}
                </button>
                <a appTrackClick routerLink="/u/manage-revenue-category" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
