a
    display inline-block
    width 100%
    max-width 24rem
    border 1px solid #e7e7e7
    text-align center
    margin 0 1rem 2rem 1rem
    box-sizing border-box
    padding 3rem 0

    &:hover
        text-decoration none

span
    display block
    font-size 2rem

i
    font-size 10rem
    margin-bottom 1rem
