<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image" *appAllowShow="[userRole.ADMIN]">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Account Management</h1>
    </div>
</div>
<div id="body" class="account-management">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>

            <div class="records-form-add">
                <a routerLink="/u/accounts/add/account-info" class="red-plus"><span class="red-plus-tooltip">Add New Account</span></a>
            </div>
        </div>
    </div>
    <div class="records-table" appRzTable [rzDisabledColumns]="[3, 4]">
        <div class="records-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="36%">
                        <col width="15%">
                        <col width="20%">
                        <col width="10%">
                        <col width="19%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="records-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="36%">
                        <col width="15%">
                        <col width="20%">
                        <col width="10%">
                        <col width="19%">
                    </colgroup>
                    <tbody app-paging-table
                           #accountsTable
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'id'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>{{item.accountType === 0 ? 'Client' : 'House' }}</td>
                        <td>{{item.contactFirstName}}</td>
                        <td>{{item.status === 0 ? 'Active' : 'Inactive'}}</td>
                        <td>
                            <a appTrackClick
                               [routerLink]="'/u/accounts/' + item.id + '/account-info'"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick
                               routerLink="/u/event-management/add/info"
                               [queryParams]="{ accountId: item.id }"
                               class="icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <!--<a appTrackClick-->
                               <!--[routerLink]="'/u/accounts/' + item.id + '/account-contact-person'"-->
                               <!--class="icon">-->
                                <!--<i class="fa fa-address-card"></i>-->
                            <!--</a>-->
                            <a
                                appTrackClick
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete account?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="records-form-add">
            <a routerLink="/u/accounts/add/account-info" class="red-plus"><span class="red-plus-tooltip">Add New Account</span></a>
        </div>
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>


</div>

<router-outlet></router-outlet>
