<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Inventory</h1>
    </div>
</div>
<app-inventory-paging-prev (prev)="onPrev($event)"></app-inventory-paging-prev>
<app-inventory-paging-next (next)="onNext($event)"></app-inventory-paging-next>
<div style="display: none;">
    <app-paging-table-search placeholder="Search..."></app-paging-table-search>
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>
<div id="body" class="manage-inventory -wizard -step-4">
    <div class="steps four-steps -step-4">
        <div class="inner">
            <app-inventory-creation-steps [inventoryId]="currentInventoryId"
                                          [step]="stepType.Documents"></app-inventory-creation-steps>
        </div>
    </div>
    <div class="heading-block">
        <div class="inner">
            <div class="heading-block-left">
                <h2>Documents</h2>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="inner">
            <table class="simple-table">
                <colgroup>
                    <col width="50%">
                    <col width="35%">
                    <col width="10%">
                    <col width="5%">
                </colgroup>
                <thead>
                <tr>
                    <th *ngFor="let column of columns">
                        <app-paging-table-header-column [column]="column">
                        </app-paging-table-header-column>
                    </th>
                    <th>
                        <a [routerLink]="'/u/inventory/' + currentInventoryId + '/documents/add'"
                           class="red-plus -right">
                            <span class="red-plus-tooltip">Upload new document</span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody app-paging-table
                       #table
                       [loadFunction]="loadFunction()"
                       [defaultSortColumnKey]="'name'">
                <tr *appPagingTableRow="let item;">
                    <td>{{item.name}}</td>
                    <td>{{item.fileName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" class="icon">
                            <i class="fa fa-download"></i>
                        </a>
                        <a (appConfirmClick)="delete(item)"
                           confirmMessage="Do you want to delete document?"
                           class="icon">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
    <div class="bottom-buttons">
        <a appTrackClick [routerLink]="'/u/inventory/' + currentInventoryId + '/asset-status'" class="button">Back</a>
        <a appTrackClick [routerLink]="'/u/inventory/add/asset-information'" class="button">Save & New</a>
        <!--<a href="#" class="button -inverted -wider">Save & Go To Next Step</a>-->
        <a appTrackClick routerLink="/u/inventory" class="button">Done</a>
    </div>
</div>
<router-outlet></router-outlet>
