<div id="billing">
    <div class="inner">
        <div class="visual-editor-wrapper">
            <app-tinymce></app-tinymce>
        </div>
        <div class="visual-editor-buttons">
            <button class="button">Save</button>
            <button class="button">Clear</button>
        </div>
    </div>
</div>
