<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image"><app-venue-logo></app-venue-logo></div>
        <h1>Tax Charges</h1>
    </div>
</div>

<div style="display: none">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
</div>

<div id="body" class="revenue">
    <div class="complex-table" appRzTable [rzDisabledColumns]="[6, 5, 4]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col width="12%">
                        <col width="6%">
                    </colgroup>
                    <tr>
                        <th>
                            <span class="title">
                                Description <app-paging-table-search hidden class="inline" placeholder="Quick Search"></app-paging-table-search>
                            </span>
                        </th>
                        <th>
                            <span class="title">Start Date</span>
                        </th>
                        <th><span class="title">End Date</span></th>
                        <th><span class="title">Tax Rate %</span></th>
                        <th><span class="title">Status</span></th>
                        <th><span class="title">Action</span></th>
                        <th>
                            <a appTrackClick routerLink="/u/tax-charge/add" class="red-plus bottom -right">
                                <span class="red-plus-tooltip">
                                    Add New Tax Charge
                                </span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col width="12%">
                        <col width="6%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="''">
                        <tr *appPagingTableRow="let item;">
                            <td>{{item.name}}</td>
                            <td>{{item.startDate}}</td>
                            <td>{{item.endDate}}</td>
                            <td>{{item.charge}}</td>
                            <td>{{item.status | taxChargeStatusText : item}}</td>
                            <td class="-icon-buttons">
                                <a appTrackClick [routerLink]="'/u/tax-charge/' + item.id" class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a appTrackClick (click)="remove(item)" class="icon">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
