<ul *ngIf="totalPages > 1">
    <li *ngFor="let page of pagesList"
        (click)="pageClicked(page)"
        appTrackClick
        class="page"
        [class.disabled]="pageShouldBeDisabled(page)"
        [class.-back]="page.isPrevious"
        [class.-forward]="page.isNext"
        [class.-current]="page.text == '' + activePage"
        [class.last-page]="page.isLast">
        <a [innerHtml]="page.text">
        </a>
    </li>
</ul>
<ul *ngIf="totalPages <= 1">
    <li>&nbsp;</li>
</ul>
