<div class="popup-users-list">
    <div class="popup-body">
        <div class="popup-body-header">
            <div class="popup-body-header-left">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="popup-body-header-right">
                <a [routerLink]="'/u/event-spaces/' + (eventSpaceIdObs | async) + '/function-spaces/add'"
                   class="red-plus">
                    <span class="red-plus-tooltip">Add New Function Space</span>
                </a>
            </div>
        </div>
        <div class="popup-users-list-table">
            <table class="simple-table">
                <thead>
                <tr>
                    <th>Room Name</th>
                    <th>Short Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody app-paging-table
                       #table
                       [loadFunction]="loadFunction()"
                       [defaultSortColumnKey]="'name'">
                <tr *appPagingTableRow="let item;">
                    <ng-container *ngIf="!form.has(item.id)">
                        <td>{{item.name}}</td>
                        <td>{{item.roomName}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <a (click)="form.edit(item)" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (appConfirmClick)="delete(item)"
                               confirmMessage="Do you want to delete function space?" class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="form.has(item.id)" [formGroup]="form.get(item.id)">
                        <td>
                            <div class="form-field -required full-width">
                                <input formControlName="name" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="form-field -required full-width">
                                <input formControlName="roomName" type="text">
                            </div>
                        </td>
                        <td>
                            <div class="form-field -required full-width">
                                <select formControlName="status">
                                    <option [value]="functionSpaceStatus.Inactive">{{functionSpaceStatus.Inactive}}</option>
                                    <option [value]="functionSpaceStatus.Active">{{functionSpaceStatus.Active}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button (click)="submit(item.id)" [disabled]="form.get(item.id).pristine || form.get(item.id).invalid || form.isSubmitting" class="icon">
                                <i class="fa fa-check"></i>
                            </button>
                            <button class="icon" (click)="form.cancel(item.id, 'There are pending changes that have not been saved. Discard changes?')">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="display: none;">
            <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
        </div>

        <div class="popup-users-list-search">
        </div>

        <div class="pagination">
            <app-paging-table-paging [canNavigate]="canNavigate"></app-paging-table-paging>
        </div>
    </div>
</div>
