<form [formGroup]="form">
    <div id="popup-event-contact-form">
        <div class="popup-body">
            <div class="popup-body-header">
                <h3>{{formMode() | async}} Event Contact Person</h3>
            </div>
            <div class="popup-body-left">
                <div class="form-field -required">
                    <label>First Name</label>
                    <input formControlName="firstName" type="text">
                </div>
                <div class="form-field -required">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text">
                </div>
                <div class="form-field">
                    <label>Title</label>
                    <input formControlName="title" type="text">
                </div>
                <div class="form-field -required">
                    <label>Phone</label>
                    <!--<input formControlName="phone" type="text">-->
                    <app-masked-input formControlName="phone"></app-masked-input>
                </div>
                <div class="form-field">
                    <label>Direct Fax</label>
                    <input formControlName="fax" type="text">
                </div>
            </div>
            <div class="popup-body-right">
                <div class="form-field">
                    <label>Mobile</label>
                    <app-masked-input formControlName="mobile"></app-masked-input>
                    <!--<input formControlName="mobile" type="text">-->
                </div>
                <div class="form-field -required">
                    <label>Email</label>
                    <input formControlName="email" type="text">
                </div>
                <div class="form-field">
                    <label>Department</label>
                    <input type="text" formControlName="department">
                </div>
                <div class="form-field">
                    <label>Notes</label>
                    <input formControlName="notes" type="text">
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="popup-footer-buttons">
                <button class="button" type="button" (click)="submit()" [disabled]="form.invalid || form.pristine">{{formMode() | async}}</button>
                <button class="button" type="button" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>
