<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Inventory</h1>
    </div>
</div>

<app-inventory-paging-prev (prev)="onPrev($event)"></app-inventory-paging-prev>
<app-inventory-paging-next (next)="onNext($event)"></app-inventory-paging-next>

<div id="body" class="manage-inventory -wizard -step-1">
    <div class="steps four-steps -step-1">
        <app-inventory-creation-steps [inventoryId]="entityId() | async"
                                      [step]="stepType.AssetInformation">
        </app-inventory-creation-steps>
    </div>
    <div class="heading-block">
        <div class="inner">
            <div class="heading-block-left">
                <h2>Asset Information</h2>
            </div>
        </div>
    </div>
    <form [formGroup]="form" (submit)="submit()">
        <div class="content-block">

            <div class="inner">
                <div class="content-left-col">
                    <div class="form-field -required">
                        <label>Category</label>
                        <app-select
                            formControlName="categoryId"
                            [fetcher]="SelectFetchType.InventoryCategory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Sub-Category</label>
                        <app-select
                            formControlName="subCategoryId"
                            [factoryArgs]="form.value.categoryId"
                            [fetcher]="inventorySubCategoryFetchFactory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Equipment/Service Item</label>
                        <app-select
                            formControlName="subCategoryItemId"
                            [factoryArgs]="form.value.subCategoryId"
                            [fetcher]="inventorySubCategoryItemFetchFactory"></app-select>
                    </div>
                    <div class="form-field -required">
                        <label>Manufacturer/Make</label>
                        <app-dynamic-autocomplete [loadFunction]="loadManufacturers"
                                                  formControlName="manufacturerName">
                        </app-dynamic-autocomplete>
                    </div>
                    <div class="form-field">
                        <label>Model</label>
                        <input formControlName="model" type="text">
                    </div>
                    <div class="form-field">
                        <label>Serial Number</label>
                        <input formControlName="serialNumber" type="text">
                    </div>
                    <div class="form-field">
                        <label>Inventory Tag Number</label>
                        <input formControlName="tagNumber" type="text">
                    </div>
                    <div class="form-field">
                        <label>Inventory Barcode</label>
                        <input formControlName="barcode" type="text">
                    </div>
                </div>
                <div class="content-right-col">

                    <div class="form-field">
                        <label>Purchase Date</label>
                        <app-calendar formControlName="purchaseDate"></app-calendar>
                    </div>
                    <div class="form-field">
                        <label>Purchase Price</label>
                        <!--<input formControlName="purchasePrice" type="text">-->
                        <app-masked-input formControlName="purchasePrice"
                                          [mask]="'currency'"
                                          [options]="{rightAlign: false}"></app-masked-input>

                    </div>
                    <div class="form-field with-button">
                        <label>Vendor</label>
                        <app-select
                            #vendorsDropdown
                            formControlName="vendorId"
                            [fetcher]="SelectFetchType.Vendor"></app-select>
                        <app-vendor-creation-button (vendorCreated)="vendorCreated()"></app-vendor-creation-button>
                    </div>
                    <div class="form-field">
                        <label></label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="portable" [value]="true">
                            <span class="-radio"></span>
                            Portable
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="portable" [value]="false">
                            <span class="-radio"></span>
                            Installed
                        </label>
                    </div>
                    <div class="form-field">
                        <label>Storage locations</label>
                        <app-select
                            formControlName="storageId"
                            [factoryArgs]="form.value.portable"
                            [fetcher]="storageLocationFetchFactory"></app-select>
                    </div>
                    <div class="form-field">
                        <label></label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="assetOwnerType" [value]="assetOwnerType.Owner">
                            <span class="-radio"></span>
                            Owner
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="assetOwnerType" [value]="assetOwnerType.Installed">
                            <span class="-radio"></span>
                            Operator
                        </label>
                        <label class="custom-radio">
                            <input type="radio" formControlName="assetOwnerType" [value]="assetOwnerType.Vendor">
                            <span class="-radio"></span>
                            Vendor
                        </label>
                    </div>
                    <div class="form-field">
                        <label>Asset Owner</label>
                        <app-select
                            formControlName="assetOwnerId"
                            [factoryArgs]="form.value.assetOwnerType"
                            [fetcher]="inventoryOwnerFetchFactory"></app-select>
                    </div>
                    <div class="form-field -upload-image">
                        <div class="-upload-image" *ngIf="form.get('pictureUrl').value">
                            <img [src]="form.get('pictureUrl').value" alt="">
                        </div>
                        <div class="-upload-title">Upload Image</div>
                        <app-file-uploader
                            formControlName="pictureUrl"
                            [fileUploader]="pictureUploader">
                        </app-file-uploader>
                        <a class="image-remove-button" *ngIf="form.get('pictureUrl').value"
                           confirmMessage="Do you want to delete image?" (appConfirmClick)="removeImage()">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom-buttons">
            <!--<a routerLink="/u/inventory" class="button">Back</a>-->
            <button appTrackClick [disabled]="form.invalid || isLoading" type="submit" class="button -inverted -wider">
                {{formMode() | async}} & Go To Next Step
            </button>
            <button appTrackClick type="button" (click)="cancel()" class="button">Cancel</button>
        </div>
    </form>
</div>
