<select [disabled]="isDisabled" (change)="valueChanged($event)">
    <option *ngFor="let item of items;" [value]="item.value" [disabled]="item.disabled"
            [selected]="isSelected(item.value)">
        {{item.display}}
    </option>
</select>
