<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Manage Purchase Orders</h1>
    </div>
</div>
<!-- PO number, PO Date, Vendor, Status(Tentative, Ordered, Canceled, Paid), Event, Total Cost, Actions (Edit, Delete) -->
<div id="body" class="inventory-list">
    <form [formGroup]="filterForm" (submit)="applyFilters()">
        <div class="mi-form">
            <div class="inner">
                <div class="mi-form-field small">
                    <label>PO Number</label>
                    <input type="number" formControlName="poNumber">
                </div>
                <div class="mi-form-field small">
                    <label>Vendor</label>
                    <app-select formControlName="vendorId" [allOption]="true" [fetcher]="SelectFetchType.Vendor">
                    </app-select>
                    <app-vendor-dropdown style="display: none;" #vendorDropdown></app-vendor-dropdown>
                </div>
                <!-- <div class="mi-form-field small">
                    <label>Event</label>
                    <app-event-dropdown [addAllOption]="true" formControlName="eventId"></app-event-dropdown>
                </div> -->
                <div class="mi-form-field small -short-label">
                    <label>Status</label>
                    <select formControlName="status">
                        <option [value]="''">All</option>
                        <option [value]="purchaseOrderStatuses[status]"
                            *ngFor="let status of purchaseOrderStatuses | keys">{{status}}
                        </option>
                    </select>
                </div>
                <div class="mi-form-sep"></div>
                <div class="mi-form-label">Purchase Date Range:</div>
                <div class="mi-form-field -date-from">
                    <label>From Date</label>
                    <app-calendar formControlName="start"></app-calendar>
                </div>
                <div class="mi-form-field -date-from">
                    <label>To Date</label>
                    <app-calendar formControlName="finish"></app-calendar>
                </div>
                <div class="mi-form-field -short-label mi-form-buttons">
                    <button appTrackClick class="button" type="submit">Apply</button>
                    <button appTrackClick class="button" type="button" (click)="clearFilters()">Clear</button>
                </div>
            </div>
        </div>
    </form>

    <div style="display: none;">
        <app-paging-table-search placeholder="Search..."></app-paging-table-search>
        <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    </div>

    <div class="complex-table" appRzTable [rzDisabledColumns]="[8, 7, 6]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="11.5%">
                        <col width="10%">
                        <col width="9.5%">
                        <col width="10.5%">
                        <col width="13.5%">
                        <col width="13.5%">
                        <col width="11%">
                        <col width="11%">
                        <col width="7%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <th>
                            <a appTrackClick routerLink="/u/manage-purchase-orders/add" class="red-plus --right">
                                <span class="red-plus-tooltip">Add New</span>
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body items">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="11.5%">
                        <col width="10%">
                        <col width="9.5%">
                        <col width="10.5%">
                        <col width="13.5%">
                        <col width="13.5%">
                        <col width="9%">
                        <col width="15%">
                        <col width="1%">
                    </colgroup>
                    <tbody [defaultSortColumnKey]="'createdAt'" app-paging-table #table [loadFunction]="loadFunction()">
                        <tr *appPagingTableRow="let item;">
                            <td>{{poPrefix}} {{ item.poNumber }}</td>
                            <td>{{ item.createDate | date : 'mediumDate' }}</td>
                            <td>{{ item.status | titlecase }}</td>
                            <td>{{ item.eventName }}</td>
                            <td>{{ vendorDropdown.getVendorName(item.vendorId) }}</td>
                            <td>
                                <a target="_blank"
                                    [routerLink]="'/u/vendors/' + item.vendorId + '/contact/' + item.contactId">
                                    {{ item.contactName }}
                                </a>
                            </td>
                            <td>{{ item.totalCost | number:'1.2-2'}}</td>
                            <!-- <td></td>
                            <td></td> -->
                            <td>
                                <a appTrackClick [routerLink]="'/u/manage-purchase-orders/' + item.id" class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            
                                <a appTrackClick routerLink="/u/manage-purchase-orders/add"
                                    [queryParams]="{ copy: item.id }" class="icon">
                                    <i class="fa fa-copy"></i>
                                </a>
                           
                                <a (appConfirmClick)="delete(item)" appTrackClick
                                    confirmMessage="Do you want to delete order?" class="icon">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                          
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>