<div *ngIf="!column.isSortable" class="title" [innerHTML]="column.title"></div>

<div *ngIf="column.isSortable" (click)="sort()" appTrackClick class="sortable">
    <span class="title" [innerHTML]="column.title"></span>
    <i *ngIf="column.isSortable"
       class="fa"
       [ngClass]="sortClass()"
    ></i>
</div>
