<div class="heading-block">
    <div class="inner">
        <div class="heading-block-left">
            <h2>Default Settings</h2>
        </div>
    </div>
</div>
<form [formGroup]="form" (submit)="submit()">
    <div class="property-block">
        <div class="inner">
            <div class="property-left-col">
                <div class="form-field -required">
                    <label>Billing Format</label>
                    <!--<input formControlName="billingFormat" type="text">-->
                    <select formControlName="billingFormat">
                        <option [value]="billingFormat.DAILY">{{billingFormat.DAILY}}</option>
                        <option [value]="billingFormat.EVENT">{{billingFormat.EVENT}}</option>
                    </select>
                </div>
                <div class="form-field -required">
                    <label>Select Currency</label>
                    <select formControlName="currency">
                        <option value="usd">US Dollar</option>
                        <option value="eur">Euro</option>
                    </select>
                </div>
                <div class="form-field -required">
                    <label>Event Type</label>
                    <select formControlName="eventType">
                        <option [value]="null" disabled hidden>Please Select...</option>
                        <option [value]="eventType.Group">Group</option>
                        <option [value]="eventType.Local">Local</option>
                        <option [value]="eventType.Internal">Internal</option>
                    </select>
                </div>
                <div class="form-field -required">
                    <label>Service Charge Default</label>
                    <label class="custom-radio">
                        <input type="radio" formControlName="serviceChargeDefault" [value]="serviceCharge.PreDiscount">
                        <span class="-radio"></span>
                        Pre-Discount
                    </label>
                    <label class="custom-radio">
                        <input type="radio" formControlName="serviceChargeDefault" [value]="serviceCharge.PostDiscount">
                        <span class="-radio"></span>
                        Post-Discount
                    </label>
                </div>
            </div>
            <div class="property-right-col">
                <div class="form-field -no-label">
                    <label class="custom-checkbox">
                        <input formControlName="laborSummaryIncluded" type="checkbox"
                                                          name="discount"><span
                        class="-checkbox"></span> Include Labor Summary Report w/Workflow Sheets
                    </label>
                </div>
                <div class="form-field -no-label">
                    <label class="custom-checkbox"><input formControlName="sortedByCategory" type="checkbox"
                                                          name="discount"><span
                        class="-checkbox"></span> Sort Billing/Proposal Items by Category</label>
                </div>
                <div class="form-field -no-label">
                    <label class="custom-checkbox"><input formControlName="revisionDateShown" type="checkbox"
                                                          name="discount"><span
                        class="-checkbox"></span> Show Revision Date on Billing/Proposals</label>
                </div>
            </div>
            <div class="float-clear"></div>
            <div class="property-left-col" style="padding-top:0">
                <div class="property-grey-block">
                    <!--<div class="form-field">-->
                        <!--<label class="-bigger">Document Serial</label>-->
                        <!--<div class="-small-text">xxx denotes auto numbering | e.g. SH-001</div>-->
                    <!--</div>-->
                    <div class="form-field">
                        <label>TEO Prefix</label>
                        <input formControlName="teo" type="text" placeholder="SH-xxxx" style="width:110px;">
                        <label class="-normal">TEO Start No.</label>
                        <input formControlName="teoStart" appNumberInput type="number" placeholder="001" style="width:110px;">
                    </div>
                    <div class="form-field">
                        <label>PO Prefix</label>
                        <input formControlName="po" type="text" placeholder="SH-xxxx" style="width:110px;">
                        <label class="-normal">PO Start No.</label>
                        <input formControlName="poStart" appNumberInput type="number" placeholder="001" style="width:110px;">
                    </div>
                </div>
            </div>
            <div class="property-right-col" style="padding-top:0">
                <div class="property-grey-block">
                    <div class="form-field">
                        <label class="-bigger">Financial Year</label>

                    </div>
                    <div class="form-field">
                        <label>From Month</label>
                        <app-select
                            formControlName="finYearFrom"
                            [fetcher]="SelectFetchType.Month"></app-select>
                    </div>
                    <div class="form-field">
                        <label>To Month</label>
                        <app-select
                            formControlName="finYearTo"
                            [fetcher]="SelectFetchType.Month"></app-select>
                    </div>
                </div>
            </div>
            <div class="float-lear"></div>
            <div class="property-col">
                <div class="form-field">
                    <label>Report Disclaimer</label>
                    <input formControlName="reportDisclaimer" type="text">
                </div>
                <div class="form-field">
                    <label>Email Disclaimer</label>
                    <input formControlName="emailDisclaimer" type="text">
                </div>
            </div>
        </div>
    </div>
    <button type="submit" style="display: none;"></button>
</form>
