<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Decision Tree Management</h1>
    </div>
</div>

<div id="body" class="revenue">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
        </div>
    </div>
    <div class="complex-table" appRzTable [rzDisabledColumns]="[5, 4]">
        <div class="complex-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="10%">
                        <col width="25%">
                        <col width="10%">
                        <col width="24%">
                        <col width="6%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column"></app-paging-table-header-column>
                        </th>
                        <th>
                            <div class="sync-wrapper">
                                <button type="button" class="button" (click)="sync()" [disabled]="isSyncing">Sync</button>
                            </div>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="complex-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="25%">
                        <col width="10%">
                        <col width="25%">
                        <col width="10%">
                        <col width="24%">
                        <col width="6%">
                    </colgroup>
                    <tbody app-paging-table #table [loadFunction]="loadFunction()" [defaultSortColumnKey]="''">
                        <tr *appPagingTableRow="let item;">
                            <td>{{item.name}}</td>
                            <td>{{item.treeId}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.type | titlecase}}</td>
                            <td>
                                <app-subscriber-names [subscriberIds]="item.subscriberIds"></app-subscriber-names>
                            </td>
                            <td class="-icon-buttons">
                                <a [routerLink]="'/u/decision-trees/' + item.id" class="icon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
