.text-xs-left {
    text-align: left;
}

.text-xs-right {
    text-align: right;
}

.text-xs-center {
    text-align: center;
}

.text-xs-justify {
    text-align: justify;
}

@media (min-width: 768px) {
    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .text-md-left {
        text-align: left;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-justify {
        text-align: justify;
    }
}

screen-sm()
    @media (min-width: 768px)
        {block}

screen-md()
    @media (min-width: 992px)
        {block}

screen-lg()
    @media (min-width: 1200px)
        {block}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no-margin
    .form-group
        margin 0

// overrides
.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.popup-tabs-nav a.-disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.popup-shader.-visible {
    display: block;
}

tbody
    i.fa
        &.fa-pencil,
        &.fa-address-card,
        &.fa-trash,
        &.fa-copy,
        &.fa-plus
            font-size 1.5rem
            cursor pointer

.popup-users-add-new
    display block !important

.popup-body-header
    .red-plus
        display block

.heading-block-right
    .red-plus
        display block

.records-table-body td
    word-break break-all

select[multiple]
    height auto
    background transparent

    &:hover
        background transparent

.records-form-search
    float left !important

.records-form-label
    float right !important

.records-form-dropdowns
    float right !important

.popup-body
    &.event-space
        min-height 300px

.red-plus
    &.bottom
        .red-plus-tooltip
            top: 100%;
            &:after
                content: "";
                position: absolute;
                top: auto;
                bottom: 100%;
                right: 15px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;

.select2-selection.select2-selection--multiple,
.select2-selection
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 1px solid #212121 !important;
    border-radius: 0px !important;

.select2-container
    .select2-selection--single
        height: 40px !important;

app-function-equipments
    .select2-container
        .select2-selection--single
            height: 28px !important;

            .select2-selection__rendered
                line-height: 28px !important;

.complex-table-body
    min-height: 30px;

.form-field


.form-field
    &.with-button
        app-dynamic-dropdown
            & > select
                width calc(100% - 40px)
        app-vendor-creation-button
            & > button
                vertical-align bottom

.image-remove-button
    color red
    font-size 2rem
    cursor pointer
    float: right;
    margin-right: 0.5rem;

.form-field.upload
    input
        margin-top 0.8rem !important
        max-width 100%

app-paging-table-search
    &.inline
        form
            display inline-block !important

.form-field input[type="number"]
    width: 100%

.complex-table.-budget
    input[type=number],
    input[type=text]
        margin-top: -6px;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        font-size: 16px;
        background: none

    input[type=number]:focus
        background: linear-gradient(to right, #ffffff, #f3f3f3, #ffffff)

.heading-block-center
    text-align: center;

dp-date-picker
    display block !important
    width 100%

.dp-picker-input {
    width: 100%;
    padding-right: 33px !important;
    background-image: url(/assets/images/icon-time-back.png);
    background-repeat: no-repeat;
    background-position: right
}

.form-field:not(.-required) > label:after
    display: none

.title-image
    top: -60px !important;
    right 0 !important

    .content-table th:first-child,
    .content-table td:first-child {
        padding-left: 20px;
    }

.content-table.-narrow th,
.content-table.-narrow td {
    padding: 10px 6px;
}

.content-table.-narrow th:first-child,
.content-table.-narrow td:first-child {
    padding-left: 20px;
}

.content-table td input[type=text],
.content-table td input[type=number],
.content-table td select {
    display: block;
    margin-top: -4px;
    margin-bottom: -2px;
    padding-top: 0;
    padding-bottom: 0;
    height: 29px;
    line-height: 29px;
    width: 100%
}

[hidden]
    display: none !important

.popup
    position: absolute !important

input,
textarea,
select
    &:focus
        border-bottom: 2px solid #5935b0 !important;

//background-color: #eae7e7 !important;
//border 1px solid red !important

.form-field
    position: relative
    .percent
        position: absolute
        top: 10px
        right: 0

// table column styles
.complex-table-body td,
.records-table-body td
    word-wrap: break-word
    word-break: break-word

.inaccessible
    opacity 0.5
    pointer-events none

.inaccessible.without-opacity
    opacity 1

.select2-container--default .select2-selection--single .select2-selection__rendered
    line-height 40px !important

.form-field.with-button >
    app-select
        & > div
            width: calc(100% - 40px) !important;

.db-block-table-body
    min-height: 101px !important
    max-height: 505px !important
    height: auto !important

.select2 {
    width: 100% !important;
}

body.modal-open
    overflow: hidden !important

.form-field.full-width
    width: 100%
    padding-left: 0
    input, select
        width: 100%

tbody i.fa.fa-check,
tbody i.fa.fa-times {
    font-size: 1.5rem;
    cursor: pointer;
}

tbody i.fa.fa-check
    color: #62ff2f

tbody i.fa.fa-times
    color: #f62a4b

button.icon
    background-color: transparent
    border: 0
    &[disabled] i
        color: grey!important
        cursor: not-allowed

.rz-table {
    table-layout: fixed;
    border-collapse: collapse;
}

.rz-table th {
    position: relative;
    min-width: 25px;
}

.rz-table th .rz-handle {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize !important;
}

.rz-table th .rz-handle.rz-handle-active {
    border-right: 1px dotted #000;
}

[apprztable] .JColResizer > tbody > tr > th,
[apprztable] .JColResizer > tbody > tr > td
    > .title,
    app-paging-table-header-column > .title,
    app-paging-table-header-column > .sortable
        padding-left 15px
        padding-right 15px
        display block
    &:last-child
        overflow visible
    &.actions
        overflow: visible!important
        > .red-plus
            margin-left 15px

[apprztable] .JColResizer > tbody > tr > td
    padding-left 15px!important
    padding-right 15px!important

th.actions
    overflow: visible!important
th.checkbox-col,
td.checkbox-col
    position relative
    overflow visible!important
    input
        position: absolute
        left: -10px
        top: 21px

[apprztable] table
    table-layout: fixed

.iti{
    width:100%;
}