<div
    #customButtonSlot
    (click)="popupVisible = true"
    [ngStyle]="{'display': customButtonSlot.childNodes.length <= 2 ? 'none' : 'block'}"
>
    <ng-content></ng-content>
</div>
<button *ngIf="customButtonSlot.childNodes.length <= 2" type="button" class="add-button" (click)="popupVisible = true">
    <i class="fa fa-plus"></i>
</button>

<app-modal (close)="closePopup()" [visible]="popupVisible">
    <div class="popup-header">Add Vendor</div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div id="popup-contact-person">

                <div class="popup-body">
                    <div class="popup-body-header">
                        <h3>Vendor</h3>
                    </div>
                    <div class="popup-body-left">
                        <div class="form-field -required">
                            <label>Vendor Company</label>
                            <input type="text" formControlName="name">
                        </div>
                        <div class="form-field -required" formGroupName="address">
                            <label>Address</label>
                            <input type="text" formControlName="address">
                        </div>
                        <div class="form-field" formGroupName="address">
                            <label>Address 2</label>
                            <input type="text" formControlName="address2">
                        </div>
                        <div class="form-field -required" formGroupName="address">
                            <label>City</label>
                            <input type="text" formControlName="city">
                        </div>
                        <div class="form-field" formGroupName="address">
                            <label>State</label>
                            <app-select formControlName="stateId"
                                        [fetcher]="SelectFetchType.State"></app-select>
                            <!--<select formControlName="stateId"-->
                            <!--[defaultState]="form.get('address.stateId').value"-->
                            <!--appStateList></select>-->
                        </div>
                        <div class="form-field -required" formGroupName="address">
                            <label>Country</label>
                            <app-select formControlName="countryId"
                                        [fetcher]="SelectFetchType.Country"></app-select>
                            <!--<select formControlName="countryId"-->
                            <!--appCountryList-->
                            <!--[defaultCountry]="form.get('address.countryId').value">-->
                            <!--</select>-->
                        </div>
                        <div class="form-field -required" formGroupName="address">
                            <label>Zip/Postal Code</label>
                            <input type="text" formControlName="postCode">
                        </div>
                    </div>
                    <div class="popup-body-right">
                        <div class="form-field ">
                            <label>Phone</label>
                            <!--<input type="text" formControlName="phone">-->
                            <app-masked-input formControlName="phone"></app-masked-input>
                        </div>
                        <div class="form-field">
                            <label>Fax</label>
                            <input type="text" formControlName="fax">
                        </div>
                        <div class="form-field">
                            <label>Website</label>
                            <input type="text" formControlName="website">
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <div class="popup-footer-buttons">
                        <button class="button" type="submit" [disabled]="form.invalid">Add</button>
                        <a (click)="closePopup()" class="button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-modal>
