.add-button
    cursor pointer
    background transparent
    border 0
    color #5935b0
    font-size 1.5rem
app-select
    width 100%
#popup-contact-person .form-field label
    margin-left: -211px;
    width: 190px;

#popup-contact-person .form-field
    padding-left: 153px;
