<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Unpaid Accounts</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <div class="form -pricing" [formGroup]="form">
                <div class="form-field -required">
                    <label>Start Date</label>
                    <app-calendar formControlName="from"></app-calendar>
                </div>
                <div class="form-field -required">
                    <label>End Date</label>
                    <app-calendar formControlName="to"></app-calendar>
                </div>
                <div class="form-field -buttons">
                    <button appTrackClick
                            (click)="generate(ReportAction.View)"
                            [disabled]="inProgress  || form.invalid"
                            class="button">View
                    </button>
                    <button appTrackClick
                            (click)="generate(ReportAction.Print)"
                            [disabled]="inProgress  || form.invalid"
                            class="button">Print
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
