<div id="title" class="text-center">
    <div class="inner">
        <div *appAllowShow="[userRole.ADMIN]" class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Properties</h1>
    </div>
</div>
<div id="body" class="account-management">
    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>
            <div class="records-form-label">Items Per Page:</div>
            <div *appAllowShow="[userRole.SUPER_ADMIN]" class="records-form-add">
                <a routerLink="/u/venues/add" class="red-plus">
                    <span class="red-plus-tooltip">
                        Add New Property
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="records-table">
        <div class="records-table-header">
            <div class="inner">
                <table>
                    <colgroup app-colgroup-for-widths [colsCount]="columns.length">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="records-table-body">
            <div class="inner">
                <table>
                    <colgroup app-colgroup-for-widths [colsCount]="columns.length">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'name'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>
                            <a appTrackClick
                               [routerLink]="'/u/venues/' + item.id"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete property?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div *appAllowShow="[userRole.SUPER_ADMIN]" class="records-form-add">
            <a routerLink="/u/venues/add" class="red-plus"><span class="red-plus-tooltip">Add New Property</span></a>
        </div>
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>

</div>
