<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Labor Summary Report</h1>
    </div>
</div>
<div id="body" class="pricing">
    <div class="grey-block">
        <div class="inner">
            <form [formGroup]="form">
                <div class="form -pricing">
                    <div class="form-field -required">
                        <label>Start Date</label>
                        <app-calendar format="yy/mm/dd" formControlName="fromDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>End Date</label>
                        <app-calendar format="yy/mm/dd" [minDate]="form.get('fromDate').value" formControlName="toDate"></app-calendar>
                    </div>
                    <div class="form-field -buttons">
                        <button appTrackClick (click)="generate(ReportAction.View)" class="button" [disabled]="isDisabled || form.invalid || form.pristine">View</button>
                        <button appTrackClick (click)="generate(ReportAction.Print)" class="button" [disabled]="isDisabled || form.invalid || form.pristine">Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>