<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image"><app-venue-logo></app-venue-logo></div>
        <h1>Terms and Conditions</h1>
    </div>
</div>
<div id="body" class="terms">
    <div class="subheader-tabs">
        <div class="inner">
            <ul>
                <li appTrackClick routerLinkActive="-current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/u/terms">Terms & Conditions</a></li>
                <li appTrackClick routerLinkActive="-current"><a routerLink="/u/terms/billing">Billing Comment</a></li>
                <li appTrackClick routerLinkActive="-current"><a routerLink="/u/terms/proposal">Proposal Comment</a></li>
            </ul>
        </div>
    </div>
    <div class="visual-editor">
        <router-outlet></router-outlet>
    </div>
</div>
