<div id="title" class="text-center">
    <div class="inner">
        <div class="title-image" *appAllowShow="[UserRole.ADMIN]">
            <app-venue-logo></app-venue-logo>
        </div>
        <h1>Event Management</h1>
    </div>
</div>
<div id="body" class="account-management">
    <form [formGroup]="filterForm" (submit)="applyFilters()">
        <div class="mi-form">
            <div class="inner">
                <!-- <div class="mi-form-label">Date Range:</div> -->
                <div class="mi-form-field -date-from">
                    <label style="float: none;">Start Date After</label>
                    <app-calendar formControlName="start"></app-calendar>
                </div>
                <div class="mi-form-field -short-label mi-form-buttons" [ngStyle]="{'padding-left':0}">
                    <button appTrackClick class="button" type="submit">Apply</button>
                    <button appTrackClick class="button" type="button" (click)="clearFilters()">Clear</button>
                </div>
            </div>
        </div>
    </form>


    <div class="records-form">
        <div class="inner">
            <div class="records-form-search">
                <app-paging-table-search placeholder="Search..."></app-paging-table-search>
            </div>
            <div class="records-form-dropdowns">
                <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
            </div>

        <!-- </div>
            <form [formGroup]="filterForm" (submit)="applyFilters()">
               - <div class="mi-form">
                    <div class="inner"> -
                         <div class="mi-form-label">Date Range:</div> -
                        <div class="mi-form-field -date-from">
                            <label style="float: none;">Start Date Prior To</label>
                            <app-calendar formControlName="start"></app-calendar>
                        </div>
                        <div class="mi-form-field -short-label mi-form-buttons" [ngStyle]="{'padding-left':0}">
                            <button appTrackClick class="button" type="submit">Apply</button>
                            <button appTrackClick class="button" type="button" (click)="clearFilters()">Clear</button>
                        </div>
                    </div>
                </div> -
            </form>
    </div> -->

            <div class="records-form-label">Items Per Page:</div>

            <div class="records-form-add">
                <a routerLink="/u/functions/add" class="red-plus"><span class="red-plus-tooltip">Add New Event Function</span></a>
            </div>
        </div>
    </div>
    <div class="records-table" appRzTable [rzDisabledColumns]="[5, 4]">
        <div class="records-table-header">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="23%">
                        <col width="24%">
                        <col width="12%">
                        <col width="12%">
                        <col width="10%">
                        <col width="19%">
                    </colgroup>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="records-table-body">
            <div class="inner">
                <table>
                    <colgroup appRzColGroup>
                        <col width="23%">
                        <col width="24%">
                        <col width="12%">
                        <col width="12%">
                        <col width="10%">
                        <col width="19%">
                    </colgroup>
                    <tbody app-paging-table
                           #table
                           [loadFunction]="loadFunction()"
                           [defaultSortColumnKey]="'eventStartDate'">
                    <tr *appPagingTableRow="let item;">
                        <td>{{item.name}}</td>
                        <td>{{item.clientName}}</td>
                        <!--<td>{{item.clientPrimaryContactName}}</td>-->
                        <!--<td>{{item.masterAccountNumber}}</td>-->
                        <td>{{item.eventStartDate | date}}</td>
                        <td>{{item.eventEndDate | date}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <a appTrackClick
                               [routerLink]="'/u/event-management/' + item.id + '/info'"
                               [queryParams]="{ ref: 'event' }"
                               class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a appTrackClick
                               routerLink="/u/functions/add"
                               [queryParams]="{ accountId: item.accountId, eventId: item.id }"
                               class="icon">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a appTrackClick class="icon" [routerLink]="'/u/event-management/' + item.id + '/contacts'"
                               [queryParams]="{ ref: 'event' }">
                                <i class="fa fa-address-card"></i>
                            </a>
                            <a
                                appTrackClick
                                (appConfirmClick)="delete(item)"
                                confirmMessage="Do you want to delete event?"
                                class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="records-form-add">
            <a routerLink="/u/functions/add" class="red-plus"><span class="red-plus-tooltip">Add New Event Function</span></a>
        </div>
        <div class="pagination">
            <app-paging-table-paging></app-paging-table-paging>
        </div>

    </div>
</div>


<router-outlet></router-outlet>
