<div id="popup-events">
    <div class="popup-events-list">
        <div class="popup-body">
            <div class="popup-body-header">
                <div class="popup-body-header-left">
                    <app-paging-table-search placeholder="Quick Search"></app-paging-table-search>

                </div>
                <div class="popup-body-header-right">
                    <a appTrackClick [routerLink]="addUrl" class="red-plus"><span class="red-plus-tooltip">Add New Contact</span></a>
                </div>
            </div>
            <div class="popup-events-list-table">
                <table class="simple-table">
                    <colgroup>
                        <col width="30%">
                        <col width="17%">
                        <col width="28%">
                        <col width="15%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th *ngFor="let column of columns">
                            <app-paging-table-header-column [column]="column">
                            </app-paging-table-header-column>
                        </th>
                    </tr>
                    </thead>
                    <tbody app-paging-table #table [loadFunction]="load" [defaultSortColumnKey]="'firstName'">
                    <tr *appPagingTableRow="let item;">
                        <td><a appTrackClick [routerLink]="editUrl(item)" style="cursor: pointer;">
                            {{item.firstName}} {{item.lastName}}
                        </a></td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.department}}</td>
                        <td>
                            <a appTrackClick [routerLink]="editUrl(item)" class="icon">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a (appConfirmClick)="delete(item)" confirmMessage="Do you want to delete contact?" class="icon">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="popup-events-list-search">

            </div>
            <div class="pagination">
                <app-paging-table-paging></app-paging-table-paging>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <div *ngFor="let column of columns">
        <app-paging-table-header-column [column]="column">
        </app-paging-table-header-column>
    </div>
    <app-paging-table-items-per-page></app-paging-table-items-per-page>
</div>

<router-outlet></router-outlet>
