<div class="heading-block">
    <div class="inner">
        <div class="heading-block-left">
            <h2>Property Contacts</h2>
        </div>
        <div class="heading-block-right">
            <a
                [routerLink]="'/u/venues/' + venueId + '/contact/add'"
                class="red-plus">
                <span class="red-plus-tooltip">Add New Contact</span>
            </a>
        </div>
    </div>
</div>
<div style="display: none;">
    <app-paging-table-items-per-page class="no-margin"></app-paging-table-items-per-page>
    <app-paging-table-search placeholder="Search..."></app-paging-table-search>
    <app-paging-table-paging></app-paging-table-paging>
</div>
<div class="property-block">
    <div class="inner">
        <table class="simple-table">
            <thead>
            <tr>
                <th *ngFor="let column of columns">
                    <app-paging-table-header-column [column]="column">
                    </app-paging-table-header-column>
                </th>
            </tr>
            </thead>
            <tbody app-paging-table
                   #table
                   [loadFunction]="loadFunction()"
                   [defaultSortColumnKey]="'firstName'">
            <tr *appPagingTableRow="let item;">
                <td>
                    <a [routerLink]="'/u/venues/' + venueId + '/contact/' + item.id">
                        {{item.firstName}}
                    </a>
                </td>
                <td>{{item.phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.department}}</td>
                <td>
                    <div>
                        <label>
                            <input type="checkbox" [name]="'venue-owner-' + item.id" [checked]="venueOwner == item.id" (click)="toggleVenueOwner(item)">
                            <span> Property Owner</span>
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" [name]="'venue-operator-' + item.id" [checked]="venueOperator == item.id" (click)="toggleVenueOperator(item)">
                            <span> Property Operator</span>
                        </label>
                    </div>
                </td>
                <td>
                    <a appTrackClick
                       [routerLink]="'/u/venues/' + venueId + '/contact/' + item.id"
                       class="icon">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a
                        (appConfirmClick)="delete(item)"
                        confirmMessage="Do you want to delete contact?"
                        class="icon">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
