<div class="popup-shader -visible"></div>

<div class="popup" appAddClassAfterTime="-visible">
    <a appTrackClick routerLink="/u/tax-charge" class="popup-close"></a>
    <div class="popup-header">
        <!--{{formMode() | async | formModeToText}} -->
        Tax Charge
    </div>
    <div class="popup-tabs-container">
        <form [formGroup]="form" (submit)="submit()">
            <div class="popup-body event-space">
                <div class="popup-body-left">
                    <div class="form-field -required">
                        <label>Description</label>
                        <input type="text" formControlName="name">
                    </div>
                    <div class="form-field -required">
                        <label>Start Date</label>
                        <app-calendar formControlName="startDate"></app-calendar>
                    </div>
                    <div class="form-field -required">
                        <label>End Date</label>
                        <app-calendar formControlName="endDate"></app-calendar>
                    </div>
                </div>
                <div class="popup-body-right">
                    <!--<div class="form-field -required">-->
                        <!--<label>Revenue Categories</label>-->
                        <!--<select formControlName="revenueCategoryId">-->
                            <!--<option *ngFor="let revenue of revenueCategoryList" [value]="revenue.revenueCategoryId">-->
                                <!--{{ revenue | revenueText }}-->
                            <!--</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-field -required">
                        <label>Tax Rate %</label>
                        <input formControlName="charge" appNumberInput type="number">
                    </div>
                    <div class="form-field -required" style="display: none">
                        <label>Status</label>
                        <select formControlName="status">
                            <option [value]="taxChargeStatus.Active">Active</option>
                            <option [value]="taxChargeStatus.Inactive">Inactive</option>
                            <option [value]="taxChargeStatus.Expired" disabled>Expired</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="popup-footer">
                <div class="popup-footer-buttons">
                    <button appTrackClick type="submit" class="button" [disabled]="form.invalid || submitting">
                        <!--{{formMode() | async | formModeToText}}-->
                        Save
                    </button>
                    <a appTrackClick routerLink="/u/tax-charge" class="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
